{% extends "commonRight.html" %}
{% block second %}
<script type="text/javascript" src="/static/js/hackathon.js"></script>
<link href="/static/css/hackathon.css" rel="stylesheet">
{% endblock %}

{% block left %}


<a id="third-leave" style="color:#ffffff">取消</a>

<div class="center">
    <div id="hackathon_nav" class="mid" style="overflow:hidden;">
        <a id="new-window" href="#" target="_blank"><img src="/static/pic/fullscreen.png"/></a>
    </div>

    <div id="hack_main" class="bottom">
        <div id="hack_main_load">
            <div style="width:100%;height:100%;text-align:center;margin-top:150px;">
                <p>正在为您创建开发、部署环境,请稍等......</p>
                <img src="/static/pic/89.GIF">
            </div>
        </div>
        <div id="hack_main_tips" class="hidden">
            <p style="margin-top: 50px;font-size:20px; font-weight:bold">您的开发及部署环境已经准备就绪:</p>

            <div>
                <p id="hack_pub_web"><b>website:</b>
                </p>
                {% if register %}
                <p><b>JStorm endpoint:</b>
                    {{register.jstrom_api}}
                </p>

                <p><b>JStrom Management Portal:</b>
                    <a id="JstormAdmin" target="_blank" href="{{register.jstrom_mgmt_portal}}">{{register.jstrom_mgmt_portal}}</a>
                </p>
                {% endif %}
            </div>
        </div>

        <div id="hack_main_cancelled" class="hidden">
            <p>你的体验环境已经被删除，5s后回到初始配置页面</p>
        </div>
        <div id="hack_main_error" class="hidden">
            <iframe src="/error" width="100%" height="500px" class="" style="border: 1px solid #000;" frameborder="yes"
                    marginwidth="10" scrolling="yes" onmouseover="setFocusThickboxIframe()"
                    onmousemove="setFocusThickboxIframe()" onmouseout="setFocusThickboxIframe()"
                    onfocus="setFocusThickboxIframe()" onblur="setFocusThickboxIframe()"></iframe>
        </div>
    </div>

    <!--<div style="text-align:right;margin-right: 10px;padding: 10px">-->
    <!--<button id="submit" name="submit" class="red" disabled="disabled">提交</button>-->
    <!--</div>-->
</div>
{% endblock %}
