{% extends "base.html" %}
    {% block head %}
        <script type="text/javascript" src="/config.js"></script>
        <script src="/static/js/login.js"></script>
        <script src="/static/js/index.js"></script>
        <link rel="stylesheet" href="/static/css/index.css">
    {% endblock %}
    {% block header %}

    {% endblock %}

    {% block content %}



    <div class="mainContainer">
       <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="main-wrapper">
            <!--<div class="left">-->
                <!--<div class="pattern-column alignleft">-->
                    <!--&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;-->
                <!--</div>-->
            <!--</div>-->

            <div class="w-container">
                <div class="p-center" style="font-size:63px;padding-bottom: 10px;">
                    <img class="logo64" src="/static/pic/icon64.png" />
                    <!--<h1 style="float:left"><font >开放黑客松</font></h1>-->
                    开放黑客松
                </div>
                <!-- <span class="p-center"><h1><font color="white"><img src="/pic/indexContent1.png" style="width:50%" /></font></h1></span> -->
                <!--                <span class="p-center"><b><h2><font>更方便快捷的在云端学习IT知识</font></h2></b> -->
                <!-- <span class="p-center"><h1><font color="white"><img src="/pic/indexContent2.png" style="width:50%" /></font></h1></span> -->

                <div class="upper-home-area group">
                    <div class="home-news-area-wrapper">
                        <ul class="home-news-area group rslides rslides1" id="newsSlider" style="max-width: 1280px;">
                            <li id="rslides1_s0" class="rslides1_on">
                                <h3>活动主办方</h3>
                                <img width="770" height="300" src="/static/pic/LOGO.png" class="attachment-slider-thumb wp-post-image" alt="kaiyaunshe-carousel">
                            </li>

                            <li id="rslides1_s1" class="">
                                <h3>Open Hackathon</h3>
                                <img width="768" height="300" src="/static/pic/huodongxing.png" class="attachment-slider-thumb wp-post-image" alt="MSOpenTechChina">
                            </li>

                            <li id="rslides1_s2" class="">
                                <h3>Jstorm Platfrom</h3>
                                <img width="768" height="300" src="/static/pic/JstormPlatfrom.jpg" class="attachment-slider-thumb wp-post-image" alt="VMDepot News Image">
                            </li>

                            <li id="rslides1_s3" class="">
                                <h3>Open Hackathon Platfrom Architecture</h3>
                                <img width="768" height="300" src="/static/pic/HackathonPlatfrom.jpg" class="attachment-slider-thumb wp-post-image" alt="openJDK news">
                            </li>



                        </ul>
                        <!-- home news area rslides -->
                    </div>
                    <!-- home news area wrapper -->
                </div>





                <div class="btn-group-vertical p-center">
                    {% if "github" in providers %}
                    <span>
                        <a class="btn btn-warning btn-lg" role="button" id="githublogin">
                            <img src="/static/pic/github.png" height="25" width="25" style="float:left"/><span class="ds-service-link">github</span>
                        </a>
                    </span>
                    {% endif %}
                    {% if "qq" in providers %}
                    <span>
                        <a class="btn btn-warning btn-lg" role="button" id="qqlogin">
                            <img src="/static/pic/github.png" height="25" width="25" style="float:left"/><span class="ds-service-link">QQ</span>
                        </a>

                    </span>
                    {% endif %}
                </div>
                <span class="p-center">
                    <b>
                        <h5>
                            <b>建议使用环境：支持HTML5的浏览器(IE 10+,Chrome,Firefox,Safari)，请尽量使用分辨率较高的宽幅显示。</b><br><br>
                        </h5>
                    </b>
                </span>
            </div>

            <!--<div class="right">-->
                <!--<div class="pattern-column alignright">-->
                    <!--&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    {% endblock %}


