@charset "UTF-8";
/*styles by v-allenc*/
body {
  font-size:15px;
  background-color: #e9ebec;
}
body:after{
  position:relative;
}
.login-box,
.register-box {
  width: 400px;
  padding: 20px;
  margin: 80px auto;
  background: #fff;
}
.login-box .header,
.register-box .header {
  background: #34383c;
  font-size:18px;
  color: white;
  text-align: center;
  margin: -20px -20px 20px -20px;
  padding: 15px;
  text-transform: uppercase;
}

.btn-github,
.btn-qq,
.btn-weibo {
  color: white;
  position: relative;
  text-align: center;
  height: 40px;
  width: 100%;
  font-family: 'FontAwesome';
  font-weight: bold;
  padding: 10px 0;
  border:0;
}
.btn-github:before,
.btn-qq:before,
.btn-weibo:before {
    position: absolute;
    display: block;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 25px;
    padding: 6px 0;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-github:hover,
.btn-qq:hover,
.btn-weibo:hover {
    color: white;
}

.btn-github {
    background: #3b5998
}
.btn-github:before {
    content: "\f113";
    background: #344e86
}

.btn-github:hover {
    background: #344e86
}

.btn-github:hover:before {
    background: #2d4373
}

.btn-qq {
    background: #00aced
}

.btn-qq:before {
    content: "\f1d6";
    background: #0099d4
}

.btn-qq:hover {
    background: #0099d4
}

.btn-qq:hover:before {
    background: #0087ba
}

.btn-weibo {
    background: #4875b4
}

.btn-weibo:before {
    content: "\f18a";
    background: #4169a2
}

.btn-weibo:hover {
    background: #4169a2
}

.btn-weibo:hover:before {
    background: #395d90
}

.text-with-hr {
  text-align: center;
  position: relative;
  z-index: 2;
}
.text-with-hr:before {
  position: absolute;
  content: '';
  top: 20px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #e9ebec;
  z-index: -1;
}
.text-with-hr span {
  display: inline-block;
  background: white;
  padding: 10px;
}
.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}