apscheduler==3.0.3
azure==1.0.2
beaker==1.7.0
cycler==0.10
flask==1.0.2
flask-cors==1.9.0
flask-restful==0.3.5
functools32
kubernetes==9.0.0
lxml==4.3.0
mailthon==0.1.1
mock==2.0.0
mongoengine==0.10.6
numpy==1.7.1
pexpect==4.0.1
pycrypto==2.6.1
pymongo==3.2.1
pyparsing==1.5.6
python-dateutil==2.5.3
pytz==2015.6
requests
subprocess32==3.5.4
validictory==1.0.0
werkzeug==0.15.3