aniso8601==8.0.0
APScheduler==3.0.3
attrs==19.3.0
azure==1.0.2
azure-common==1.1.25
azure-mgmt==0.20.1
azure-mgmt-common==0.20.0
azure-mgmt-compute==0.20.0
azure-mgmt-network==0.20.1
azure-mgmt-nspkg==3.0.2
azure-mgmt-resource==0.20.1
azure-mgmt-storage==0.20.0
azure-nspkg==3.0.2
azure-servicebus==0.20.1
azure-servicemanagement-legacy==0.20.1
azure-storage==0.20.2
Beaker==1.11.0
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
cycler==0.10.0
Flask==1.0.2
Flask-Cors==1.9.0
Flask-RESTful==0.3.5
Flask-Script==2.0.6
google-auth==1.11.3
gunicorn==20.0.4
idna==2.9
importlib-metadata==1.5.0
itsdangerous==1.1.0
Jinja2==2.11.1
kubernetes==9.0.0
lxml==4.3.0
mailthon==0.1.1
MarkupSafe==1.1.1
mock==2.0.0
mongoengine==0.19.1
more-itertools==8.2.0
numpy==1.18.2
oauthlib==3.1.0
packaging==20.3
pbr==5.4.4
pexpect==4.0.1
pluggy==0.13.1
ptyprocess==0.6.0
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycrypto==2.6.1
pymongo==3.10.1
pyparsing==2.4.6
pytest==5.4.1
python-dateutil==2.5.3
pytz==2015.6
PyYAML==5.3.1
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
six==1.14.0
subprocess32==3.5.4
tzlocal==2.0.0
urllib3==1.25.8
validictory==1.0.0
wcwidth==0.1.8
websocket-client==0.57.0
Werkzeug==0.15.3
zipp==3.1.0
