<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-hans">

<head>
    <meta property="qc:admins" content="014117011331407663016134754100636"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="/static/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.ui-1.8.18.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery.validate-1.9.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>

    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <link rel="icon" href="/static/pic/icon.jpg">
    <meta name="description" content="">
    {% block head %} {% endblock %}
</head>

<body>
{% block header %} {% endblock %} {% block content %} {% endblock %}

<div class="footer">
    <div class="container">
        <p class="text-muted">
            <a target="_blank" href="https://cn.msopentech.com/%e5%85%b3%e4%ba%8e%e6%88%91%e4%bb%ac/">联系我们</a> |
            <a target="_blank" href="PrivacyStatement">隐私条款</a> |
            <a target="_blank" href="TermsOfUse">使用条款</a> | © 2015 Microsoft Open Technologies (Shanghai) Company
            Limited
        </p>
    </div>
    <!-- Piwik -->
    <script type="text/javascript">
          var _paq = _paq || [];
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//piwikd.cloudapp.net/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();

    </script>
    <noscript><p><img src="//piwikd.cloudapp.net/piwik.php?idsite=1" style="border:0;" alt=""/></p></noscript>
    <!-- End Piwik Code -->
</div>
</body>

</html>
