{% extends "commonRight.html" %} {% block second %}
<title>Open XML SDK 黑客松 挑战</title>
{% block third %}{% endblock %} {% endblock %} {% block left %}
<div class="jumbotron">
    <div class="container">
        <h1>Open XML SDK 编程黑客松</h1>

        <p class="text-left">
            在整个编程黑客松活动中，我们为各位黑客设计了三个挑战。 我们希望通过这些挑战，让大家更好的去了解 WordProcessingML 的编程。 使用的技能和工具同样可以帮助大家处理 SpreadsheetML 和
            PresentationML。 友情提示一下，答案可能会在我们之后推出的各种技术视频中提到！
        </p>
        <b>在完成挑战后，请大家把代码发布到在 GitCafe 的项目中，我们会检查作业的！</b>
    </div>
</div>
<div class="container">
    <div class="row ">
        <div class="col-md-4">
            <h2>挑战（一）</h2>

            <p class="text-left t-content">目标： 从以下中文 DOCX 文档中抽取文本内容，然后将内容保存到一个 UTF-8 编码的纯文本文件中。</p>

            <p>
                <a href="https://mcaistorage.blob.core.chinacloudapi.cn/publiccontainer/openxmlsdk-challenge1.mp4"
                   target="_blank">视频介绍</a>
            </p>

            <p>
                <a href="https://mcaistorage.blob.core.chinacloudapi.cn/publiccontainer/Test-Challenge-1.docx"
                   target="_blank">中文 DOCX 文档</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>挑战（二） </h2>

            <p class="text-left t-content">目标： 在第一个挑战的技术上增加难度。 从以下含有修订标记的中文 DOCX 文档中抽取文本内容，然后将内容保存到一个 UTF-8
                编码的纯文本文件中。</p>

            <p>
                <a href="https://mcaistorage.blob.core.chinacloudapi.cn/publiccontainer/openxmlsdk-challenge2.mp4"
                   target="_blank">视频介绍</a>
            </p>

            <p>
                <a href="https://mcaistorage.blob.core.chinacloudapi.cn/publiccontainer/Test-Challenge-2.docx"
                   target="_blank">中文 DOCX 文档</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>挑战（三）</h2>

            <p class="text-left t-content">目标： 创建一个简单的 ASP.NET 网站，并在网页上展现以下中文 DOCX 文档里的内容。</p>

            <p>
                <a href="https://mcaistorage.blob.core.chinacloudapi.cn/publiccontainer/openxmlsdk-challenge3.mp4"
                   target="_blank">视频介绍</a>
            </p>

            <p>
                <a href="https://mcaistorage.blob.core.chinacloudapi.cn/publiccontainer/Test-Challenge-3.docx"
                   target="_blank">中文 DOCX 文档</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}