{% extends "base.html" %}

{% block head %}
<link href="/static/css/commonRight.css" rel="stylesheet">
<script type="text/javascript" src="/config.js"></script>
<script type="text/javascript" src="/static/js/commonRight.js"></script>
<script type="text/javascript" src="/static/js/jquery/jquery.flipcountdown.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.flipcountdown.css"/>
{% block second %} {% endblock %}
{% endblock %}
{% block content %}


<div class="main">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header" style="width: 900px;">

                <a class="navbar-brand" href="/index" style="color:#ffffff"><img src="/static/pic/icon.jpg" height="30"
                                                                                 width="30"></img>开放黑客松</a>
                <marquee id="anmt" style="color:#000000" width="700" class="navbar-brand" align="middle"
                         direction="left" behavior="scroll" scrollamount="2" scrolldelay="50" bgcolor="">
                    通知:正式活动开始前本环境为体验环境，请注意保存结果
                </marquee>
                <!--<a style="float:left;font-size:18px;padding-top:16px;color:#ffffff" href = "http://www.wenjuan.com/s/QBNfiu?test=1&v=0.687169515648">                    问卷调查
                </a>-->

            </div>
            <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" role="form">
                    {% if current_user.is_authenticated() %}
                    <div class="form-group">
                        <div id="name"><p style="color:white">{{current_user.nickname}}</p></div>
                    </div>
                    <div class="form-group">
                        <div id="photo"><img id="userImg" height="30" width="30" src="{{current_user.avatar_url}}">
                        </div>

                    </div>
                    <div class="form-group">
                        <div id="logout"><p style="color:white;padding-left:5px;cursor:pointer">[登出]</p></div>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    {% block left %}{% endblock %}

    <div class="right">
        <div class="statistics">
            <div><h4><a target="_blank" href="http://www.huodongxing.com/event/2256565202800">黑客松活动指南</a></h4></div>
            <div><h4><a target="_blank" href="https://github.com/alibaba/jstorm/wiki/JStorm-Chinese-Documentation">jStorm官方文档</a>
            </h4></div>
            <div id="online_count"></div>
            <div id="registered_count"></div>
            <div style="overflow: hidden;"><h4 style="margin-top: 0px;">距离hackathon结束还有：</h4>

                <div id="timer" style="float:left"></div>
            </div>
            <div style="margin-top:40px">
                <!--<img src="/static/pic/map.jpg" style="width:95%"/>-->
            </div>
            <div id="userList">
                <div style="border-bottom:2px solid #E64025"><h3>参赛人员</h3>
                </div>
                <ul>
                    <!--<li><div class="circle online"></div><div class="userName">萧峰</div></li>-->
                    <!--<li><div class="circle online"></div><div class="userName">张三丰</div></li>-->
                    <!--<li><div class="circle success"></div><div class="userName">楚留香</div></li>-->
                    <!--<li><div class="circle online"></div><div class="userName">杨过</div></li>-->
                    <!--<li><img /><div class="circle"></div><div class="userName">段誉</div></li>-->
                    <!--<li><img /><div class="circle"></div><div class="userName">李寻欢</div></li>-->
                    <!--<li><img /><div class="circle"></div><div class="userName">韦小宝</div></li>-->
                    <!--<li><img /><div class="circle online"></div><div class="userName">独孤求败</div></li>-->
                    <!--<li><img /><div class="circle"></div><div class="userName">黄蓉</div></li>-->
                    <!--<li><img /><div class="circle success"></div><div class="userName">东方不败</div></li>-->
                    <!--<li><img /><div class="circle online"></div><div class="userName">张无忌</div></li>-->
                    <!--<li><img /><div class="circle"></div><div class="userName">令狐冲</div></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}