{% extends "base.html" %} {% block head %}
<link href="/static/css/commonRight.css" rel="stylesheet">
<script type="text/javascript" src="/config.js"></script>
<script type="text/javascript" src="/static/js/jquery/jquery.flipcountdown.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/hackathon.css" />
<script type="text/javascript" src="/static/js/hackathon.js"></script>
{% block second %} {% endblock %} {% endblock %} {% block content %}
<div class="smallscreen"><a class="glyphicon glyphicon-resize-small" href="javascript:;" ></a></div>
<nav id="ohp_header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://hacking.kaiyuanshe.cn"> 开放黑客松</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="javascript:;" title="全屏" data-action="fullscreen"> <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span> 全屏</a>
                </li>
            </ul>
            {% if current_user.is_authenticated() %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:;" id="timer">模拟 距离hackathon结束还有：<span  id="end_timer" ></span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img id="userImg" src="{{current_user.avatar_url}}">
                    </a>
                    <div class="tooltip bottom" id="tooltip" role="tooltip">
                          <div class="tooltip-arrow"></div>
                          <div class="tooltip-inner">
                             点击头像有更多信息
                          </div>
                        </div>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">{{current_user.nickname}}</a>
                        </li>
                        <li><a>管理我的黑客松(开发中)</a>
                        </li>
                        <li><a>黑客松活动指南(开发中)</a>
                        </li>
                        <li><a>我的黑客松挑战(开发中)</a>
                        </li>
                        <li><a target="_blank" href="/help">使用帮助</a>
                        </li>
                        <li><a id="logout" href="/logout">登出</a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
<div id="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12  work-fluid">
                <div class="center">
                    <div id="hack_main" class="bottom">
                        <div id="hack_main_load">
                            <div style="width:100%;height:100%;text-align:center;margin-top:150px;" id="load">
                                <p>正在为您创建开发、部署环境,请稍等......</p>
                                <img src="/static/pic/spinner-lg.gif">
                            </div>
                            <div class="error-container" id="error">
                                <div class="error-body">
                                    <div class="header">
                                        <div class="error">
                                            <span class="code">500</span>
                                            <span class="message">服务器出错!</span>
                                        </div>
                                    </div>
                                    <div class="more-details">
                                        <div class="error-info">
                                            <div class="more-info">请重新刷新页面。</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hackathon-nav">
                    <div class="row">
                        <div class="col-md-12" id="stat">
                        </div>
                    </div>
                    {% if register %}
                    <div class="row">
                        <div class="col-md-12">
                            <h4>部署地址</h4>
                            <a id="JstormAdmin" target="_blank" href="{{register.jstrom_mgmt_portal}}">{{register.jstrom_mgmt_portal}}</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
