{% extends "base.html" %} {% block head %}
<script type="text/javascript" src="/config.js"></script>
<script src="/static/js/login.js"></script>
{% endblock %} {% block header %} {% endblock %} {% block content %}
<nav id="ohp_header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"> 开放黑客松</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        </div>
    </div>
</nav>
<div id="main">
    <div class="container">
        <div class="page-header">
            <h1>Open XML SDK 在线编程黑客松</h1>
        </div>
        {% if "github" in providers %}
        <a class="btn btn-lg btn-success" href="javascript:;" role="button" id="githublogin" title="login">
            <img src="/static/pic/gitcafe.login.jpg">
            <span>GitHub</span>
        </a>
        {% endif %}
        {% if "qq" in providers %}
        <a class="btn btn-lg btn-success" href="javascript:;" role="button" id="qqlogin" title="login">
            <img src="/static/pic/gitcafe.login.jpg">
            <span>QQ</span>
        </a>
        {% endif %}
        {% if "gitcafe" in providers %}
        <a class="btn btn-lg btn-success" href="javascript:;" role="button" id="gitcafelogin" title="login">
            <img src="/static/pic/gitcafe.login.jpg">
            <span>GitCafe</span>
        </a>
        {% endif %}
        {% if "weibo" in providers %}
        <a class="btn btn-lg btn-success" href="javascript:;" role="button" id="weibologin" title="login">
            <img src="/static/pic/gitcafe.login.jpg">
            <span>Weibo</span>
        </a>
        {% endif %}
        <div class="organizers">
            <div class="row ">
                <div class="col-md-4">
                    <img src="/static/pic/jkxy.png">
                </div>
                <div class="col-md-4 gitcafe" >
                    <img src="/static/pic/gitcafe.png">
                </div>
                <div class="col-md-4">
                    <img src="/static/pic/kaiyuanshe.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src="/static/pic/MSOpenTech_Logo_NoTagline_fit.jpg" style="width: 400px;height: auto;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <b>建议使用环境：支持HTML5的浏览器(IE 10+,Chrome,Firefox,Safari)，请尽量使用分辨率较高的宽幅显示。</b>
            </div>
        </div>
    </div>
</div>

{% endblock %}
