{% extends "base.html" %} {% block head %}
<script type="text/javascript" src="/config.js"></script>
<script src="/static/js/login.js"></script>
{% endblock %} {% block header %} {% endblock %} {% block content %}
<nav id="ohp_header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://hacking.kaiyuanshe.cn"> 开放黑客松</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        </div>
    </div>
</nav>
<div id="main">
    <div class="container">
        <div class="page-header">
            <h1>开放黑客松服务预览</h1>
        </div>
        <div class="row">
            <h3 class="col-md-offset-3 col-md-6">
                预览面向开源社成员和部分公众开放，如果您感兴趣但未能成功注册登录，请联系我们
                <a href="mailto:msopentechdevsh@microsoft.com">msopentechdevsh@microsoft.com</a>
            </h3>
        </div>
        <br/> {% if "github" in providers %}
        <a class="btn btn-success" href="javascript:;" role="button" id="githublogin" title="login">
            <img src="/static/pic/github_32x32.png">
            <span>GitHub</span>
        </a>
        {% endif %} {% if "qq" in providers %}
        <a class="btn" href="javascript:;" role="button" id="qqlogin" title="login">
            <img src="/static/pic/Connect_logo_4.png">
        </a>
        {% endif %} {% if "gitcafe" in providers %}
        <a class="btn btn-success" href="javascript:;" role="button" id="gitcafelogin" title="login">
            <img src="/static/pic/gitcafe.login.jpg">
            <span>GitCafe</span>
        </a>
        {% endif %} {% if "weibo" in providers %}
        <a class="btn " href="javascript:;" role="button" id="weibologin" title="login">
            <img src="/static/pic/weibo_173x32.png">
        </a>
        {% endif %}
        <div class="organizers">
            <div class="row ">
                <div class="col-md-offset-4 col-md-4">
                    <img src="/static/pic/kaiyuanshe.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br/>
                <b>建议使用环境：支持HTML5的浏览器(IE 10+,Chrome,Firefox,Safari)，请尽量使用分辨率较高的宽幅显示。</b>
            </div>
        </div>
    </div>
</div>
{% endblock %}
