<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8" http-equiv="refresh" content="5; url=http://www.huodongxing.com/event/2256565202800">
    <title>Can not find your information</title>
    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery/jquery.min.js"></script>
    <link href="/static/css/base.css" rel="stylesheet">
       <script>
        $(function(){
            get_code_time($("#time"));
        })
        var wait = 5;
        get_code_time = function (o) {
            o.text(wait);
            wait--;
            setTimeout(function() {get_code_time(o)}, 1000)
        }
    </script>
</head>

<body>
    <div class="error-container" style="display:block">
        <div class="error-body">
            <div class="header">
                <div class="error">
                    <span class="code"></span>
                    <span class="message" style="font-size:36pt;">对不起，您还未注册本次黑客松！</span>
                </div>
            </div>
            <div class="more-details">
                <div class="error-info">
                    <div class="more-info form-group" style="font-size:24pt">请到如下网站注册 (等待 <span id="time">5</span> 秒后自动跳转) ...</div>
                    <div class="text-center ">
                        <a href="http://www.huodongxing.com/event/2256565202800" class="btn btn-lg btn-info">立即去报名</a>
                        <a href="/index" class="btn btn-lg btn-info" target="_self">返回首页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
