{% extends "commonRight.html" %} {% block second %}

<link href="/static/css/square/blue.css" rel="stylesheet">
<script src="/static/js/jquery/jquery.icheck.min.js"></script>
<script src="/static/js/settings.js"></script>
{% block third %}{% endblock %} {% endblock %} {% block left %}

<div class="col-md-9 text-left ">
    <div class="page-header">
        <h1>请选择你所需要的环境</h1>
    </div>
    <div class="row form-group">
        <div class="col-md-4 col-md-offset-3">
            <label class="checkbox-inline">
                <input type="checkbox" id="JStorm" value="option1" checked disabled> JStorm
            </label>
        </div>
        <div class="col-md-4">
            <label class="checkbox-inline">
                <input type="checkbox" id="RestAPI" value="option2" checked disabled> RestAPI
            </label>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3 text-center">
            <label class="checkbox-inline"> <strong>WEB APP</strong> </label>
        </div>
        <div class="col-md-4  ">
            <label class="radio-inline">
                <input type="radio" name="web" id="ubuntu" value="option1"> Ubuntu(空操作系统)
            </label>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4 col-md-offset-3">
            <label class="radio-inline">
                <input type="radio" name="web" id="python" value="option2"> python/flask
            </label>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4 col-md-offset-3">
            <label class="radio-inline">
                <input type="radio" name="web" id="rails" value="option3"> ruby/rails
            </label>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-4 col-md-offset-3">
            <label class="radio-inline">
                <input type="radio" name="web" id="mean" value="option3"> JavaScript/MEAN
            </label>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-8 col-md-offset-3">
            <button id="submit" class="btn  btn-primary">提交</button>
        </div>
    </div>
</div>



{% endblock %}
