{% extends "commonRight.html" %} {% block second %}
<link href="/static/css/square/blue.css" rel="stylesheet">
<script src="/static/js/jquery/jquery.icheck.min.js"></script>
<script src="/static/js/settings.js"></script>
{% block third %}{% endblock %} {% endblock %} {% block left %}
<div class="col-md-12 text-left ">
    <div class="page-header">
        <h1>请选择你所需要的环境</h1>
    </div>
    <div class="row form-group">
        <div class="col-md-6  text-center">
            <label class="radio-inline ">
                <img src="/static/pic/ubuntu.icon.png" alt="Ubuntu Desktop" /> Ubuntu Desktop
                <input type="radio" name="web" value="ud">
            </label>
            <div>
                <ul class="services-list">
                    <li>Ubuntu 14.04 TLS</li>
                    <li>Mono</li>
                    <li>Open XML SDK</li>
                    <li>Eclipse</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <label class="radio-inline ">
                <img src="/static/pic/terminal.icon.png" alt="Ubuntu Terminal" /> Ubuntu Terminal
                <input type="radio" name="web" value="ut" checked/>
            </label>
            <div>
                <ul class="services-list">
                    <li>Ubuntu 14.04 TLS</li>
                    <li>Mono</li>
                    <li>Open XML SDK</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12 text-center">
            <button id="submit" class="btn btn-lg btn-primary" style="width:200px">提交</button>
        </div>
    </div>
</div>
{% endblock %}
