@page
@model Kaiyuanshe.OpenHackathon.Server.Pages.IndexModel
@{
    Layout = "_Layout";
}

<h2>Open Hackathon Rest API V2</h2>

<h3>Rest API Overview</h3>
<div>Rest API Overview</div>

<h3>Guides</h3>
<div>Guides</div>

<h3>Legacy API</h3>
<div>View legacy API at <a href="https://github.com/kaiyuanshe/open-hackathon/wiki/Open-hackathon-Restful-API" target="_blank">Open Hackthon Rest API V1 spec</a></div>
