<ul class="nav navbar-nav navbar-right">
  <li end-countdown></li>
  <li endexpr><a data-endexpr  class="btn btn-info ">立即结束</a></li>
  <li class="dropdown" dropdown is-open="status.isopen">
    <a href="#" class="dropdown-toggle" dropdown-toggle role="button" ng-disabled="disabled">
      <img id="userImg" src="{{user.avatar_url}}">
    </a>
    <div class="tooltip bottom" role="tooltip" oh-tooltip>
    </div>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a>{{user.nickname}}</a>
      </li>
      <li ng-repeat="item in items">
        <a ng-href="{{item.link}}" target="_blank">{{item.name}}</a>
      </li>
      <li><a ng-click="logout()">登出</a>
      </li>
    </ul>
  </li>
</ul>
