<ul class="nav navbar-nav navbar-right">
  <li end-countdown ng-if="workspace"></li>
  <li class="dropdown" dropdown>
    <a type="button" class="btn" dropdown-toggle role="button">
      团队 <span class="caret"></span>
    </a>
    <ul class="dropdown-menu team" role="menu">
      <li>
        <span class="dropdown-menu-title">{{team.name}} asda</span>
      </li>
      <li>
        <a href="skype:fendoe?chat">
          <div class="avatar"><img src="https://avatars.githubusercontent.com/u/5856568?v=3" alt="Avatar"></div>
          <span class="header">Fendoe</span>
        </a>
      </li>
      <li>
        <a href="index.html#">
          <div class="avatar"><img src="https://avatars.githubusercontent.com/u/5856568?v=3" alt="Avatar"></div>
          <span class="header">Fendoe</span>
        </a>
      </li>
      <li>
        <a href="index.html#">
          <div class="avatar"><img src="https://avatars.githubusercontent.com/u/5856568?v=3" alt="Avatar"></div>
          <span class="header">Fendoe</span>
        </a>
      </li>
      <li>
        <span class="dropdown-menu-title"  style="height: 22px;"></span>
      </li>
    </ul>
  </li>
  <li class="dropdown" dropdown is-open="status.isopen">
    <a href="#" class="dropdown-toggle" dropdown-toggle role="button" ng-disabled="disabled">
      <img id="userImg" src="{{user.avatar_url}}">
    </a>

    <div class="tooltip bottom" role="tooltip" oh-tooltip>
    </div>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a>{{user.nickname}}</a>
      </li>
      <li ng-repeat="item in items">
        <a ng-href="{{item.link}}" target="_blank">{{item.name}}</a>
      </li>
      <li><a ng-click="logout()">登出</a>
      </li>
    </ul>
  </li>
</ul>
