<div ng-show="registerForm.show">
  <h2 class="line-title">填写报名信息</h2>

  <form name="registerForm" class="form-horizontal" ng-controller="registerFormController" ng-submit="submit()" novalidate>
    <fieldset>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.register_name.$invalid && registerForm.register_name.$touched }">
        <label class="col-sm-2 control-label required">姓名</label>

        <div class="col-sm-6">
          <input type="text" class="form-control"  name="register_name"  placeholder="姓名" required="" ng-model="register.register_name" required>
          <p ng-show="registerForm.register_name.$error.required && registerForm.register_name.$touched" class="help-block">姓名必须填写</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.email.$invalid  && registerForm.email.$touched }">
        <label class="col-sm-2 control-label required">电子信箱</label>

        <div class="col-sm-6">
          <input type="email" class="form-control" name="email" oh-email-available  hid="{{id}}" placeholder="电子信箱" ng-model="register.email" required>
          <p ng-show="registerForm.email.$error.emailAvailable" class="help-block">改邮箱已经被使用</p>
          <p ng-show="registerForm.email.$error.required && registerForm.email.$touched" class="help-block">电子信箱必须填写</p>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : registerForm.phone.$invalid && registerForm.phone.$touched }">
        <label class="col-sm-2 control-label required">联系电话</label>

        <div class="col-sm-6">
          <input type="text" class="form-control"  name="phone"  placeholder="联系电话" ng-model="register.phone" required>
          <p ng-show="registerForm.phone.$error.required && registerForm.phone.$touched" class="help-block">联系电话必须填写</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.address.$invalid && registerForm.address.$touched }">
        <label class="col-sm-2 control-label required">联系地址</label>

        <div class="col-sm-6">
          <input type="text" class="form-control" name="address" placeholder="寄出奖品的默认地址" ng-model="register.address" required>
          <p ng-show="registerForm.address.$error.required  && registerForm.address.$touched" class="help-block">联系地址必须填写</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">性别</label>

        <div class="col-sm-6">
          <select class="form-control" ng-model="register.sex">
            <option value="-1">秘密</option>
            <option value="1">男</option>
            <option value="0">女</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">年龄</label>

        <div class="col-sm-6">
          <input type="number" class="form-control" name="age" placeholder="年龄" ng-model="register.age" min="1" max="99">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" ng-model="register.occupation">行业类型</label>

        <div class="col-sm-6">
          <select class="form-control" ng-model="register.career_type">
            <option value="计算机/互联网/通信">计算机/互联网/通信</option>
            <option value="生产/工艺/制造">生产/工艺/制造</option>
            <option value="医疗/护理/制药">医疗/护理/制药</option>
            <option value="金融/银行/投资/保险">金融/银行/投资/保险</option>
            <option value="商业/服务业/个体经营户">商业/服务业/个体经营户</option>
            <option value="文化/广告/传媒">文化/广告/传媒</option>
            <option value="娱乐/艺术/表演">娱乐/艺术/表演</option>
            <option value="法律/法务">法律/法务</option>
            <option value="教育/培训">教育/培训</option>
            <option value="公务员/行政/事业单位">公务员/行政/事业单位</option>
            <option value="模特">模特</option>
            <option value="空姐">空姐</option>
            <option value="学生">学生</option>
            <option value="其他">其他</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">职务</label>

        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="职务" ng-model="register.career">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">微信</label>

        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="微信" ng-model="register.wechat">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">微博</label>

        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="微博" ng-model="register.weibo">
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : registerForm.qq.$invalid && !registerForm.qq.$pristine }">
        <label class="col-sm-2 control-label">QQ</label>

        <div class="col-sm-6">
          <input type="text" class="form-control" name="qq" placeholder="QQ" ng-model="register.qq" ng-pattern="/^[1-9][0-9]{4,9}$/" maxlength="10" minlength="5">
          <p ng-show="!registerForm.qq.$pristine" class="help-block">请输入正确的QQ号</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">提交报名</button>
          <button class="btn btn-info" ng-click="hideRegister()">返回</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
