body {
    background: #EDEDED;
    font: 14px/1.5 arial, "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
    padding-top: 90px;
}
a {
    color: #00abec;
}
#ohp_header.navbar, #ohp_header .navbar {
    min-height: 90px;
}
#ohp_header .navbar-brand {
    height: 90px;
}
#ohp_header.navbar-inverse {
    background-color: #1a1a1a;
}
#ohp_header .dropdown-menu {
    background: #525252;
    border-radius: 0;
    padding: 0;
    border-top: none;
}
#ohp_header .dropdown-menu>li>a {
    padding: 10px 20px;
    color: #fff;
    border-top: 1px solid #101010;
}
#ohp_header .dropdown-menu>li>a:hover, #ohp_header .dropdown-menu>li>a:focus {
    color: #00ABEC;
    text-decoration: none;
    background-color: #101010;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #525252;
}
.checkbox-inline div, .radio-inline div {
    display: inline-block;
    vertical-align: middle;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    line-height: 60px;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #00abec;
}
.radio-inline, .checkbox-inline {
    padding-left: 0;
}
#carousel {
    background-color: #fff;
    height: 500px;
    margin: 90px -15px 0;
}
#carousel .item {
    height: 500px;
}
#carousel .carousel-indicators li {
    width: 15px;
    height: 15px;
    background-color: #969696;
    border: none;
    border-radius: 0;
}
#userImg {
    height: 60px;
    width: 60px;
}
#carousel .carousel-indicators .active {
    background-color: #00abec;
    width: 15px;
    height: 15px;
    margin: 1px;
}
#carousel .item img {
    width: 150%;
}
#ohp_header .navbar-inverse {
    background-color: #1a1a1a;
}
#ohp_header .navbar-brand {
    background: url('/static/pic/icon64.png') no-repeat;
    color: #00abec;
    background-origin: content-box;
    text-indent: 78px;
    font-size: 30px;
    line-height: 60px;
}
#ohp_header .navbar {
    border-radius: 0;
}
#partner {
    text-align: center;
    background-color: #fff;
}
#partner .col-md-4 {
    text-align: center;
}
#partner .col-md-4 img {
    height: 200px;
    width: 90%;
}
.page-header {
    background-color: #fff;
    text-align: center;
}
.footer {
    background-color: #1a1a1a;
    bottom: 0;
    width: 100%;
    height: 60px;
}
.btn-primary {
    background-color: #00abec;
}
#main {
    background-color: #00abec;
}
#main h1 {
    font-size: 3em;
}
#main>.container {
    background-color: #fff;
    text-align: center;
    padding-bottom: 30px;
}
#main .organizers .col-md-4 {
    height: 150px;
    vertical-align: middle;
}
.gitcafe{
    padding-top:20px 
}
#main .organizers img {
    max-width: 300px;
    max-height: 150px;
    vertical-align: middle;
    margin: 20px 0;
}
.btn, .btn-lg, .btn-group-lg>.btn {
    border-radius: 0;
}
.login {
    min-height: 100px;
    text-align: center;
}
.login .container {
    background-color: #fff;
    padding-bottom: 30px;
}
.login img {
    width: 30px;
}
.container .text-muted {
    margin: 20px 0;
}
.footer a {
    color: #969696;
}
.footer a:hover {
    opacity: .7;
}
.btn img {
    width: 30px;
}
.services-list {
    text-align: left;
    list-style: none;
    margin-top: 20px;
    line-height: 30px;
    padding: 0;
    text-indent: 80px;
}
.error-container {
    display: none;
    background-color: #8cc7e5;
    width: 850px;
    padding: 15px;
    margin: 50px auto;
}
.error-body {
    background-color: #565551;
    color: #fff;
    padding-bottom: 40px;
}
.error-body .header .error {
    border-bottom: 1px solid #fff;
    margin: 0 30px 20px 30px;
    padding: 20px 0 15px 0;
    text-align: center;
}
.error-body .header .error .code {
    font-size: 72pt;
    color: #8cc7e5;
    text-align: right;
    margin-right: 25px;
}
.error-body .header .error .message {
    font-size: 44pt;
    text-align: left;
}
.error-body .more-details .more-info {
    text-align: center;
    font-size: 30pt;
}
.smallscreen {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999999;
    width: 30px;
    height: 30px;
    background: #00abec;
}
.smallscreen a {
    color: #fff;
    font-size: 30px;
}
.smallscreen a:hover {
    text-decoration: none;
}
