        ul{
            padding-left: 0px;
        }
        ul li{
            list-style-type:none;
        }
        .main{

        }
        .left{
            height:100%;
            width:8%;
            float: left;
            padding-bottom: 600px;
        }
        .left-title{
            text-align: center;
            margin: 10px auto;
            padding-top:30px;
            font-size: 20px;
            font-weight: bold;
        }
        .left ul{
            text-align: center;
        }
        .left ul li{
            margin-top: 10px;
            height: 40px;
        }
/*        .left ul li button{
            padding: 5px 0px;
            cursor: pointer;
            margin:10px 0px;
            width: 80%;
        }*/
        .left ul li a{
            width: 100%;
            display: block;
            height: 100%;
            cursor: pointer;
            font-size: 18px;
            padding-top: 10px;
        }
        .left ul li a:hover{
            background: #999999;
        }
        .center{
            width: 73%;
            float:left;
            padding-left: 20px;
            padding-top:10px;
            padding-bottom:30px;
        }
        .center .top{
            box-shadow: 10px 10px 5px #888888;
        }
        .center .top h3{
            background-color: rgb(198, 242, 240);
            width:50%;
            float:left;
            cursor: pointer;
            -webkit-border-top-left-radius: 15px;
            -webkit-border-top-right-radius: 15px;
            -moz-border-radius-topleft: 15px;
            -moz-border-radius-topright: 15px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            margin-top:0px;
            margin-bottom: 0px;
            text-align: center;
            padding: 10px;
        }
        .center .top .clickOn{
            background-color:#ED3E2C;
            color:#ffffff;
        }
        .center .top h3:hover{
/*            background-color: #eeeeee;*/
        }

        .center .mid ul li{
            width: 80px;
            float:left;
            cursor: pointer;
            text-align: center;
            -webkit-border-top-left-radius: 15px;
            -webkit-border-top-right-radius: 15px;
            -moz-border-radius-topleft: 15px;
            -moz-border-radius-topright: 15px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            background-color: rgb(198, 242, 240);
        }
        .center .mid ul li div{
            padding:5px 0px;
        }
        .center .mid ul li .selected{
            background-color: red;
            color:#ffffff;
            -webkit-border-top-left-radius: 15px;
            -webkit-border-top-right-radius: 15px;
            -moz-border-radius-topleft: 15px;
            -moz-border-radius-topright: 15px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        .center .mid ul li:hover{
            background-color: #eeeeee;
        }
        #servers{
            margin-top:10px;
            font-size: 20px;
        }
        #servers .server-name{
            width: 80px;
            float:left;
            cursor: pointer;
            text-align: center;
            -webkit-border-top-left-radius: 15px;
            -webkit-border-top-right-radius: 15px;
            -moz-border-radius-topleft: 15px;
            -moz-border-radius-topright: 15px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        #servers .selected{
            background-color: red;
            color:#ffffff;
            -webkit-border-top-left-radius: 15px;
            -webkit-border-top-right-radius: 15px;
            -moz-border-radius-topleft: 15px;
            -moz-border-radius-topright: 15px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        .right{
            margin-left: 0px;
            padding-bottom: 30px;
        }
        .center .top h3{

        }
        .mid{
            margin-top: 20px;
        }
        .right ul li{
            float:left;
            line-height: 18px;
            padding-left: 20px;
            width: 200px;
            margin-top: 4px;
        }
        #new-window{
            float:right;
            z-index: 100;
            color: #000000;
        }
        #hack_main{
        position: relative;
        }
         #hack_main>div{
         position: absolute;
        right: 0;
        left: 0;

         }
