 ul{
    padding-left: 0px;
}
ul li{
    list-style-type:none;
}
.left{
    height:100%;
    background-color: #cccccc;
    width:8%;
    float: left;
    padding-bottom: 600px;
}
.left-title{
    text-align: center;
    margin: 10px auto;
    padding-top:30px;
    font-size: 20px;
    font-weight: bold;
}
.left ul{
    text-align: center;
}
.left ul li{
    margin-top: 10px;
    height: 40px;
}
.left ul li a{
    width: 100%;
    display: block;
    height: 100%;
    cursor: pointer;
    font-size: 18px;
    padding-top: 10px;
}
.left ul li a:hover{
    background: #999999;
}
.center{
    width: 65%;
    float:left;
    padding-left: 20px;
    padding-top:10px;
}
.right{
    margin-left: 0px;
}
.center .top h3{

}
.mid{
    margin-top: 20px;
}
.right ul li{
    float:left;
    line-height: 18px;
    padding-left: 20px;
    width:150px;
}