@page
@model Kaiyuanshe.OpenHackathon.Server.Pages.Authing.LoginModel
@{
    Layout = "_Layout";
}

<h2>Open Hackathon Rest API V2</h2>

<h3>Get Test Token</h3>
<div>
    @{
        if (string.IsNullOrWhiteSpace(Request.Query["app_id"]))
        {
            string exampleUrl = $"https://{Request.Host}/authing/login?app_id=YOUR_AUTHING_APP_ID";
            <p>To get a test token, please: </p>
            <ul>
                <li>Following the below <b>Login Help</b> to setup github and authing.</li>
                <li>Get your <code>App Id</code> from Authing. <b>neither the userPoolId nor github client id</b></li>
                <li>Append to current page as query <cod>?app_id=your_authing_app_id</cod>. Example: <code>@exampleUrl</code></li>
            </ul>
        }
        else
        {
            string app_id = Request.Query["app_id"];
            <a href="https://core.authing.cn/connection/social/github?app_id=@app_id" target="_self">Click to get token</a>
        }
    }
</div>

<h3>Login Help</h3>
<ul>
    <li><a href="https://docs.authing.cn/" target="_blank">Authing docs</a></li>
    <li><a href="https://docs.authing.cn/social-login/web/github.html" target="_blank">Authing with Github</a></li>
</ul>
