$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background: #EDEDED;
  font: 14px/1.5 arial, "Microsoft Yahei", "Hiragino Sans GB", sans-serif;
  padding-top: 90px;
}

a {
  color: #00abec;
}

#ohp_header.navbar, #ohp_header .navbar {
  min-height: 90px;
}

#ohp_header .navbar-brand {
  height: 90px;
}

#ohp_header.navbar-inverse {
  background-color: #1a1a1a;
}

#ohp_header .dropdown-menu {
  background: #525252;
  border-radius: 0;
  padding: 0;
  border-top: none;
}

#ohp_header .dropdown-menu > li > a {
  padding: 10px 20px;
  color: #fff;
  border-top: 1px solid #101010;
}

#ohp_header .dropdown-menu > li > a:hover, #ohp_header .dropdown-menu > li > a:focus {
  color: #00ABEC;
  text-decoration: none;
  background-color: #101010;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #525252;
}

.checkbox-inline div, .radio-inline div {
  display: inline-block;
  vertical-align: middle;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
  line-height: 60px;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #00abec;
}

.radio-inline, .checkbox-inline {
  padding-left: 0;
}

#carousel {
  background-color: #fff;
  height: 500px;
  margin: 90px -15px 0;
}

#carousel .item {
  height: 500px;
}

#carousel .carousel-indicators li {
  width: 15px;
  height: 15px;
  background-color: #969696;
  border: none;
  border-radius: 0;
}

#userImg {
  height: 60px;
  width: 60px;
}

#carousel .carousel-indicators .active {
  background-color: #00abec;
  width: 15px;
  height: 15px;
  margin: 1px;
}

#carousel .item img {
  width: 150%;
}

#ohp_header .navbar-inverse {
  background-color: #1a1a1a;
}

#ohp_header .navbar-brand {
  background: url('/images/icon64.png') no-repeat;
  color: #00abec;
  background-origin: content-box;
  text-indent: 78px;
  font-size: 30px;
  line-height: 60px;
}

#ohp_header .navbar {
  border-radius: 0;
}

#partner {
  text-align: center;
  background-color: #fff;
}

#partner .col-md-4 {
  text-align: center;
}

#partner .col-md-4 img {
  height: 200px;
  width: 90%;
}

.page-header {
  background-color: #fff;
  text-align: center;
}

.footer {
  background-color: #1a1a1a;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.btn-primary {
  background-color: #00abec;
}

#main {
  background-color: #00abec;
}

#main h1 {
  font-size: 3em;
}

#main .container {
  background-color: #fff;
  padding-bottom: 30px;
}

#main .organizers .col-md-4 {
  height: 150px;
  vertical-align: middle;
}

.gitcafe {
  padding-top: 20px;
}

#main .organizers img {
  max-width: 300px;
  max-height: 150px;
  vertical-align: middle;
  margin: 20px 0;
}

.btn, .btn-lg, .btn-group-lg > .btn, .btn-group-lg > .btn {
  border-radius: 0;
}

.login {
  min-height: 100px;
  text-align: center;
}

.login .container {
  background-color: #fff;
  padding-bottom: 30px;
}

.login img {
  width: 30px;
}

.container .text-muted {
  margin: 20px 0;
}

.footer a {
  color: #969696;
}

.footer a:hover {
  opacity: 0.7;
}

.btn img {
  height: 32px;
}
.oh-temp ul,
.services-list {
  text-align: left;
  list-style: none;
  margin-top: 20px;
  line-height: 30px;
  padding: 0;
  width: 160px;
  display: inline-block;
}

.error-container {
  background-color: #8cc7e5;
  width: 850px;
  padding: 15px;
  margin: 50px auto;
}

.error-body {
  background-color: #565551;
  color: #fff;
  padding-bottom: 40px;
}

.error-body .header .error {
  border-bottom: 1px solid #fff;
  margin: 0 30px 20px 30px;
  padding: 20px 0 15px 0;
  text-align: center;
}

.error-body .header .error .code {
  font-size: 72pt;
  color: #8cc7e5;
  text-align: right;
  margin-right: 25px;
}

.error-body .header .error .message {
  font-size: 44pt;
  text-align: left;
}

.error-body .more-details .more-info {
  text-align: center;
  font-size: 30pt;
}

.smallscreen {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999999;
  width: 30px;
  height: 30px;
  background: #00abec;
}

.smallscreen a {
  color: #fff;
  font-size: 30px;
}

.smallscreen a:hover {
  text-decoration: none;
}

.t-content {
  min-height: 60px;
}

body.hackathon {
  overflow: hidden;
}

.hackathon .footer {
  position: absolute;
  bottom: 0;
  margin-left: 250px;
}

.hackathon .footer .container {
  width: 100%;
}

.hackathon .work-fluid {
  position: absolute;
  padding: 0 0 0 5px;
  top: 90px;
  bottom: 60px;
  left: 245px;
  right: 0;
  width: auto;
  height: auto;
  background: #fff;
}

.hackathon .hackathon-nav {
  position: fixed;
  width: 250px;
  left: 0px;
  bottom: 0px;
  top: 90px;
  color: #fff;
  background: #1F2327;
  word-wrap: break-word;
  word-break: normal;
  overflow-y: auto;
  z-index: 10;
  border-right: solid 2px #aaa;
}

.hackathon .hackathon-nav .row {
  margin: 0;
}

.hackathon .vm-box {
  display: inline-block;
  height: 150px;
  width: 150px;
  background: #525252;
  vertical-align: middle;
  padding-top: 25px;
  margin-top: 20px;
  position: relative;
}

.hackathon .vm-box:hover, .hackathon .vm-box.active {
  background: #00abec;
}

.hackathon .vm-box img {
  height: 100px;
}

.hackathon .center {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
}

.hackathon .center iframe {
  position: absolute;
  top: 0;
}

.hackathon #stat span {
  color: #00abec;
}

.hackathon .center iframe.work-full {
  position: fixed;
  top: 0;
  z-index: 999999;
  left: 0;
}

.hackathon .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #00abec;
}

.hackathon .tooltip-inner {
  background-color: #00abec;
}

.hackathon .tooltip.bottom {
  margin-top: -5px;
  -webkit-filter: inherit;
  filter: inherit;
  opacity: inherit;
}

.checkbox-inline div, .radio-inline div {
  display: inline-block;
  vertical-align: middle;
}

.icheckbox_square-blue, .iradio_square-blue {
  display: block;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url('/images/blue.png') no-repeat;
  border: none;
  cursor: pointer;
}

.iradio_square-blue {
  background-position: -144px 0;
}

.iradio_square-blue.checked {
  background-position: -168px 0;
}

.iradio_square-blue input[type="radio"] {
  position: absolute;
  top: -20%;
  left: -20%;
  display: block;
  width: 140%;
  height: 140%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  opacity: 0;
  background: white;
}

.iradio_square-blue .iCheck-helper {
  position: absolute;
  top: -20%;
  left: -20%;
  display: block;
  width: 140%;
  height: 140%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  opacity: 0;
  background: white;
}

.required {
  position: relative;
}

.required:before {
  position: absolute;
  right: 0;
  content: '*';
  color: #f00;
}

.post {
  padding: 10px 0;
  color: #505050;
}

.post h3 {
  font-size: 15px;
  font-weight: bolder;
  color: #00abec;
  margin: 0 0 5px;
}

.post:after {
  content: "";
  display: table;
  clear: both;
}

.post .thumb {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  padding-top: 10px;
  display: block;
}

.post .thumb img {
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.post .body {
  width: 66.10169%;
  float: left;
  margin-right: 0;
  display: block;
}

.post .body {
  font-size: 12px;
  line-height: 18px;
}

.line-title {
  margin: 0px;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e4;
}

.users-list {
  padding: 0px;
}

.users-list li {
  min-height: 60px;
  padding: 10px;
  list-style: none;
  font-size: 12px;
}

.users-list li a img.avatar {
  height: 40px;
  width: 40px;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
  border-radius: 2px;
}

.users-list li div {
  margin-left: 50px;
}

.jumbotron p {
  font-size: 18px;
  font-weight: normal;
}

label {
  font-weight: normal;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  transition: initial;
}

fieldset {
  padding: 10px 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.hackathon-item {
  position: relative;
  padding-top: 56.25%;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
}

.hakcathon-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition-property: width, top, left;
  transition-duration: 0.2s;
  -webkit-animation-name: tile-hover-out;
  animation-name: tile-hover-out;
  z-index: auto;
}

.hakcathon-inner:hover {
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  transition-property: width, top, left;
  transition-duration: 0.2s;
  -webkit-animation-name: tile-hover-out;
  animation-name: tile-hover-out;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
  z-index: 100000;
}

.hackathon-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  text-decoration: none;
}

.hakcathon-inner:hover .hackathon-content {
  box-shadow: rgba(30, 30, 30, 0.8) 0 0 30px;
}

.hackathon-thumb {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.hackathon-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease-out;
  background-image: linear-gradient(to bottom, transparent 20%, #000);
}

.hakcathon-inner:hover .hackathon-overlay {
  height: 200%;
  top: -100%;
}

.hackathon-info {
  position: absolute;
  font-size: 15px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
  color: #FFF;
  width: 100%;
  padding: 10px;
  bottom: 0;
  left: 0;
  transition: min-height 200ms ease-out;
  filter: alpha(Opacity=100);
  opacity: 1;
}

.hakcathon-inner:hover .hackathon-info {
  top: 0;
  bottom: auto;
  min-height: 100%;
}

.hackathon-details {
  display: none;
  text-shadow: none;
}

.hakcathon-inner:hover .hackathon-details {
  -webkit-animation-name: tile-supplementary-deco-in;
  animation-name: tile-supplementary-deco-in;
  filter: alpha(enabled=false);
  opacity: 1;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
  display: block;
}

.hackathon-name {
  margin: 10px 0;
  font-size: 24px;
}

.hackathon-description {
  color: #aaa;
}

.container .jumbotron {
  padding: 20px !important;
  border-radius: 0 !important;;
}

.jumbotron p {
  font-size: 15px;
}

.reg-h-name {
  margin: 0px 0px 15px;
  font-size: 22px;
}

.team {
  position: absolute;
  left: -55px !important;
  z-index: 1000;
  display: none;
  float: left;
  width:220px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-shadow: none;
  background: white;
  border: 1px solid #dbdee0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.team li {

  min-width: 220px;
}

.dropdown-menu-title {
  background: #1F2327;
  color: #fff;
  padding: 5px 10px;
  display: block;
}

.team li a {
  display: block;
  overflow: hidden;
  padding: 5px 10px !important;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #34383c;
  white-space: normal !important;
}

.team li .avatar {
  float: left;
}

.team li .avatar img {
  float: left !important;
  height: 40px;
  width: 40px;
  margin-top: 5px;
  margin-right: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
