{% extends "manage/main.html" %} {% block style %}
<link href="/static/css/bootstrap-editable.css" rel="stylesheet">{% endblock %} {% block body %}
<div class="col-lg-12" loading>
    <div class="box" style="display:none">
        <div class="box-header">
            <h2>
              <i class="fa fa-home"></i>
              管理员管理
          </h2>
        </div>
        <div class="box-content">
            <div id="adminlisttable">
                <a data-type="new" href="javascript:;">添加</a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th>邮箱</th>
                            <th>角色类型</th>
                            <th>状态</th>
                            <th>账户类别</th>
                            <th>备注</th>
                            <th>最后登录时间</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="hackathon_admin_list">
                    </tbody>
                </table>
            </div>
            <div>
                <form class="form-horizontal" id="adminform" style="display:none">
                    <fieldset>
                        <legend>
                            添加管理员信息
                        </legend>
                    </fieldset>

                    <div class="form-group has-feedback">
                        <label class="col-md-3 control-label">邮箱</label>
                        <div class="col-md-6">
                            <input type="email" class="form-control" name="admin_email" id="admin_email" placeholder=""
                                   required
                                   data-bv-trigger="blur"
                                   data-bv-notempty-message="管理员邮箱地址不能为空">
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-md-3 control-label">角色类型</label>
                        <div class="col-md-6">
                            <select class="form-control" name="role_type" id="role_type">
                                <option value="1" selected="selected">管理员</option>
                                <option value="2">裁判</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-md-3 control-label">备注</label>
                        <div class="col-md-6">
                            <textarea rows="4" class="form-control" name="remarks" id="remarks" placeholder=""></textarea>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <div class="col-sm-offset-3 col-sm-6">
                            <button type="button" class="btn btn btn-default" data-type="cancel"> 取消</button>
                            <button type="submit" class="btn btn-primary"> 提交</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %} {% block script %} {{ super() }}
<div class="modal fade bs-example-modal-sm" id="confirm_modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-api="oh.api.admin.register.delete">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>确定删除此管理员？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default wb-btn" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary wb-btn" data-type="ok">确定</button>
            </div>
        </div>
    </div>
</div>

<script id="hackathon_template" type="text/x-jquery-tmpl">
    <option value=${id}>${name}</option>
</script>

<script id="hackathon_admin_list_template" type="text/x-jquery-tmpl">
    <tr>
        <td>${user_info.nickname}</td>
        <td>${$item.getEmails(user_info.email)}</td>
        <td>${$item.getRole(role_type)}</td>
        <td>${$item.getOnline(user_info.online)}</td>
        <td>${user_info.provider}</td>
        <td>${remarks}</td>
        <td>${moment(user_info.last_login_time).format('YYYY-MM-DD HH:mm')}</td>
        <td>${moment(create_time).format('YYYY-MM-DD HH:mm')}</td>

        <td class="col-action">
            <a class="btn btn-info btn-sm" data-type="edit">
                <i class="fa fa-edit "></i>
            </a>
            <a class="btn btn-danger btn-sm" href="#" data-target="#confirm_modal" data-toggle="modal">
                <i class="fa fa-trash-o "></i>
            </a>
        </td>
    </tr>
</script>

<script type="text/javascript" src="/static/js/jquery/bootstrapValidator.js"></script>
<script type="text/javascript" src="/static/js/jquery/moment.min.js"></script>
<script type="text/javascript" src="/static/js/views/oh.adminmgr.js"></script>
{% endblock %}
