{% extends "base/manage.html" %}

{% block style %}
    <link href="/static/css/daterangepicker-bs3.css" rel="stylesheet">
    <link href="/static/css/bootstrapValidator.css" rel="stylesheet">
    <link href="/static/css/bootstrap-markdown.min.css" rel="stylesheet">
    <style>
        body {
            background: none;
        }

        body:after {
            content: initial;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content" class="container clearfix">
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-header">
                        <h2><i class="fa fa-edit"></i>创建黑客松</h2>
                    </div>
                    <div class="box-content">
                        <div class="step-content">
                            <div class="step-pane active" id="step1">
                                <form class="form-horizontal" id="stepform1" method="post"
                                      data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                      data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                      data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
                                    <fieldset>
                                        <legend>
                                            创建黑客松基本信息
                                        </legend>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-2 control-label">名称</label>

                                                    <div class="col-md-10 register">
                                                        <input type="text" class="form-control" name="name" id="name"
                                                               placeholder="请使用英文小字母、数字和'_'（下划线）'-'(中划线)"
                                                               required
                                                               data-bv-trigger="blur"
                                                               data-bv-message="黑客松名称无效"
                                                               data-bv-notempty-message="黑客松名称是必需的，不能为空"
                                                               pattern="^(?!_)(?!.*?_$)[a-z0-9_-]+$"
                                                               data-bv-regexp-message="黑客松名称只能由英文字母的，数字和下划线"
                                                               minlength="5"
                                                               data-bv-stringlength-message="黑客松名称必须至少有5个字符"
                                                                >
                                                    </div>
                                                </div>
                                                <div class="form-group has-feedback">

                                                    <label class="col-md-2 control-label">显示名称</label>

                                                    <div class="col-md-10 register">
                                                        <input type="text" class="form-control" name="display_name"
                                                               id="display_name"
                                                               required
                                                               data-bv-trigger="blur"
                                                               data-bv-notempty-message="Hackathon显示名称是必需的，不能为空">
                                                    </div>

                                                </div>

                                                <div class="form-group has-feedback">
                                                    <label class="col-md-2 control-label">标签</label>

                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" name="tags"
                                                               data-role="tagsinput"
                                                               id="tags">
                                                    </div>
                                                </div>
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-2 control-label">简介</label>

                                                    <div class="col-md-10">
                                                <textarea class="form-control" name="short_description"
                                                          id="short_description" maxlength="200"></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-2 control-label">活动介绍</label>

                                                    <div class="col-md-10">
                                                        <textarea name="content" id="markdownEdit" rows="10"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-2 control-label">广告语</label>

                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" name="ribbon"
                                                               id="ribbon"
                                                               maxlength="60">
                                                    </div>
                                                </div>
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-2 control-label">活动地址</label>

                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" name="location"
                                                               id="location">
                                                    </div>
                                                </div>
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-2 control-label">报名人数</label>

                                                    <div class="col-md-10">
                                                        <input type="number" class="form-control" name="max_enrollment"
                                                               id="max_enrollment" min="0" placeholder="" value="0"
                                                               required
                                                               data-bv-trigger="blur"
                                                               data-bv-notempty-message="报名人数，不能为空"
                                                               data-bv-integer-message="请输入数字">
                                                    </div>
                                                </div>
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-2 control-label" for="event_time">活动时间</label>

                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" id="event_time"
                                                               name="event_time"
                                                               placeholder=""
                                                               required
                                                               data-bv-notempty-message="活动时间，不能为空"
                                                               data-bv-trigger="change input">
                                                    </div>
                                                </div>
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-2 control-label"
                                                           for="register_time">报名时间</label>

                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" id="register_time"
                                                               name="register_time"
                                                               placeholder=""
                                                               required
                                                               data-bv-notempty-message="报名时间，不能为空"
                                                               data-bv-trigger="change input">
                                                    </div>
                                                </div>
                                                <div class="form-group has-feedback">
                                                    <label class="col-md-2 control-label" for="judge_time">评分时间</label>

                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control" id="judge_time"
                                                               name="judge_time"
                                                               placeholder=""
                                                               required
                                                               data-bv-notempty-message="评分时间，不能为空"
                                                               data-bv-trigger="change input">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-6">
                                                        <label class="checkbox">
                                                            <input type="checkbox" class="control-label"
                                                                   name="freedom_team"
                                                                   checked="checked" id="freedom_team"><i></i>
                                                            <span>自由组队</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-6">
                                                        <label class="checkbox">
                                                            <input type="checkbox" class="control-label"
                                                                   name="alauda_enabled"
                                                                   id="alauda_enabled"><i></i>
                                                            <span>使用云雀</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-6">
                                                        <label class="checkbox">
                                                            <input type="checkbox" class="control-label"
                                                                   name="auto_approve"
                                                                   id="auto_approve"><i></i>
                                                            <span>自动审核</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="judge_time">登录方式</label>

                                                    <div class="col-md-10">
                                                        <label class="checkbox">
                                                            <input type="checkbox" class="control-label"
                                                                   checked="checked" data-role="login_provider"
                                                                   name="login_account"
                                                                   value="1"><i></i>
                                                            <span>Microsoft Account</span>
                                                        </label>
                                                        <label class="checkbox">
                                                            <input type="checkbox" class="control-label"
                                                                   checked="checked" data-role="login_provider"
                                                                   name="login_github"
                                                                   value="2"><i></i>
                                                            <span>github</span>
                                                        </label>
                                                        <label class="checkbox">
                                                            <input type="checkbox" class="control-label"
                                                                   checked="checked" data-role="login_provider"
                                                                   name="login_qq"
                                                                   value="4"><i></i>
                                                            <span>QQ</span>
                                                        </label>
                                                        <label class="checkbox">
                                                            <input type="checkbox" class="control-label"
                                                                   checked="checked" data-role="login_provider"
                                                                   name="login_wechat"
                                                                   value="64"><i></i>
                                                            <span>Wechat</span>
                                                        </label>
                                                        <label class="checkbox">
                                                            <input type="checkbox" class="control-label"
                                                                   checked="checked" data-role="login_provider"
                                                                   name="login_weibo"
                                                                   value="8"><i></i>
                                                            <span>Weibo</span>
                                                        </label>
                                                        <!--<label class="checkbox">
                                                            <input type="checkbox" class="control-label"
                                                                   checked="checked" data-role="login_provider"
                                                                   name="login_gitcafe"
                                                                   value="16"><i></i>
                                                            <span>gitcafe</span>
                                                        </label>-->
                                                        <label class="checkbox">
                                                            <input type="checkbox" class="control-label"
                                                                   checked="checked" data-role="login_provider"
                                                                   name="login_alauda"
                                                                   value="32"><i></i>
                                                            <span>alauda （灵雀云）</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <legend>
                                            活动图片 (banner)
                                        </legend>
                                        <div class="files row">
                                            <div class="fileupload-buttonbar">
                                                <div class="col-sm-3 col-xs-6" id="banner_btn">
                                                    <div class="btn-upload fileinput-button">
                                                        <div><span class="glyphicon glyphicon-upload"></span>添加活动图片
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>


                                    <div class="form-group has-feedback">
                                        <div class="col-sm-offset-6 col-sm-6">
                                            <button type="submit" class="btn btn-primary"> 提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="step-pane" id="step2">
                                <legend>
                                    创建黑客松成功
                                </legend>
                                <div class="form-horizontal">
                                    <h2>
                                        创建Hackathon成功，
                                    </h2>

                                    <div class="form-group has-feedback">
                                        <div class="col-sm-offset-2 col-sm-6">
                                            <a href="" id="goto_org">立刻添加主办方信息</a>
                                            <a class="btn btn-success" href="/manage">返回我的黑客松</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <div class="modal fade" id="bannerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form id="addBannerForm" class="form-horizontal" novalidate>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">添加图片</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group"
                             ng-class="{ 'has-error' : registerForm.team_name.$invalid && registerForm.team_name.$touched }">
                            <label class="col-sm-3 control-label required">图片路径</label>

                            <div class="col-sm-9">
                                <input type="url" class="form-control" id="banner" name="banner" placeholder="图片路径"
                                       required
                                       data-bv-trigger="blur"
                                       data-bv-message="请填写正确的图片访问路径"
                                       data-bv-notempty-message="请填图片路径">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">确定</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script id="banner_temp" type="text/x-jquery-tmpl">
    {% raw %}
    <div class="col-sm-3 col-xs-6 template-download">
        <div class="thumbnail">
            <span class="preview">
                <a href="javascript:;"><img src="{url}" error=""></a>
            </span>
            <a class="delete" data-guid="{guid}"  data-action="close" title="删除">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </div>
    </div>
    {% endraw %}




    </script>
    <script type="text/javascript" src="/static/js/jquery/bootstrapValidator.js"></script>
    <script type="text/javascript" src="/static/js/jquery/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/daterangepickerlocale.js"></script>
    <script type="text/javascript" src="/static/js/jquery/daterangepicker.js"></script>
    <script type="text/javascript" src="//cdn.ckeditor.com/4.5.6/full/ckeditor.js"></script>
    <script type="text/javascript" src="/static/js/views/oh.manage.createhackathon.js"></script>
{% endblock %}
