{% extends "base/manage.html" %}

{% block meta %}
{% endblock %}

{% block style %}
<link href="/static/css/bootstrapValidator.css" rel="stylesheet">
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="sidebar-left" class="col-lg-2 col-sm-1">
            <div class="sidebar-nav nav-collapse collapse navbar-collapse">
               {% include  "partials/main-menu.html" %}
            </div>
            <a href="#" id="main-menu-min" class="full visible-md visible-lg"><i class="fa fa-angle-double-left"></i></a>
        </div>
        <div id="content" class="col-lg-10 col-sm-11">
            <legend> 当前黑客松：{{hackathon_name}}</legend>
            <div class="row">
                {% block body %} {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/jquery/bootstrapValidator.js"></script>
<script type="text/javascript" src="/static/js/jquery/moment.min.js"></script>
<script type="text/javascript" src="/static/js/jquery/jquery.tmpl.min.js"></script>
{% endblock %}
