{% extends "manage/main.html" %}

{% block style %}
    <link href="/static/css/bootstrap-markdown.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="col-lg-12" loading>
        <div class="box" style="display:none">
            <div class="box-header">
                <h2><i class="fa fa-edit"></i>组织</h2>
            </div>
            <div class="box-content">
                <div id="organizertable">
                    <a data-type="new" href="javascript:;">添加</a>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>类型</th>
                            <th>网址</th>
                            <th>logo</th>
                            <th>介绍</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="organizerlist">

                        </tbody>
                    </table>
                </div>
                <div>
                    <form class="form-horizontal" id="organizerform" style="display:none">
                        <fieldset>
                            <legend>
                                添加组织信息
                            </legend>
                        </fieldset>
                        <div class="form-group has-feedback">
                            <label class="col-md-3 control-label">组织名称</label>

                            <div class="col-md-6">
                                <input type="text" class="form-control" name="name" id="name" placeholder=""
                                       required
                                       data-bv-trigger="blur"
                                       data-bv-notempty-message="组织名称，不能为空">
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-md-3 control-label">组织类型</label>

                            <div class="col-md-6">
                                <select class="form-control" name="organization_type" id="organization_type"
                                        placeholder="选择类型"
                                        required
                                        data-bv-trigger="blur"
                                        data-bv-notempty-message="组织类型，不能为空">
                                    <option>主办方</option>
                                    <option>合作伙伴</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-md-3 control-label">组织网址</label>

                            <div class="col-md-6">
                                <input type="url" class="form-control" name="homepage" id="homepage" placeholder="">
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-md-3 control-label">组织logo</label>

                            <div class="col-md-6">
                                <input type="url" class="form-control" name="logo" id="logo" placeholder="">
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-md-3 control-label">组织介绍</label>

                            <div class="col-md-6">
                                <textarea class="form-control" name="description" id="description" placeholder=""
                                          rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-group has-feedback">

                            <div class="col-sm-offset-3 col-sm-6">
                                <button type="button" class="btn btn btn-default" data-type="cancel"> 取消</button>
                                <button type="submit" class="btn btn-primary"> 提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block script %}
    <div class="modal fade bs-example-modal-sm" id="confirm_modal" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true" data-api="oh.api.admin.hackathon.organizer.delete">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p>确定删除此地址记录？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default wb-btn" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary wb-btn" data-type="ok">确定</button>
                </div>
            </div>
        </div>
    </div>
    {{ super() }}
    <script id="hackathon_organizer" type="text/x-jquery-tmpl">
    <tr>
        <td>${name}</td>
        <td>${$item.get_organization_type(organization_type)}</td>
        <td><a href="${homepage}">${homepage}</a></td>
        <td><div class="oh-thumb"><img class="oh-thumbnail" src="${logo}"><div></td>
        <td>${$item.substring(description,30)}</td>
        <td class="col-action">
            <a class="btn btn-info btn-sm" data-type="edit">
                <i class="fa fa-edit "></i>
            </a>
            <a class="btn btn-danger btn-sm" href="#" data-target="#confirm_modal" data-toggle="modal">
                <i class="fa fa-trash-o "></i>
            </a>
        </td>
    </tr>


    </script>
    <script type="text/javascript" src="/static/js/jquery/marked.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery/to-markdown.js"></script>
    <script type="text/javascript" src="/static/js/jquery/bootstrap-markdown.js"></script>
    <script type="text/javascript" src="/static/js/jquery/bootstrap-markdown.zh.js"></script>
    <script type="text/javascript" src="/static/js/views/oh.manage.organizers.js"></script>
{% endblock %}