{% extends "manage/main.html" %}

{% block style %}
    {{ super() }}
    <link href="/static/css/bootstrap-editable.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header">
                <h2>
                    <i class="fa fa-home"></i>
                    用户管理
                </h2>
            </div>
            <div class="box-content">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="/edit/register">添加</a>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>注册名</th>
                        <th>邮箱</th>
                        <th>登录方式</th>
                        <th>联系电话</th>
                        <th>联系地址</th>
                        <th>报名时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="registe_list">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}

{% block script %}
    <div class="modal fade bs-example-modal-sm" id="confirm_modal" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true" data-api="oh.api.admin.register.delete">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p>确定删除此地址记录？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default wb-btn" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary wb-btn" data-type="ok">确定</button>
                </div>
            </div>
        </div>
    </div>
    {{ super() }}
    <script id="hackathon_template" type="text/x-jquery-tmpl">
    <option value=${id}>${name}</option>

    </script>
    <script id="register_list_template" type="text/x-jquery-tmpl">
    {% raw %}
    <tr>
        <td>
            ${user.name}
        </td>
        <td>{{each user.email}}${email} ,{{/each}}</td>
        <td>${user.provider}</td>
        <td>{{if user.user_profile}} ${user.user_profile.phone} {{/if}}</td>
        <td>{{if user.user_profile}} ${user.user_profile.address} {{/if}}</td>
        <td>${moment(create_time).format('YYYY-MM-DD HH:mm')}</td>
        <td>
            <a href="javascript:void(0);" data-type="select" data-name="status" data-value="${status}" class="editable" data-source='{"0":"未审核","1":"通过","2":"拒绝","3":"自动通过"}' data-placement="top"></a>
        </td>
    {% endraw %}
        <td class="col-action">
        {% if current_user.is_super %}
            <a class="btn btn-danger btn-sm" href="#" data-target="#confirm_modal" data-toggle="modal">
                <i class="fa fa-trash-o "></i>
            </a>
        {% endif %}
        </td>
    </tr>

    </script>
    <script type="text/javascript" src="/static/js/bootstrap/bootstrap-editable.js"></script>
    <script type="text/javascript" src="/static/js/views/oh.manage.register.js"></script>
{% endblock %}
