{% extends "manage/main.html" %}

{% block style %}
    <link href="/static/css/oh.manage.template.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-edit"></i>模板列表</h2>
            </div>
            <div class="box-content">

                <div id="templatetable">
                    <a type="button" class="btn btn-primary btn-sm" data-type="add_template">
                        <i class="fa fa-plus"></i>
                    </a>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>模板单元数</th>
                            <th>状态</th>
                            <th>创建时间</th>
                            <th>模板文件</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="templatelist">
                        </tbody>
                    </table>
                </div>

                <div id="templates" class="hide">
                    <a type="button" class="btn btn-primary btn-sm" data-type="return">返回列表</a>

                    <div class="row" id="template_list">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block script %}
    <div class="modal fade bs-example-modal-sm" id="confirm_modal" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true" data-api="oh.api.admin.register.delete">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default wb-btn" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary wb-btn" data-type="ok">确定</button>
                </div>
            </div>
        </div>
    </div>
    {{ super() }}
    <script id="table_template" type="text/x-jquery-tmpl">
    {% raw %}
    <tr>
        <td>${template.name}</td>
        <td>${template.virtual_environment_count}</td>
        <td>${$item.getStatus(template.status)}</td>
        <td>${moment(template.create_time).format('YYYY/MM/DD HH:mm')}</td>

        <td><a href="${template.url}">下载</a></td>
        <td class="col-action">
            <a type="button" class="btn btn-danger btn-sm" href="#" data-role="delete">
                <i class="fa fa-trash-o "></i>
            </a>
            <a type="button" class="btn btn-success btn-sm" href="/testtemplate?hackathon_name=${$item.hackathon_name}&temp_name=${name}" target="top" title="诊断">
                <i class="fa fa-stethoscope "></i>
            </a>
        </td>
    </tr>
    {% endraw %}

    </script>
    <script id="template_item" type="text/x-jquery-tmpl">
    {% raw %}
    <div class="col-md-4 col-sm-6">
        <div class="oh-tempitem ${$item.getItemClass(id,status)}">
            <div class="oh-temp-head">${name}</div>
            <div class="oh-temp-body">
                <p>${creator_id}</p>
                <p>${$item.getStatus(status)}  <span>${moment(create_time).format('YYYY/MM/DD')} </span></p>
                <p class="color-grey">${description}</p>
            </div>
        </div>
    </div>
    {% endraw %}
    </script>
    <script type="text/javascript" src="/static/js/views/oh.manage.template.js"></script>
{% endblock %}
