{% extends "base/manage.html" %}

{% block style %}
<link href="/static/css/oh.manage.testtemplate.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="text-center loading"><img src="/static/pic/spinner-lg.gif"></div>
<div class="full-main" style="display:none">
    <div class="remote_tabs clearfix">
        <ul class="nav nav-tabs" id="tabs"></ul>
    </div>
    <div id="remotes">

    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/views/oh.manage.testtemplate.js"></script>
{% endblock %}