<!-- start: Header Menu -->
<div class="nav-no-collapse header-nav">
    {% if workspace %}
        <ul class="nav navbar-nav">
            <li>
                <a id="workfull" title="全屏" class="btn" href="javascript:;">
                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span> 全屏
                </a>
            </li>
        </ul>
    {% endif %}
    <ul class="nav navbar-nav pull-right">
        <!-- start: User Dropdown -->
        {% if current_user.nickname %}
            <li class="dropdown">
                <a class="btn account dropdown-toggle" data-toggle="dropdown" href="index.html#">
                    <div class="avatar">
                        <img src="{{ current_user.avatar_url }}" alt="Avatar">
                    </div>
                    <div class="user">
                        <div class="hello">Welcome!</div>
                        <div class="name">{{ current_user.nickname }}</div>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('user_profile') }}"><i class="fa fa-star"></i>个人信息</a></li>
                    <li><a href="{{ url_for('myhackathon') }}"><i class="fa fa-envelope"></i> 我的管理</a></li>
                    <li><a href="{{ url_for('logout') }}"><i class="fa fa-off"></i> 登出</a></li>
                </ul>
            </li>
        {% else %}
            <li><a class="btn" href="{{ url_for('login',return_url=request.path) }}">登陆</a></li>
        {% endif %}
        <!-- end: User Dropdown -->
    </ul>
    {% if workspace %}
        <ul class="nav navbar-nav pull-right">
            <li>
                <a id="timer">距离{{ hackathon.name }}结束还有：
                    <span id="end_timer" data-endtiem="{{ hackathon.event_end_time }}"></span>
                </a>
            </li>
            <li class="dropdown">
                <a type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
                    团队 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <span class="dropdown-menu-title">团队名称：{{ teamname }}</span>
                    </li>

                    <li><a href="{{ url_for('user_profile') }}"><i class="fa fa-star"></i>个人信息</a></li>

                    <li>
                        <span class="dropdown-menu-title" style="height: 22px;"></span>
                    </li>
                </ul>
            </li>
        </ul>
    {% endif %}
</div>
<!-- end: Header Menu -->