<!-- start: Header Menu -->
<div id="navbar" class="navbar-collapse collapse header-nav">
    {% if workspace %}
        <ul class="nav navbar-nav">
            <li>
                <a id="workfull" title="全屏" class="btn" href="javascript:;">
                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span> 全屏
                </a>
            </li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav">
            <li {% if request.endpoint  == 'index' %}class="active"{% endif %}>
                <a href="{{ url_for('index') }}">首页</a>
            </li>
            <li class="soon">
                <a href="#">预览活动</a>
                <span>coming soon</span>
            </li>
            <li class="soon">
                <a href="#">黑客松社区</a>
                <span>coming soon</span>
            </li>
            <li>
                <a href="#">新手帮助</a>
            </li>
        </ul>
    {% endif %}
    <ul class="nav navbar-nav navbar-right">
        {#        <li><a href=""><span class="glyphicon glyphicon-search"></span></a></li>#}
        <!-- start: User Dropdown -->
        {% if current_user.nickname %}
            <li><a href="{{ url_for('create_hackathon') }}">发布活动</a></li>
            <!--<li class="dropdown oh-h-mgs">-->
            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="javascirpt:;">-->
            <!--<i class="fa fa-envelope"></i>-->
            <!--消息<span></span>-->
            <!--<span class="oh-caret"></span>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu">-->
            <!--<li>暂无消息</li>-->
            <!--</ul>-->
            <!--</li>-->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascirpt:;">
                    <img class="avatar"
                         src="{{ current_user.avatar_url == none and  '/static/pic/anon_user.png' or current_user.avatar_url }}"
                         alt="{{ current_user.nickname }}" onerror="javascript:this.src='/static/pic/anon_user.png'">
                    我的黑客松
                    <span class="oh-caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ url_for('user_profile') }}">
                            <i class="fa fa-star"></i> {{ current_user.nickname }}
                            <br>
                            <i class="fa fa-{{ current_user.provider }}"></i> 账号登陆
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('user_profile') }}"><i class="fa fa-star"></i>个人信息</a></li>
                    <li><a href="{{ url_for('myhackathon') }}"><i class="fa fa-envelope"></i> 我的活动</a></li>
                    <!--<li><a href="{{ url_for('team_list') }}"><i class="fa fa-envelope"></i> 我的团队</a></li>-->
                    <li><a href="{{ url_for('myhackathon') }}"><i class="fa fa-envelope"></i> 我的管理</a></li>
                    <li><a href="{{ url_for('logout',return_url=request.path) }}"><i class="fa fa-off"></i> 登出</a></li>
                </ul>
            </li>
        {% else %}
            <li><a href="{{ url_for('login',return_url='/manage/create') }}">发布活动</a></li>
            <li><a href="{{ url_for('login',return_url=request.path) }}">登录</a></li>
        {% endif %}
        <!-- end: User Dropdown -->
    </ul>
    {% if workspace %}
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a id="timer">距离{{ hackathon.display_name }}结束还有：
                    <span id="end_timer" data-endtiem="{{ hackathon.event_end_time }}"></span>
                </a>
            </li>
            <li class="dropdown">
                <a type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
                    团队 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <span class="dropdown-menu-title">团队名称：{{ teamname }}</span>
                    </li>

                    <li></li>

                    <li>
                        <span class="dropdown-menu-title" style="height: 22px;"></span>
                    </li>
                </ul>
            </li>
        </ul>
    {% endif %}
</div>
<!-- end: Header Menu -->