[Unit]
Description=Open Hackathon Server
After=network.target

[Service]
User=root
ExecStart=/usr/local/bin/uwsgi --ini /opt/open-hackathon/open-hackathon-server/src/open-hackathon-server.ini

[Install]
WantedBy=multi-user.target
