{% extends "base/base.html" %} {% block head %}
    <title>{{ hackathon.display_name }}</title>
{% endblock %} {% block style %}
    <link href="/static/css/oh.site.hackathon.css" rel="stylesheet"> {% endblock %} {% block content %}
    <div class="oh-main">
        <div class="container">
            <div class="row">
                <div class="col-xs-7">
                    <div id="banner" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for src in hackathon.banners %}
                                <li data-target="#banner" data-slide-to="{{ loop.index - 1 }}" {% if loop.index==1 %}
                                    class="active" {% endif %}></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            {% for src in hackathon.banners %}
                                <div class="item {% if loop.index == 1 %} active {% endif %}">
                                    <img src="{{ src }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="h-info">
                        <h1 class="title">{{ hackathon.display_name }}</h1>
                        <ul class="tags">
                            {% for item in hackathon.tags %}
                                <li><a href="javascript:;">{{ item }}</a></li>
                            {% endfor %}
                        </ul>
                        <dl class="oh-detail-info">
                            <dt>报名时间 <span class="fa fa-calendar green-text"></span></dt>
                            <dd>
                                {{ hackathon.registration_start_time | date("%Y/%m/%d %H:%M") }}
                                — {{ hackathon.registration_end_time | date("%Y/%m/%d %H:%M") }}
                            </dd>
                            <dt>活动时间 <span class="fa fa-calendar green-text"></span></dt>
                            <dd>
                                {{ hackathon.event_start_time | date("%Y/%m/%d %H:%M") }}
                                — {{ hackathon.event_end_time | date("%Y/%m/%d %H:%M") }}
                            </dd>
                            <dt>活动地址 <span class="fa fa-map-marker green-text"></span></dt>
                            <dd>
                                {{ hackathon.location == '' and '在线编程' or hackathon.location }}
                            </dd>
                            <dt>报名人数</dt>
                            <dd>
                                {{(not hackathon.config.max_enrollment is defined or hackathon.config.max_enrollment|int == 0) and '无限' or hackathon.config.max_enrollment|int ~ '人' }}
                                （<span class="red-text">{{ hackathon.stat.register or 0 }}</span>人已报名）
                            </dd>
                        </dl>
                        <div id="status">
                            {% if user.is_admin %}
                                <a class="btn btn-info" href="/manage/edit/{{ hackathon_name }}">管理</a>
                            {% elif hackathon.event_end_time < get_now() %}
                                <p>活动已经结束。</p>
                                {% if team != None %}
                                    <a class="btn btn-success"
                                       href="{{ url_for('create_join_team',hackathon_name=hackathon_name, tid=team.id) }}">我的团队</a>
                                {% endif %}
                            {% elif hackathon.registration_end_time < get_now() %}
                                {% if registration.status == 1 or (hackathon.config.auto_approve and registration.status == 3) %}
                                    <p>您的报名已经审核已通过。</p>
                                    {% if experiment == None %}
                                        <a class="btn btn-primary"
                                           href="{{ url_for('temp_settings',hackathon_name=hackathon_name) }}">立即参加</a>
                                    {% else %}
                                        <a class="btn btn-primary"
                                           href="{{ url_for('workspace',hackathon_name=hackathon_name) }}">立即参加</a>
                                    {% endif %}
                                    {% if team != None %}
                                        <a class="btn btn-success"
                                           href="{{ url_for('create_join_team',hackathon_name=hackathon_name, tid=team.id) }}">我的团队</a>
                                    {% endif %}
                                {% elif (hackathon.config.auto_approve == '0' and registration.status == 3 ) or registration.status == 0 %}
                                    <p>您的报名正在审核中，请等待。</p>
                                {% elif registration.status == 2 %}
                                    <p>您的报名已被拒绝，如有疑问请联系主办方。</p>
                                {% else %}
                                    {% if user == None %}
                                        <p>报名已经结束, 已报名用户请先登录。</p>
                                    {% else %}
                                        <p>报名已经结束。</p>
                                    {% endif %}
                                {% endif %}
                            {% elif user == None %}
                                <a class="btn btn-primary"
                                   href="{{ url_for('login', return_url=request.path, provides=get_provides(hackathon.config.login_provider)) }}">我要报名</a>
                            {% elif user.get("profile") == None %}
                                <a class="btn btn-primary"
                                   href="{{ url_for('user_profile_edit',return_url=request.path) }}">我要报名</a>
                            {% elif registration == None %}
                                <a class="btn btn-primary" data-type="register">我要报名</a>
                            {% elif registration != None %}
                                {% if registration.status == 1 or (hackathon.config.auto_approve and registration.status == 3) %}
                                    <p>您的报名已经审核已通过。</p>
                                    {% if experiment == None %}
                                        <a class="btn btn-primary"
                                           href="{{ url_for('temp_settings',hackathon_name=hackathon_name) }}">立即参加</a>
                                    {% else %}
                                        <a class="btn btn-primary"
                                           href="{{ url_for('workspace',hackathon_name=hackathon_name) }}">立即参加</a>
                                    {% endif %}
                                    {% if team != None %}
                                        <a class="btn btn-success"
                                           href="{{ url_for('create_join_team',hackathon_name=hackathon_name, tid=team.id) }}">我的团队</a>
                                    {% endif %}
                                {% elif (hackathon.config.auto_approve == '0' and registration.status == 3 ) or registration.status == 0 %}
                                    <p>您的报名正在审核中，请等待。</p>
                                {% elif registration.status == 2 %}
                                    <p>您的报名已被拒绝，如有疑问请联系主办方。</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-md-block visible-sm-block"></div>
            </div>
            <div class="row">
                <div class="col-xs-9 activity-info">
                    <ul class="nav nav-tabs profile-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#detail" role="tab" data-toggle="tab" id="tab_detail">活动详情</a>
                        </li>
                        <li role="presentation">
                            <a href="#news" role="tab" data-toggle="tab" id="tab_news">最新动态</a>
                        </li>
                        <li role="presentation">
                            <a href="#comment" role="tab" data-toggle="tab" id="tab_comment">讨论专区</a>
                        </li>
                        <li role="presentation">
                            <a href="#team" role="tab" data-toggle="tab" id="tab_team">所有团队</a>
                        </li>
                        <li role="presentation">
                            <a href="#works" role="tab" data-toggle="tab" id="tab_works">作品公布</a>
                        </li>
                        <li role="presentation" id="tab_item_awards">
                            <a href="#awards" role="tab" data-toggle="tab" id="tab_awards">获奖名单</a>
                        </li>
                    </ul>
                    <div class="tab-content profile-tab-content">
                        <div role="tabpanel" class="tab-pane active" id="detail">
                            <div>
                                {{ hackathon.description | safe }}
                            </div>
                            {% if hackathon.awards | length  > 0 %}
                                <div>
                                    <h3 class="title">奖品</h3>
                                    {% for award in hackathon.awards %}
                                        <div class="award award-{{ loop.index }}" data-parent>
                                            <img data-loadsrc="{{ award.award_url }}" src="{{ award.award_url }}"
                                                 alt="{{ award.name }}">
                                            <div class="award-body">
                                                <h3>{{ award.name }}</h3>
                                                <p>{{ award.description }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="news">
                            <div id="oh-latest-news">
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="comment">
                            <div class="ds-thread" data-thread-key="ohp-{{ hackathon.name }}"
                                 data-title="{{ hackathon.display_name }}"
                                 data-url="http://hacking.kaiyuanshe.cn/site/{{ hackathon.name }}"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="team">
                            <div class="teams clearfix " id="team_list">
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="works">
                            <div class="ob-body row" id="team_show">
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="awards">
                            <div class="ob-body row" id="team_awards">
                                <h3 class="title" style="color: #7dba41; padding-left: 5px">获奖名单</h3>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-3">
                    {% if hackathon.organizers | length > 0 %}
                        <div class="oh-box">
                            <h3 class="title">主办方</h3>
                            <div class="oh-body organizer">
                                {% for org in hackathon.organizers %}
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="{{ org.homepage }}" class="oh-thumb">
                                                <img class="media-object oh-thumbnail" src="{{ org.logo }}"
                                                     alt="{{ org.name }}">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">{{ org.name }}</h4> {{ org.description | mkHTML | stripTags | limitTo(100) }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if hackathon.partners | length  > 0 %}
                        <div class="oh-box">
                            <h3 class="title">合作伙伴</h3>
                            <div class="oh-body parter">
                                {% for org in hackathon.partners %}
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="{{ org.homepage }}" class="oh-thumb">
                                                <img class="media-object oh-thumbnail" src="{{ org.logo }}"
                                                     alt="{{ org.name }}">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">{{ org.name }}</h4> {{ org.description | mkHTML | stripTags | limitTo(100) }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if hackathon.location %}
                        <div class="oh-box">
                            <h3 class="title">活动地点</h3>
                            <div id="map" class="baidu-map" title="{{ hackathon.location }}"></div>
                        </div>
                    {% endif %}
                    <div class="oh-box" style="display:none">
                        <h3 class="title">您还可能感兴趣</h3>
                        <div class="oh-body interest">
                            <div class="media">
                                <div class="media-left">
                                    <a href="javascript:;" class="oh-thumb">
                                        <img class="media-object oh-thumbnail" src="/static/pic/microsoft.jpg" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Open xml</h4> sdfasdfa
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="javascript:;" class="oh-thumb">
                                        <img class="media-object oh-thumbnail" src="/static/pic/microsoft.jpg" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Open xml</h4> sdfasdfa
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="javascript:;" class="oh-thumb">
                                        <img class="media-object oh-thumbnail" src="/static/pic/microsoft.jpg" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Open xml</h4> sdfasdfa
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="oh_lift">
        <div class="full-shared">
            <div class="jiathis_style_32x32 share-btn">
                <a class="jiathis_button_ishare">
                    <label>一键分享</label>
                </a>
                <a class="jiathis_button_tsina">
                    <label>微博分享</label>
                </a>
                <a class="jiathis_button_tqq">
                    <label>腾讯微博</label>
                </a>
                <a class="jiathis_button_wechat">
                    <label>微信分享</label>
                </a>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form id="registerForm" class="form-horizontal" data-hid="{{ hackathon.id }}" novalidate>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">申请</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group"
                             ng-class="{ 'has-error' : registerForm.team_name.$invalid && registerForm.team_name.$touched }">
                            <label class="col-sm-3 control-label required">团队名称</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="team_name" placeholder="团队名称" required
                                       data-bv-trigger="blur" data-bv-notempty-message="团队名称必须填写">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">代码托管地址</label>
                            <div class="col-sm-9">
                                <input type="url" class="form-control" name="git_project" placeholder="githubx项目地址">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">确定</button>
                        <button type="button" class="btn btn-warning" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %} {% block script %}
    <script id="notice_list_temp" type="text/x-jquery-tmpl">
  {% raw %}
  <dl class="oh-latest-news">
    <dt>${$item.getNoticeTime(update_time)}</dt>
    <dd style="word-break: break-all">
      {{if link==''}}
      <span class="${$item.getNoticeIcon(category)}"></span>${content} {{else}}
      <span class="${$item.getNoticeIcon(category)}"></span><a href="${link}">${content}</a> {{/if}}
    </dd>
  </dl>
  {% endraw %}



    </script>
    <script id="team_list_temp" type="text/x-jquery-tmpl">
  {% raw %}
  <div class="col-xs-3">
    <div class="item">
       <div class="clearfix">
          <div class="logo" data-parent>
            <a href="${$item.get_link(id)}" target="_blank" class="oh-thumb">
              <img class="media-object" src="${$item.get_logo(logo)}" onload="oh.comm.imgLoad(this)" onerror="javascript:this.src='/static/pic/team-logo.png'" alt="${name}">
            </a>
          </div>
          <div class="team-body">
            <h4 class="media-heading"><a target="_blank" href="${$item.get_link(id)}" title="${name}">${name}</a></h4>
            <p>共 <span class="green-text">${member_count}</span> 人</p>
          </div>
      </div>
      <div class="footer">
       <div>队长：<a href="/user/p_${leader.id}"><span class="u-logo" data-parent><img src="${leader.avatar_url}" onload="oh.comm.imgLoad(this)" onerror="javascript:this.src='/static/pic/monkey-32-32px.png'"></span> ${leader.nickname}</a></div>
      </div>
    </div>
  </div>
  {% endraw %}

    </script>
    <script id="show_list_temp" type="text/x-jquery-tmpl">
  {% raw %}
  <div class="col-xs-6">
    <div class="item">
        <div class="header" data-parent>
            <a href="${$item.link(id)}" target="_blank">
                <img src="${cover}" class="oh-thumbnail" alt="${project_name}" onload="oh.comm.imgLoad(this)" onerror="javascript:this.src='/static/images/project_none.png'">
            </a>
        </div>
        <div class="body">
            <h4>项目名称：${project_name}</h4>
            <p>团队名：<a href="${$item.link(id)}" target="_blank">${name}</a></p>
            <div class="desc">
                ${description}
            </div>
         </div>
        <div class="footer">
            <p> 更多展示：{{html $item.getlinks(works,id)}}</p>
        </div>
      </div>
    </div>
  </div>
  {% endraw %}

    </script>
    <script id="register_list_temp" type="text/x-jquery-tmpl">
  {% raw %}
  <li>
    <a href="javascript:;">
      <img class="avatar" alt="Lucas" src="${avatar_url }">
    </a>
    <div>
      <strong>${name}</strong>
    </div>
    <div class="date">${create_time}</div>
  </li>
  {% endraw %}





    </script>
    <script type="text/javascript">
        function setupScriptDelay(scriptPath, sync, onHead) {
            var setupScript = document.createElement("script");
            setupScript.type = 'text/javascript';
            if (!sync) setupScript.async = true;
            if (scriptPath.indexOf("http") == 0) setupScript.src = scriptPath;
            else setupScript.src = (("https:" == document.location.protocol) ? "https://" : "http://") + scriptPath;
            if (onHead) document.getElementsByTagName("head")[0].appendChild(setupScript);
            else document.body.appendChild(setupScript);
        }
        var opts = {
            width: 100, // 信息窗口宽度
            height: 30 // 信息窗口高度题
        }

        function initializeMap() {
            var address = "{{ hackathon.location }}";

            var map = new BMap.Map("map");
            var myGeo = new BMap.Geocoder();
            myGeo.getPoint(address, function (point) {
                if (point) {
                    map.enableScrollWheelZoom();
                    map.centerAndZoom(point, 14);
                } else {
                    map.enableScrollWheelZoom();
                    point = new BMap.Point(116.331398, 39.897445);
                    map.centerAndZoom(point, 1);
                }
            });
        }
        $(function () {
            var ismap = {{hackathon.location == '' and 'false' or 'true'}};
            if (ismap) {
                window.setTimeout("setupScriptDelay('api.map.baidu.com/api?v=2.0&ak=KIpwmISmRtIMMssrIQ4NF9ji&callback=initializeMap', true)", 300);
            }
        });
    </script>
    <script type="text/javascript" src="/static/js/jquery/bootstrapValidator.js"></script>
    <script type="text/javascript" src="/static/js/jquery/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/views/oh.site.hackathon.js"></script>
    <script type="text/javascript">
        var duoshuoQuery = {
            short_name: "ohp"
        };
        (function () {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';
            ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
{% endblock %}
