{% extends "base/base.html" %}

{% block style %}
    <link href="/static/css/oh.site.team.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="oh-main">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 text-left">
                    <div class="page-header">
                        <h1>我的团队</h1>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-12 text-left">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#createteam" aria-controls="home" role="tab"
                                                                  data-toggle="tab">创建我的团队</a></li>
                        <li role="presentation"><a href="#jointeam" aria-controls="profile" role="tab"
                                                   data-toggle="tab">加入团队</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="createteam">

                            <form id="teamForm" class="form-horizontal" novalidate>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 col-sm-3 control-label required">团队名称</label>

                                        <div class="col-md-7 col-sm-9">
                                            <input type="text" class="form-control" name="team_name" placeholder="团队名称"
                                                   required
                                                   data-bv-trigger="blur"
                                                   data-bv-notempty-message="团队名称必须填写">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-sm-3 control-label">团队Logo</label>

                                        <div class="col-md-7 col-sm-9">
                                            <input type="url" class="form-control" name="logo" placeholder="团队Logo">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-sm-3 control-label">代码托管地址</label>

                                        <div class="col-md-7 col-sm-9">
                                            <input type="url" class="form-control" name="git_project"
                                                   placeholder="githubx项目地址">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 col-sm-3 control-label">团队描述</label>

                                        <div class="col-md-7 col-sm-9">
                                            <textarea class="form-control" name="description" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-sm-offset-3 col-md-7 col-sm-9">
                                            <button type="submit" class="btn btn-primary btn-block">保存</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="jointeam">
                            <div class="row">
                                <div class="col-lg-4 col-sm-6 col-xs-6 col-xxs-12">
                                    <div class="team box">
                                        <img src="/static/pic/icon64.png">
                                        <span class="title">我的团队名称</span>
                                        <span class="value"></span>
                                        <a href="" class="join">
                                            <span>View More</span>
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6 col-xxs-12">
                                    <div class="team box">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img class="media-object" src="/static/pic/icon64.png" alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">Middle aligned media</h4>
                                                <ul>
                                                    <li>队长：aaa</li>
                                                    <li>人数：20</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div href="" class="join clearfix">
                                            <a href="#">详细</a>
                                            <button class="btn btn-primary btn-sm">申请加入</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6 col-xxs-12">
                                    <div class="team box">
                                        <img src="/static/pic/icon64.png">
                                        <span class="title">我的团队名称</span>
                                        <span class="value"></span>
                                        <a href="" class="join">
                                            <span>View More</span>
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6 col-xxs-12">
                                    <div class="team box">
                                        <img src="/static/pic/icon64.png">
                                        <span class="title">我的团队名称</span>
                                        <span class="value"></span>
                                        <a href="" class="join">
                                            <span>View More</span>
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6 col-xxs-12">
                                    <div class="team box">
                                        <img src="/static/pic/icon64.png">
                                        <span class="title">我的团队名称</span>
                                        <span class="value">aasdasd</span>
                                        <a href="" class="join">
                                            <span>View More</span>
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script id="team_item" type="text/x-jquery-tmpl">
    {% raw %}

    {% endraw %}
    </script>
    <script type="text/javascript" src="/static/js/jquery/bootstrapValidator.js"></script>
    <script type="text/javascript" src="/static/js/views/oh.site.team.js"></script>
{% endblock %}