<html>
<head>
	<meta charset = "utf-8" />
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js">
	</script>
</head>
<body>
	<div id = "content">
	</div>

	<script type = "text/javascript">
		$(function() {
			$(document).ready(function() {
				Display();
			});

			function getUrlparam(name) {
				var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
				var r = window.location.search.substr(1).match(reg);
				if (r!=null) return unescape(r[2]); return null;
			}

			function Display() {
				var name = "access_token";
				var url = window.location.href;
				var theRequest = new Object();
				if (url.indexOf("#")!=-1) {
					var str = url.substr(url.indexOf("#")+1);
					var strs = str.split("&");
					for (var i = 0;i < strs.length;i ++)
					{
					theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
					}
					newurl = "https://www.googleapis.com/oauth2/v1/userinfo?access_token=" + theRequest[name];
					$("#content").html("<p>" + theRequest[name]  + "</p>");
					$.ajax({
						type : "GET",
						url : newurl,
						dataType : "jsonp",
						success: function(msg) {
							alert(msg.id + " " + msg.name + " " + msg.email);
						},
						error : function(msg) {
							alert("something is wrong!\n" + msg.d);
						}
					});
				}
			}
		});	
	</script>
	
</body>
</html>
