{% extends "base.html" %}

{% block content %}
<hr>
	<h1>Choose your course</h1>
	<div class = "row" id = "course">
		<h2>&nbsp;&nbsp;Script language</h2>
		<hr>
		<div class = "col-md-4">
		<a id = "image1"><canvas id = "canvas1" height = "200" width = "400" style = "background-color:#ADADAD;"></canvas></a>
		</div>
		<div class = "col-md-4">
		<a id = "image2"><canvas id = "canvas2" height = "200" width = "400" style = "background-color:#ADADAD;"></canvas></a>
		</div>
		<div class = "col-md-4">
		<a id = "image3"><canvas id = "canvas3" height = "200" width = "400" style = "background-color:#ADADAD;"></canvas></a>
		</div>
		<h2>&nbsp;&nbsp;Database</h2>
		<hr>
		<div class = "col-md-4">
                <a id = "image4"><canvas id = "canvas4" height = "200" width = "400" style = "background-color:#ADADAD;"></canvas></a>
                </div>
		<div class = "col-md-4">
                <a id = "image5"><canvas id = "canvas5" height = "200" width = "400" style = "background-color:#ADADAD;"></canvas></a>
                </div>
		<div class = "col-md-4">
                <a id = "image6"><canvas id = "canvas6" height = "200" width = "400" style = "background-color:#ADADAD;"></canvas></a>
                </div>
		<h2>&nbsp;&nbsp;Microsoft</h2>
		<hr>
		<div class = "col-md-4">
                <a id = "image7"><canvas id = "canvas7" height = "200" width = "400" style = "background-color:#ADADAD;"></canvas></a>
                </div>
		<div class = "col-md-4">
                <a id = "image8"><canvas id = "canvas8" height = "200" width = "400" style = "background-color:#ADADAD;"></canvas></a>
                </div>
		<div class = "col-md-4">
                <a id = "image9"><canvas id = "canvas9" height = "200" width = "400" style = "background-color:#ADADAD;"></canvas></a>
                </div>
	</div>	
	<script type = "text/javascript">
		window.onload = function() {
		function canvasvalue(id ,text) {
			canvas = document.getElementById(id);
			ctx = canvas.getContext('2d');
			//ctx.fillStyle = color;
			//ctx.fillRect(0,0,400,400);
			ctx.font = "80px Times New Roman";
			//ctx.textAlign = "left";
			ctx.fillText(text,120-text.length*10,100);
		}
		canvasvalue('canvas1',"Python");
		canvasvalue('canvas2',"Ruby");
		canvasvalue('canvas3',"Node.js");
		canvasvalue('canvas4',"Mysql");
		canvasvalue('canvas5',"Mongodb");
		canvasvalue('canvas6',"Redis");
		canvasvalue('canvas7',".NET");
		canvasvalue('canvas8',"Typescript");
		canvasvalue('canvas9',"Azure");
		}
	</script>
	<script type = "text/javascript">
		$(function() {
			$(document).ready(function() {
				Display();
			});

			function getUrlparam(name) {
				var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
				var r = window.location.search.substr(1).match(reg);
				if (r!=null) return unescape(r[2]); return null;
			}

			function Display() {
				var name = "access_token";
				var url = window.location.href;
				var theRequest = new Object();
				if (url.indexOf("#")!=-1) {
					var str = url.substr(url.indexOf("#")+1);
					var strs = str.split("&");
					for (var i = 0;i < strs.length;i ++)
					{
					theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
					}
					newurl = "https://www.googleapis.com/oauth2/v1/userinfo?access_token=" + theRequest[name];
					$.ajax({
						type : "GET",
						url : newurl,
						dataType : "jsonp",
						success: function(msg) {
							 $("#name").html('<p style = "color:white">' + msg.name  + "</p>");
							 $("#photo").html('<img src = "' + msg.picture + '" height = "30" width = "30"/>');
							 for (var i = 1;i <= 9;i++) {
								name = "#image" + i.toString();
								url = "http://osslab.chinacloudapp.cn:5080/course?type=" + i.toString();
								$(name).attr("href",url);
							 } 
						},
						error : function(msg) {
							alert("something is wrong!\n" + msg.d);
						}
					});
				}
			}
		});	
	</script>
	
{% endblock %} 
