<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "robots" content="noindex , nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
`   <meta name="msvalidate.01" content="F0E64469AF0194886DAEE6798958E25A" />
    <meta property="qc:admins" content="772677337341263016134754100636" />
    <link rel="icon" href="/pic/icon.jpg">

    <title>OSSLAB</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
	<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
  	<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.18/jquery-ui.min.js"></script>
	<script src = "/js/google.js"></script>
    	<script src = "/js/renren.js"></script>
    	<script src = "/js/github.js"></script>
	<script src = "/js/qq.js"></script>
   <style type="text/css">
	.ds-service-link{
			display:block;
			background:url("/pic/service-icons-color.png") no-repeat;	
			_background-image:url("http://static.duoshuo.com/images/service-icons-color.gif");
			overflow:hidden;

			width: 72px;
			font-size: 14px;
			text-align: left;
			padding-left: 20px;
		}

		.ds-qq{
			background-position: 0 -192px;
		}
		.ds-renren{
			background-position: 0 -32px;
		}
		.ds-google{
			background-position: 0 -240px;
		}
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src = "/pic/icon.jpg" height = "30" width = "30"></img>开源软件实验室</a>
        </div>
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style = "background-image : url(http://i.imgur.com/rnbeQcP.jpg)">
      <div class="container">
       <p><b><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="white">开源软件实验室</font></h1></b></p>
	<p><b><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="white">更方便快捷的学习IT知识</font></h2></b></p>
<p><b><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="white">在云端</font></h2></b></p>
	<p><b><h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第三方登录</h2></b></p>
	<div class = "btn-group-vertical"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-default btn-lg" role="button" id="googlelogin">
				<span class="ds-service-link ds-google">google</span>
			</a>
			<a class="btn btn-success btn-lg" id="githublogin" role="button">github</a>
			<a class="btn btn-primary btn-lg" role="button" id="renrenlogin">
				<span class="ds-service-link ds-renren">renren</span>
			</a>
			<a class="btn btn-danger btn-lg " role="button" id="qqlogin">
				<span class="ds-service-link ds-qq">腾讯QQ</span>
			</a></p>
	</div>
	</div>
    </div>

       <!--<div id = "googlelogin">google</div>-->
	  <!--<iframe src="http://10.172.6.196:4200" width="500" height="500" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>-->     
	<!--<footer>	
	<hr>
	<hr>
	<hr>
        <p>July 2014</p>
	<p>Oneweek Hackathon</p>
      </footer>-->
	<footer>
	<p align="center"><a href="http://osslab.msopentech.cn/Contact">Contact us</a> | <a target="_blank" href="http://osslab.msopentech.cn/Res/en-us/PrivacyStatement.htm">Privacy &amp; Cookies</a> | <a target="_blank" href="http://osslab.msopentech.cn/Res/en-us/ToU.htm">Terms of use</a> | © 2013 Microsoft Open Technologies, Inc.Shanghai</p>
	</footer>
     <!-- /container -->
  
    </div> <!-- /container -->
  </body>
</html>

