<html>
<head>
	<meta charset = "utf-8" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
	</script>
</head>
<body>
	<div id = "content">
	<p> {{iden}} ,  {{name}}</p>
	</div>

	<script type = "text/javascript">
		$(function() {
			$(document).ready(function() {
				Display();
			});

			function getUrlparam(name) {
				var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
				var r = window.location.search.substr(1).match(reg);
				if (r!=null) return unescape(r[2]); return null;
			}

			function Display() {
				var name = "access_token";
				var url = window.location.href;
				//var urls = url.split('#');
				//location.href = urls.join(l?');
				var theRequest = new Object();
				if (url.indexOf("#")!=-1) {
					var urls = url.split('#');
	                                location.href = urls.join('?');

					var str = url.substr(url.indexOf("#")+1);
					var strs = str.split("&");
					for (var i = 0;i < strs.length;i ++)
					{
					theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
					}
					newurl_h = "https://api.renren.com";
					newurl_t = "m/v2/user/get?access_token=" +  theRequest[name];
					newurl = "https://api.renren.com/v2/user/get?access_token=" +  theRequest[name] /*+ "&state=7e0932f4c5b34176b0ca1881f5e88562" + "&jsoncallback=?"*/;
	//				$("#content").html("<p>" + newurl +" " +  theRequest[name]  + "</p>");
					var tmpurl = "http://osslab.chinacloudapp.cn:5080/renren";
	//				location.href = newurl;
					/*$.ajax({
						type : "GET",
						url : newurl,
						datatype : "jsonp" ,
						success: function(msg) {
							alert("ok");
						},
						error : function(msg) {
							alert("something is wrong!\n" + msg.d);
						}
					});*/
					/*$.ajax({
						type : 'GET',
						url : newurl,
						async : false,
						dataType: "jsonp",
						jsonp : "callback",
						jsonpCallback : "callback",
						success: function(msg) {
							alert("ok");
						}
					});*/
					//location.href = tmpurl;
					//$("#content").html("<p>" + name + " " + "</p>");
				}
			}
		});	
	</script>
	
</body>
</html>
