{% extends "base.html" %}

{% block content %}
<hr>
<hr>
<div class = "row" style="padding-left:15px;">
<div class = "col-md-6">
<iframe src="http://osslab.chinacloudapp.cn:6080/guacamole-0.9.2/client.xhtml?id=c%2Frdp" width="1024" height="768" frameborder="yes" border="0" marginwidth="10" marginheight="10" scrolling="yes" onmouseover="setFocusThickboxIframe()" onload = "setFocusThickboxIframe()" onmousemove = "setFocusThickboxIframe()" onmouseout = "setFocusThickboxIframe()" onfocus = "setFocusThickboxIframe()"></iframe>
</div>
<div class = "col-md-6">
<iframe width="854" height="510" src="//www.youtube.com/embed/xXhtvFTv8-g" frameborder="0" allowfullscreen></iframe>
<iframe width="1100" height="510" src="http://osslab.chinacloudapp.cn:5080/paper2" frameborder="0"></iframe>
<script>
function setFocusThickboxIframe() {
    document.getElementById("plinux").focus();
    //alert("ok");
}
</script>
{% endblock %}
