{% extends "base/base.html" %} {% block style %}
<link href="/static/css/oh.about.css" rel="stylesheet"> {% endblock %} {% block content %}
<div class="bg-banner">
  <div class="jumbotron ">
    <div class="container">
      <div><img src="/static/pic/monkey-104-104px.jpg"></div>
      <h1>“为开放而生，与开源同行” —— <span>开放黑客松</span></h1>
      <p>在过去的365天中，我们与394个黑客，9个合作伙伴，
        <br/> 一起并肩跑过了6场黑客马拉松。
      </p>
    </div>
  </div>
</div>
<div class="oh-main">
  <div class="container">
    <div class="row">
      <nav class="left_nav">
        <ul class="def-nav" role="tablist">
          <li class="active"><a href="#contactus" role="tab" data-toggle="tab">联系我们</a></li>
          <li><a href="#feedback" role="tab" data-toggle="tab">意见反馈</a></li>
          <li><a href="#partners" role="tab" data-toggle="tab">合作伙伴</a></li>
        </ul>
      </nav>
      <article class="right-main">
        <h2 id="contactus">联系我们</h2>
        <ul class="contact">
          <li>
            <a href="#">
              <span class="pic"><i class="fa fa-weixin"></i></span>
              <p>微信</p>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="pic"><i class="fa fa-weibo"></i></span>
              <p>新浪微博</p>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="pic"><i class="fa fa-envelope-o"></i></span>
              <p>邮箱<br/> xxx@micorsoft.com</p>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="pic"><i class="fa fa-github-alt"></i></span>
              <p>github</p>
            </a>
          </li>
        </ul>
        <hr>
        <h2 id="feedback">意见反馈</h2>
        <form class="form-horizontal" id="form" novalidate>
          <div class="form-group">
            <label for="inputEmail3" class="col-xs-1 control-label text-left">姓名</label>
            <div class="col-xs-5">
              <input type="text" class="form-control" name="name" id="" placeholder="姓名"
               required
               data-bv-trigger="blur"
               data-bv-notempty-message="姓名必须填写"
              >
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-xs-1 control-label text-left">邮箱</label>
            <div class="col-xs-5">
              <input type="email" class="form-control" name="email" id="" placeholder="邮箱"
               required
               data-bv-trigger="blur"
               data-bv-notempty-message="请填写您的邮箱地址。"
              >
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-xs-1 control-label text-left">意见</label>
            <div class="col-xs-5">
              <textarea class="form-control" name="notes" placeholder="意见"
               required
               data-bv-trigger="blur"
               data-bv-notempty-message="请填写意见信息。"
              ></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-xs-5">
              <button type="submit" class="btn btn-success">提交</button>
            </div>
          </div>
        </form>
        <hr>
        <h2 id="partners">合作伙伴</h2>
        <div class="clearfix">
          <div class="col-xs-3">
            <div class="market">
              <img src="/static/pic/jstorm.jpg">
              <div class="body">
                <div class="title">
                  <div class="teble-cell midder">
                    <h3 class="text-center">jstorm</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="market">
              <img src="/static/pic/jstorm.jpg">
              <div class="body">
                <div class="title">
                  <div class="teble-cell midder">
                    <h3 class="text-center">极客学院</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="market">
              <img src="/static/pic/jstorm.jpg">
              <div class="body">
                <div class="title">
                  <div class="teble-cell midder">
                    <h3 class="text-center">优麒麟</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="market">
              <img src="/static/pic/jstorm.jpg">
              <div class="body">
                <div class="title">
                  <div class="teble-cell midder">
                    <h3 class="text-center">GitCafe</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="market">
              <img src="/static/pic/alauda-logo-white.jpg">
              <div class="body">
                <div class="title">
                  <div class="teble-cell midder">
                    <h3 class="text-center">灵雀云</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="market">
              <img src="/static/pic/jstorm.jpg">
              <div class="body">
                <div class="title">
                  <div class="teble-cell midder">
                    <h3 class="text-center">聚合数据</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="market">
              <img src="/static/pic/microsoft.jpg">
              <div class="body">
                <div class="title">
                  <div class="teble-cell midder">
                    <h3 class="text-center">Microsoft</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="market">
              <img src="/static/pic/jstorm.jpg">
              <div class="body">
                <div class="title">
                  <div class="teble-cell midder">
                    <h3 class="text-center">WICRESOFT</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  <script type="text/javascript" src="/static/js/jquery/bootstrapValidator.js"></script>
 <script type="text/javascript" src="/static/js/views/oh.about.js"></script>
{% endblock %}