{% extends "base/base.html" %} {% block style %}
    <link href="/static/css/oh.about.css" rel="stylesheet"> {% endblock %} {% block content %}
    <div class="bg-banner">
        <div class="jumbotron ">
            <div class="container">

                <h1><span>开放黑客松</span>是互联网+时代下促进创新、创业的新平台</h1>
                <p>开放黑客松平台致力于为各类孵化创新中心度身定制“海选 -&gt; 招募 -&gt; 竞赛 -&gt; 评选 -&gt; 奖励 -&gt; 产品 -&gt; 展示 -&gt; 持续云开发 -&gt;
                    孵化” 一条龙式全方面位服务。
                </p>
                <ul class="contact">
                    <li>
                        海选
                    </li>
                    <li>
                        招募
                    </li>
                    <li>
                        竞赛
                    </li>
                    <li>
                        评选
                    </li>
                    <li>
                        奖励
                    </li>
                    <li>
                        产品
                    </li>
                    <li>
                        展示
                    </li>
                    <li>
                        持续云开发
                    </li>
                    <li>
                        孵化
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="oh-main">
        <div class="container">
            <div class="row">

                <article class="about-main">
                    <h2 id="about">关于我们</h2>
                    <ul class="d-ul">
                        <li>开放黑客松平台为两类人群而设计：孵化创新中心的主办方和创业团队。</li>
                        <li>
                            对于孵化创新中心来说，基于该平台主办方可轻松组织创业大赛，招募，竞赛，评选，奖励以及后续孵化新的项目和团队，以漏斗式的结构推进创新团队的孵化过程。基于微软Azure云的和黑客松平台支持大规模同时在线，不仅可持续举办系列大赛，也支持同时举办多个主题的竞赛，还合适联手多个合作伙伴共同举办。主办方可以节省大量的活动组织，现在维持，硬件设置，准备，支持和交通，食宿等众多花费和资源。
                        </li>
                        <li>
                            对于创业团队来说，第一个海选阶段跨越了地域和时间的限制，在全国各地均可在此平台上在线参加；第二个阶段对于创新比赛优胜的团队，黑客松平台的云上展示厅为各个团队提供了在线的项目体验云环境；第三个阶段对于后续持续孵化的项目团队，可持续在此黑客松平台上通过SaaS服务，快速开发，测试，部署自己的解决方案，省去硬件采购的投入和软件的安装，同时更灵活弹性的顺应团队业务增长，让创业团队全力地发挥创意，开发和部署自己的创业项目。
                        </li>
                    </ul>
                    <hr>
                    <h2 id="contactus">联系我们</h2>
                    <ul class="d-ul">
                        <li>您可以通过点击微信，微博，邮箱联系我们反馈任何使用过程中遇到的问题及意见。<a href="https://github.com/msopentechcn/open-hackathon/issues" >BUG提交</a></li>
                    </ul>
                    <ul class="contact">
                        <li class="wechat">
                            <a href="#">
                                <span class="pic"><i class="fa fa-wechat"></i></span>
                                <p>微信公众号
                                    <br/>kaiyuanshe</p>
                            </a>
                        </li>
                        <li class="weibo">
                            <a href="http://weibo.com/kaiyuanshe">
                                <span class="pic"><i class="fa fa-weibo"></i></span>
                                <p>新浪微博
                                    <br/>kaiyuanshe </p>
                            </a>
                        </li>
                        <li class="email">
                            <a href="mailto:hackathon@kaiyuanshe.cn">
                                <span class="pic"><i class="fa fa-envelope-o"></i></span>
                                <p>邮箱
                                    <br/> hackathon@kaiyuanshe.cn</p>
                            </a>
                        </li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
{% endblock %} {% block script %}

{% endblock %}
