{% extends "base/base.html" %}
{% block style %}
    <link href="/static/css/oh.home.css" rel="stylesheet">
{% endblock %}
{% block content %}
    {% if sc %}
        <div id="sc_logo">
            <div style="width:100%; height:200px; background:url('/static/pic/yantai_gov.png'); background-size:cover"></div>
        </div>
    {% endif %}
    <div class="banner">

        <div class="container">
            <div class="carousel-left">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">

                            <div style="width: 100%; height: 100%;background: url('/static/pic/139-462x308-custom.jpg') 50% 50% / cover;"></div>
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <div style="width: 100%;height: 100%; background: url('/static/pic/hackthon-bg.jpg') 50% 50% / cover;"></div>

                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <div style=" width: 100%; height: 100%; background: url('/static/pic/Hackathon-Day1-07-695x463.jpg') 50% 50% / cover;"></div>
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left glyphicon-menu-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right glyphicon-menu-right " aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="carousel-right">
                <div class="item active" data-slide-to="0">
                    <div style="width: 100%; height: 100%;background: url('/static/pic/139-462x308-custom.jpg') 50% 50% / cover;"></div>
                </div>
                <div class="item" data-slide-to="1">
                    <div style="width: 100%;height: 100%; background: url('/static/pic/hackthon-bg.jpg') 50% 50% / cover;"></div>
                </div>
                <div class="item" data-slide-to="2">
                    <div style=" width: 100%; height: 100%; background: url('/static/pic/Hackathon-Day1-07-695x463.jpg') 50% 50% / cover;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container oh-notice">
        <div class="row">
            <div class="col-md-12">
                <div class="oh-notice-title green-text"><i class="fa fa-bullhorn green-text"></i> 最新公告：</div>
                <ul class="oh-notice-list col-md-10">
                </ul>
            </div>
        </div>
        <div class="btn-group btn-group-xs" role="group">
            <button type="button" class="btn btn-default" id="btn-notice-down"><span
                    class="glyphicon glyphicon-menu-down"></span></button>
            <button type="button" class="btn btn-default" id="btn-notice-up"><span
                    class="glyphicon glyphicon-menu-up"></span></button>
        </div>
    </div>


    <div id="info1" class="oh-grey-bg">
        <div class="container oh-feature oh-activity">
            <div class="oh-feature-header clearfix">
                <div class="ob-feature-left">
                    <h2>推荐活动</h2>
                </div>
                <div class="ob-feature-right">
                    <ul class="oh-feature-tabs" role="tablist">
                        <li class="active"><a href="#newest" role="tab" data-toggle="tab">最新发布</a></li>
                        <li><a href="#hot" role="tab" data-toggle="tab">人气热点</a></li>
                        <li><a href="#soon" role="tab" data-toggle="tab">即将开始</a></li>
                        <li><a href="/events">更多活动 &gt;</a></li>
                    </ul>
                </div>
            </div>
            <div class="ob-feature-body clearfix">
                <div class="ob-feature-left">
                    <img src="/static/images/index-07.png">
                </div>
                <div class="ob-feature-right">
                    <div class="feature-tab">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" id="hot">

                                {% for item in hot_hackathons.get('items') %}

                                    <div class="oh-item">
                                        <div class="oh-header">
                                            <a href="{{ url_for('hackathon', hackathon_name=item.name) }}"
                                               target="_blank">
                                                <img src="{{ item.banners[0] or url_for('static',filename='pic/homepage.jpg') }}"
                                                     class="hackathon-thumb" alt="{{ item.display_name }}">
                                            </a>
                                            {% if item.ribbon != "" %}
                                                <span class="oh-flag">{{ item.ribbon }}</span>
                                            {% endif %}
                                            {% if current_user.is_authenticated() %}
                                                <a href="javascript:void(0);" role="oh-like"
                                                   class="oh-collect {% if item.get('like') is not none %} active {% endif %}"
                                                   data-name="{{ item.name }}"
                                                ><span>感兴趣</span>
                                                    <img src="/static/pic/pushpin-icon.png">
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="oh-body">
                                            <h3>
                                                <a href="{{ url_for('hackathon', hackathon_name=item.name) }}"
                                                   target="_blank">
                                                    {{ item.display_name }}
                                                </a>
                                            </h3>
                                            <p class="oh-desc"><a class="grey-link"
                                                                  href="{{ url_for('hackathon', hackathon_name=item.name) }}"
                                                                  target="_blank">
                                                {{ item.get("short_description") | limitTo(60) }}</a></p>
                                            <div class="oh-time">
                                                <div><span
                                                        class="fa fa-calendar green-text"></span> {{ item.event_start_time | date("%y/%m/%d
                                            %a %H:%M") }}
                                                </div>
                                                <div>
                                                    <span class="fa fa-map-marker green-text"></span>
                                                    {{ item.location | limitTo(2) or "线上" }}
                                                </div>
                                            </div>
                                            <div class="oh-progressbar"><span
                                                    style="width: {{ activity_progress(item.event_start_time ,item.event_end_time) }}%"></span>
                                            </div>
                                            <ul class="oh-tags">
                                                {% for name in item.tags %}
                                                    <li>
                                                        <a href="#">{{ name }}</a>
                                                        {% if loop.index < (item.tag | length) %},{% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="oh-footer">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td class="text-left">
                                                        <div> 报名截止
                                                            <span>{{ item.registration_end_time | deadline }}天</span>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <div>
                                                            <i class="fa fa-heart"></i>
                                                            <span data-likes="{{ item.name }}">{{ item.stat.like or 0 }}</span>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">
                                                        <div>
                                                            <span>{{ item.stat.register or 0 }}</span>人报名
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="soon">
                                {% for item in soon_hackathon.get('items') %}

                                    <div class="oh-item">
                                        <div class="oh-header">
                                            <a href="{{ url_for('hackathon', hackathon_name=item.name) }}"
                                               target="_blank">
                                                <img src="{{ item.banners[0] or url_for('static',filename='pic/homepage.jpg') }}"
                                                     class="hackathon-thumb" alt="{{ item.display_name }}">
                                            </a>
                                            {% if item.ribbon != "" %}
                                                <span class="oh-flag">{{ item.ribbon }}</span>
                                            {% endif %}
                                            {% if current_user.is_authenticated() %}
                                                <a href="javascript:void(0);" role="oh-like"
                                                   class="oh-collect {% if item.get('like') is not none %} active {% endif %}"
                                                   data-name="{{ item.name }}"
                                                ><span>感兴趣</span>
                                                    <img src="/static/pic/pushpin-icon.png">
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="oh-body">
                                            <h3>
                                                <a href="{{ url_for('hackathon', hackathon_name=item.name) }}"
                                                   target="_blank">
                                                    {{ item.display_name }}
                                                </a>
                                            </h3>
                                            <p class="oh-desc"><a class="grey-link"
                                                                  href="{{ url_for('hackathon', hackathon_name=item.name) }}"
                                                                  target="_blank">
                                                {{ item.get("short_description") | limitTo(60) }}</a></p>
                                            <div class="oh-time">
                                                <div><span
                                                        class="fa fa-calendar green-text"></span> {{ item.event_start_time | date("%y/%m/%d
                                            %a %H:%M") }}
                                                </div>
                                                <div>
                                                    <span class="fa fa-map-marker green-text"></span>
                                                    {{ item.location | limitTo(2) or "线上" }}
                                                </div>
                                            </div>
                                            <div class="oh-progressbar"><span
                                                    style="width: {{ activity_progress(item.event_start_time ,item.event_end_time) }}%"></span>
                                            </div>
                                            <ul class="oh-tags">
                                                {% for name in item.tags %}
                                                    <li>
                                                        <a href="#">{{ name }}</a>
                                                        {% if loop.index < (item.tag | length) %},{% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="oh-footer">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td class="text-left">
                                                        <div> 报名截止
                                                            <span>{{ item.registration_end_time | deadline }}天</span>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <div>
                                                            <i class="fa fa-heart"></i>
                                                            <span data-likes="{{ item.name }}">{{ item.stat.like or 0 }}</span>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">
                                                        <div>
                                                            <span>{{ item.stat.register or 0 }}</span>人报名
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div role="tabpanel" class="tab-pane active" id="newest">
                                {% for item in newest_hackathons.get('items') %}

                                    <div class="oh-item">
                                        <div class="oh-header">
                                            <a href="{{ url_for('hackathon', hackathon_name=item.name) }}"
                                               target="_blank">
                                                <img src="{{ item.banners[0] or url_for('static',filename='pic/homepage.jpg') }}"
                                                     class="hackathon-thumb" alt="{{ item.display_name }}">
                                            </a>
                                            {% if item.ribbon != "" %}
                                                <span class="oh-flag">{{ item.ribbon }}</span>
                                            {% endif %}
                                            {% if current_user.is_authenticated() %}
                                                <a href="javascript:void(0);" role="oh-like"
                                                   class="oh-collect {% if item.get('like') is not none %} active {% endif %}"
                                                   data-name="{{ item.name }}"
                                                ><span>感兴趣</span>
                                                    <img src="/static/pic/pushpin-icon.png">
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="oh-body">
                                            <h3>
                                                <a href="{{ url_for('hackathon', hackathon_name=item.name) }}"
                                                   target="_blank">
                                                    {{ item.display_name }}
                                                </a>
                                            </h3>
                                            <p class="oh-desc"><a class="grey-link"
                                                                  href="{{ url_for('hackathon', hackathon_name=item.name) }}"
                                                                  target="_blank">
                                                {{ item.get("short_description") | limitTo(60) }}</a></p>
                                            <div class="oh-time">
                                                <div><span
                                                        class="fa fa-calendar green-text"></span> {{ item.event_start_time | date("%y/%m/%d
                                            %a %H:%M") }}
                                                </div>
                                                <div>
                                                    <span class="fa fa-map-marker green-text"></span>
                                                    {{ item.location | limitTo(2) or "线上" }}
                                                </div>
                                            </div>
                                            <div class="oh-progressbar"><span
                                                    style="width: {{ activity_progress(item.event_start_time ,item.event_end_time) }}%"></span>
                                            </div>
                                            <ul class="oh-tags">
                                                {% for name in item.tags %}
                                                    <li>
                                                        <a href="#">{{ name }}</a>
                                                        {% if loop.index < (item.tag | length) %},{% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="oh-footer">
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td class="text-left">
                                                        <div> 报名截止
                                                            <span>{{ item.registration_end_time | deadline }}天</span>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <div>
                                                            <i class="fa fa-heart"></i>
                                                            <span data-likes="{{ item.name }}">{{ item.stat.like or 0 }}</span>
                                                        </div>
                                                    </td>
                                                    <td class="text-right">
                                                        <div>
                                                            <span>{{ item.stat.register or 0 }}</span>人报名
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="info3" class="hide">
    </div>
    <div class="container oh-feature">
        <div class="oh-feature-header clearfix">
            <div class="ob-feature-left">
                <h2>成果展示</h2>
            </div>
            <div class="ob-feature-right">
                <ul class="oh-feature-tabs" role="tablist">
                    <li class="active"><a href="#award" role="tab" data-toggle="tab">获奖作品</a></li>
                </ul>
            </div>
        </div>

        <div class="ob-feature-body oh-events">
            <div class="ob-feature-left">
                <img src="/static/images/index-06.png">
            </div>
            <div class="ob-feature-right">
                <div class="feature-tab">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="award">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="info5" class="oh-grey-bg">
        <div class="container oh-feature">

            <div class="organizer_left">
                <div class="oh-feature-header clearfix">
                    <h2>合作主办</h2>
                    <!--<a href="#info5" class="more">更多主办方&gt;</a>-->
                </div>
                <div class="ob-feature-body ">
                    <div class="oh-organizers">
                        <div class="oh-item">
                            <a href="http://www.microsoft.com">
                                <img src="/static/images/microsoft.png" alt="microsoft">
                            </a>
                            <div class="oh-body">
                                <p><a href="http://www.microsoft.com" target="_blank">微软</a></p>
                            </div>
                        </div>
                        <div class="oh-item">
                            <a href="https://gitcafe.com">
                                <img src="/static/images/gitcafe-small.png" alt="gitcafe"></a>
                            <div class="oh-body">
                                <p><a href="https://gitcafe.com" target="_blank">Gitcafe</a></p>
                            </div>
                        </div>
                        <div class="oh-item">
                            <a href="http://www.ubuntukylin.com/">
                                <img src="/static/images/UbuntuKylinnew.png" alt="ukylin">
                            </a>
                            <div class="oh-body">
                                <p><a href="http://www.ubuntukylin.com/" target="_blank">优麒麟</a></p>
                            </div>
                        </div>
                        <div class="oh-item">
                            <a href="http://www.alauda.cn/">
                                <img src="/static/images/alauda-small.png" alt="alauda">
                            </a>
                            <div class="oh-body">
                                <p><a href="http://www.alauda.cn/" target="_blank">灵雀云</a></p>
                            </div>
                        </div>
                        <div class="oh-item">
                            <a href="http://www.jikexueyuan.com/">
                                <img src="/static/images/jikexueyuan.png"
                                     alt="jikexueyuan">
                            </a>
                            <div class="oh-body">
                                <p><a href="http://www.jikexueyuan.com/" target="_blank">极客学院</a></p>
                            </div>
                        </div>
                        <div class="oh-item">
                            <a href="https://github.com/alibaba/jstorm/wiki">
                                <img src="/static/images/jstorm-small.png" alt="jstorm">
                            </a>
                            <div class="oh-body">
                                <p><a href="https://github.com/alibaba/jstorm/wiki" target="_blank">JStorm</a></p>
                            </div>
                        </div>
                        <div class="oh-item">
                            <a href="http://www.wicresoft.com/">
                                <img src="/static/images/wicresoft-small.png" alt="wicresoft">
                            </a>
                            <div class="oh-body">
                                <p><a href="http://www.wicresoft.com/" target="_blank">微创科技</a></p>
                            </div>
                        </div>
                        <div class="oh-item">
                            <a href="https://www.juhe.cn/">
                                <img src="/static/images/juhe.png" alt="juhe">
                            </a>
                            <div class="oh-body">
                                <p><a href="https://www.juhe.cn/" target="_blank">聚合数据</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="users_right">
                <div class="oh-feature-header clearfix">
                    <h2>活跃用户</h2>
                    <a href="#info4" class="more">更多达人&gt;</a>
                </div>
                <div class="ob-feature-body oh-users">
                    <div id="talent_list">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script id="notice_list_template" type="text/x-jquery-tmpl">
     {% raw %}
        <li>
        {{if !link || link==''}}
            ${content}<span>${moment(update_time).format('YYYY-MM-DD')}</span>
        {{else}}
            <a href="${link}" target="_blank">
                ${content}<span>${moment(update_time).format('YYYY-MM-DD')}</span>
            </a>
        {{/if}}
        </li>
    {% endraw %}

    </script>
    <script id="talent_list_template" type="text/x-jquery-tmpl">
      {% raw %}
        <div class="media oh-item">
          <div class="media-left">
              <a href="/user/p_${id}">
                <img src="${avatar_url}" onerror="javascript:this.src='/static/pic/anon_user.png'">
              </a>
          </div>
          <div class="media-body">
            <a class="media-heading" href="/user/p_${id}">${nickname}</a>
            <p>${$item.getCareertype($data)}</p>
          </div>
        </div>
        {% endraw %}
    </script>
    <script id="award_list_template" type="text/x-jquery-tmpl">
    {% raw %}
     <div class="item">
        <div class="header" data-parent>
            <a href="${$item.link(hackathon.name,id)}">
                <img src="${cover}" class="oh-thumbnail" alt="${project_name}" onerror="javasctip:this.src='/static/images/project_none.png'" onload="oh.comm.imgLoad(this)" >
            </a>
        </div>
        <div class="body">
            <h4>${project_name || '【未取名】'}</h4>
            <p>团队名：<a href="${$item.link(hackathon.name,id)}">${name}</a></p>
            <div class="desc">
                ${description}
            </div>
         </div>
        <div class="footer">
            <p> {{html $item.getlinks(hackathon.name,works,id)}}</p>
        </div>
      </div>
    </div>
  {% endraw %}
    </script>
    <script type="text/javascript" src="/static/js/jquery/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/views/oh.home.js"></script>
{% endblock %}