{% extends "base/base.html" %}
{% block style %}
<link href="/static/css/oh.home.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div style="width: 100%; height: 100%;background: url('/static/pic/139-462x308-custom.jpg') 50% 50% / cover;"></div>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div style="width: 100%;height: 100%; background: url('/static/pic/hackthon-bg.jpg') 50% 50% / cover;"></div>

            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div style=" width: 100%; height: 100%; background: url('/static/pic/Hackathon-Day1-07-695x463.jpg') 50% 50% / cover;"></div>

            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div style=" width: 100%; height: 100%; background: url('/static/pic/04_08_banner_1200.gif') 50% 50% / cover;"></div>

            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <div style=" width: 100%; height: 100%; background: url('/static/pic/0709_hackforher_1080p.jpg') 50% 50% / cover;"></div>

            <div class="carousel-caption">
            </div>
        </div>
    </div>
</div>

<div class="container oh-notice">
    <div class="row">
        <div class="col-md-12">
            <div class="oh-notice-title"><img src="/static/pic/notice1-icon.png"> 最新公告：</div>
            <ul class="oh-notice-list">
                <li><a href="javascript:;">开放黑客松预览版正式上线啦！ <span>2015-09-28 15:30:00</span></a></li>
                <li><a href="javascript:;">大数据训练营即将火爆来袭，敬请期待！ <span>2015-10-08 09:00:00</span></a></li>
                <!--<li><a href="javascript:;">XXXXXX大赛获奖名单公告 <span>2015-08-28 11:42</span></a></li>-->
            </ul>
        </div>
        {#
        <div class="col-md-6">#}
            {#
            <div class="oh-notice-title"><img src="/static/pic/notice2-icon.png"> 热门话题：</div>
            #}
            {#
            <ul class="oh-notice-list">#}
                {#
                <li><a href="#">话题名称 <span>[1324评论]</span></a></li>
                #}
                {#
                <li><a href="#">话题名称 <span>[1324评论]</span></a></li>
                #}
                {#
                <li><a href="#">话题名称 <span>[1324评论]</span></a></li>
                #}
                {#
            </ul>
            #}
            {#
        </div>
        #}
    </div>
    <!--<div class="btn-group btn-group-xs" role="group">-->
        <!--<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-menu-down"></span>-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-menu-up"></span></button>-->
    <!--</div>-->
</div>


<div id="info1" class="oh-grey-bg">
    <div class="container oh-feature oh-activity">
        <div class="oh-feature-header clearfix">
            <h2>推荐活动</h2>
            <ul class="oh-feature-tabs" role="tablist">
                <li class="active"><a href="#hot" role="tab" data-toggle="tab">人气热点</a></li>
                <li><a href="#soon" role="tab" data-toggle="tab">即将开始</a></li>
                <li><a href="#newest" role="tab" data-toggle="tab">最新发布</a></li>
                <li><a href="#" class="oh-def-link">更多活动 &gt;</a></li>
            </ul>
        </div>
        <div class="ob-feature-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="hot">
                    <div class="row">
                        {% for item in hot_hackathons.get('items') %}
                        <div class="col-lg-4 col-md-4">
                            <div class="oh-item">
                                <div class="oh-header">
                                    <img src="{{ item.banners.split(';')[0] or url_for('static',filename='pic/homepage.jpg') }}"
                                         class="hackathon-thumb" alt="{{ item.display_name }}">
                                    {% if item.ribbon != "" %}
                                    <span class="oh-flag">{{ item.ribbon }}</span>
                                    {% endif %}
                                    {% if current_user.is_authenticated() %}
                                    <a href="javascript:void(0);" role="oh-like"
                                       class="oh-collect {% if item.get('like') is not none %} active {% endif %}"
                                       data-name="{{ item.name }}"
                                            ><span>感兴趣</span>
                                        <img src="/static/pic/pushpin-icon.png">
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="oh-body">
                                    <h3><a href="{{ url_for('hackathon', hackathon_name=item.name) }}"
                                           target="_blank">{{ item.display_name }}</a></h3>
                                    <ul class="oh-tags">
                                        {% for name in item.tag.split(',') %}
                                        <li>
                                            <a href="#">{{ name }}</a>
                                            {% if loop.index < (item.tag | length) %},{% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <p class="oh-desc"><a class="grey-link"
                                                          href="{{ url_for('hackathon', hackathon_name=item.name) }}"
                                                          target="_blank">
                                        {{ item.short_description | limitTo(60) }}</a>
                                    </p>

                                    <div class="oh-time">
                                        <div><span
                                                class="fa fa-calendar"></span> {{ item.event_start_time | date("%y/%m/%d
                                            %a %H:%M") }}
                                        </div>
                                        <div><span
                                                class="fa fa-map-marker"></span> {{ item.config.location == '' and '在线'
                                            or item.config.location | limitTo(2) }}
                                        </div>
                                    </div>
                                    <div class="oh-progressbar"><span
                                            style="width: {{ activity_progress(item.event_start_time ,item.event_end_time) }}%"></span>
                                    </div>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td class="text-left">
                                                <div>
                                                    <span>{{ item.registration_end_time | deadline }}天</span>
                                                    报名截止
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div>
                                                    <span data-likes="{{ item.name }}">{{ item.stat.like or 0 }}</span>
                                                    感兴趣
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <div>
                                                    <span>{{ item.stat.register or 0 }}/{{ item.config.max_enrollment == '0' and '无限' or item.config.max_enrollment }}</span>
                                                    报名人数
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <hr>
                                    <div class="oh-org">
                                        {% for org in item.organizer %}
                                        <a href="{{ org.homepage }}" data-toggle="tooltip"
                                           data-placement="top"
                                           title="{{ org.name }}">
                                            <img src="{{ org.logo }}"
                                                 alt="{{ org.name }}">
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="soon">
                    <div class="row">
                        {% for item in soon_hackathon.get('items') %}
                        <div class="col-lg-4 col-md-4">
                            <div class="oh-item">
                                <div class="oh-header">
                                    <img src="{{ item.banners.split(';')[0] or url_for('static',filename='pic/homepage.jpg') }}"
                                         class="hackathon-thumb" alt="{{ item.display_name }}">
                                    {% if item.ribbon != "" %}
                                    <span class="oh-flag">{{ item.ribbon }}</span>
                                    {% endif %}
                                    {% if current_user.is_authenticated() %}
                                    <a href="javascript:void(0);" role="oh-like"
                                       class="oh-collect {% if item.get('like') is not none %} active {% endif %}"
                                       data-name="{{ item.name }}"
                                            ><span>感兴趣</span>
                                        <img src="/static/pic/pushpin-icon.png">
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="oh-body">
                                    <h3><a href="{{ url_for('hackathon', hackathon_name=item.name) }}"
                                           target="_blank">{{ item.display_name }}</a></h3>
                                    <ul class="oh-tags">
                                        {% for name in item.tag.split(',') %}
                                        <li>
                                            <a href="#">{{ name }}</a>
                                            {% if loop.index < (item.tag | length) %},{% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <p class="oh-desc"><a class="grey-link"
                                                          href="{{ url_for('hackathon', hackathon_name=item.name) }}"
                                                          target="_blank">
                                        {{ item.short_description | limitTo(60) }}</a>
                                    </p>

                                    <div class="oh-time">
                                        <div><span
                                                class="fa fa-calendar"></span> {{ item.event_start_time | date("%y/%m/%d
                                            %a %H:%M") }}
                                        </div>
                                        <div><span
                                                class="fa fa-map-marker"></span> {{ item.config.location == '' and '在线'
                                            or item.config.location | limitTo(2) }}
                                        </div>
                                    </div>
                                    <div class="oh-progressbar"><span
                                            style="width: {{ activity_progress(item.event_start_time ,item.event_end_time) }}%"></span>
                                    </div>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td class="text-left">
                                                <div>
                                                    <span>{{ item.registration_end_time | deadline }}天</span>
                                                    报名截止
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div>
                                                    <span data-likes="{{ item.name }}">{{ item.stat.like or 0 }}</span>
                                                    感兴趣
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <div>
                                                    <span>{{ item.stat.register or 0 }}/{{ item.config.max_enrollment == '0' and '无限' or item.config.max_enrollment }}</span>
                                                    报名人数
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <hr>
                                    <div class="oh-org">
                                        {% for org in item.organizer %}
                                        <a href="{{ org.homepage }}" data-toggle="tooltip"
                                           data-placement="top"
                                           title="{{ org.name }}">
                                            <img src="{{ org.logo }}"
                                                 alt="{{ org.name }}">
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="newest">
                    <div class="row">
                        {% for item in newest_hackathons.get('items') %}
                        <div class="col-lg-4 col-md-4">
                            <div class="oh-item">
                                <div class="oh-header">
                                    <img src="{{ item.banners.split(';')[0] or url_for('static',filename='pic/homepage.jpg') }}"
                                         class="hackathon-thumb" alt="{{ item.display_name }}">
                                    {% if item.ribbon != "" %}
                                    <span class="oh-flag">{{ item.ribbon }}</span>
                                    {% endif %}
                                    {% if current_user.is_authenticated() %}
                                    <a href="javascript:void(0);" role="oh-like"
                                       class="oh-collect {% if item.get('like') is not none %} active {% endif %}"
                                       data-name="{{ item.name }}"
                                            ><span>感兴趣</span>
                                        <img src="/static/pic/pushpin-icon.png">
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="oh-body">
                                    <h3><a href="{{ url_for('hackathon', hackathon_name=item.name) }}"
                                           target="_blank">{{ item.display_name }}</a></h3>
                                    <ul class="oh-tags">
                                        {% for name in item.tag.split(',') %}
                                        <li>
                                            <a href="#">{{ name }}</a>
                                            {% if loop.index < (item.tag | length) %},{% endif %}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <p class="oh-desc"><a class="grey-link"
                                                          href="{{ url_for('hackathon', hackathon_name=item.name) }}"
                                                          target="_blank">
                                        {{ item.short_description | limitTo(60) }}</a>
                                    </p>

                                    <div class="oh-time">
                                        <div><span
                                                class="fa fa-calendar"></span> {{ item.event_start_time | date("%y/%m/%d
                                            %a %H:%M") }}
                                        </div>
                                        <div><span
                                                class="fa fa-map-marker"></span> {{ item.config.location == '' and '在线'
                                            or item.config.location | limitTo(2) }}
                                        </div>
                                    </div>
                                    <div class="oh-progressbar"><span
                                            style="width: {{ activity_progress(item.event_start_time ,item.event_end_time) }}%"></span>
                                    </div>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td class="text-left">
                                                <div>
                                                    <span>{{ item.registration_end_time | deadline }}天</span>
                                                    报名截止
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div>
                                                    <span data-likes="{{ item.name }}">{{ item.stat.like or 0 }}</span>
                                                    感兴趣
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <div>
                                                    <span>{{ item.stat.register or 0 }}/{{ item.config.max_enrollment == '0' and '无限' or item.config.max_enrollment }}</span>
                                                    报名人数
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <hr>
                                    <div class="oh-org">
                                        {% for org in item.organizer %}
                                        <a href="{{ org.homepage }}" data-toggle="tooltip"
                                           data-placement="top"
                                           title="{{ org.name }}">
                                            <img src="{{ org.logo }}"
                                                 alt="{{ org.name }}">
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if current_user.is_authenticated() == False %}
<div id="info2" class="oh-process">
    <div class="container text-center">
        <h2 class="oh-title">黑客松活动流程</h2>

        <div class="row oh-wrap">
            <div class="col-md-3 oh-item">
                <img src="/static/pic/release-icon.png" alt="主办方发布活动">
            </div>
            <div class="col-md-3 oh-item">
                <img src="/static/pic/team-icon.png" alt="参加者报名组队">
            </div>
            <div class="col-md-3 oh-item">
                <img src="/static/pic/competition-icon.png" alt="参加者线上竞赛">
            </div>
            <div class="col-md-3">
                <img src="/static/pic/choose-icon.png" alt="主办方评选奖项">
            </div>
        </div>
        <a href="https://github.com/msopentechcn/open-hackathon/wiki/%E5%BC%80%E6%94%BE%E9%BB%91%E5%AE%A2%E6%9D%BE%E5%B9%B3%E5%8F%B0%E4%BD%BF%E7%94%A8%E6%8C%87%E5%8D%97" target="_blank" class="btn btn-help">新手帮助 <span>&gt;</span></a>
    </div>
</div>
{% endif %}
{#<div id="info3" class="">#}
{#    <div class="container oh-feature">#}
{#        <div class="oh-feature-header clearfix">#}
{#            <h2>近期成果</h2>#}
{#            <a href="#info3" class="more">更多精彩&gt;</a>#}
{#        </div>#}
{#        <div class="ob-feature-body oh-events">#}
{#            <div class="row">#}
{#                <div class="col-lg-3 col-md-3">#}
{#                    <ul class="oh-tabs" role="tablist">#}
{#                        <li class="active">#}
{#                            <a href="#event1" role="tab" data-toggle="tab">#}
{#                                活动名称一#}
{#                                <div class="oh-org"><img src="/static/pic/hadoop.jpg"> 主办方名称</div>#}
{#                            </a>#}
{#                        </li>#}
{#                        <li><a href="#event2" role="tab" data-toggle="tab">活动名称二</a></li>#}
{#                        <li><a href="#event3" role="tab" data-toggle="tab">活动名称三</a></li>#}
{#                        <li><a href="#event4" role="tab" data-toggle="tab">活动名称四</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-lg-9 col-md-9">#}
{#                    <div class="tab-content">#}
{#                        <div role="tabpanel" class="tab-pane active" id="event1">#}
{#                            <div class="row">#}
{#                                <div class="col-xs-5 oh-desc">#}
{#                                    <h3 class="oh-title">活动名称</h3>#}
{##}
{#                                    <div class="oh-count">#}
{#                                        <div><span>100</span> 人报名</div>#}
{#                                        <div><span>100</span> 人感兴趣</div>#}
{#                                    </div>#}
{#                                    <p>活动描述活动描述活动描述活动描述活动描述活动描述活动描述活动描述</p>#}
{#                                    <hr>#}
{#                                    <h3 class="oh-title">获奖者：</h3>#}
{#                                    <ul class="oh-list">#}
{#                                        <li>#}
{#                                            <a href="javascript:;"><img src="/static/pic/idehub.png"></a>#}
{##}
{#                                            <p><a class="grey-link" href="javasript:;">昵称</a></p>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <img src="/static/pic/idehub.png">#}
{##}
{#                                            <p><a class="grey-link" href="javasript:;">昵称</a></p>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <img src="/static/pic/idehub.png">#}
{##}
{#                                            <p><a class="grey-link" href="javasript:;">昵称</a></p>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <img src="/static/pic/idehub.png">#}
{##}
{#                                            <p><a class="grey-link" href="javasript:;">昵称</a></p>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                                <div class="col-xs-7 oh-show">#}
{#                                    <div class="oh-thumbnail">#}
{#                                        <div id="a" class="carousel slide" data-ride="carousel">#}
{#                                            <ol class="carousel-indicators">#}
{#                                                <li data-target="#a" data-slide-to="0"#}
{#                                                    class="active"></li>#}
{#                                                <li data-target="#a" data-slide-to="1"></li>#}
{#                                            </ol>#}
{#                                            <div class="carousel-inner" role="listbox">#}
{#                                                <div class="item active">#}
{#                                                    <div>#}
{#                                                        <iframe src="http://player.youku.com/embed/XNDEyNTc2MzQw"#}
{#                                                                frameborder=0#}
{#                                                                allowfullscreen></iframe>#}
{#                                                    </div>#}
{##}
{#                                                </div>#}
{##}
{#                                                <div class="item">#}
{#                                                    <img src="/static/pic/HackathonPlatfrom.jpg" alt="...">#}
{##}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{##}
{##}
{#                                        <h3 class="oh-title">作品名称</h3>#}
{##}
{#                                        <div class="">#}
{#                                            <a herf="javascript:;" class="oh-comment"><span#}
{#                                                    class="def"><i></i> 1000评论</span><span#}
{#                                                    class="hover"><i></i> 我要评论</span></a>#}
{#                                            <a herf="javascript:;" class="oh-like"><span#}
{#                                                    class="def"><i></i> 32赞</span><span#}
{#                                                    class="hover"><i></i> 点个赞</span></a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div role="tabpanel" class="tab-pane" id="event2">#}
{#                            B#}
{#                        </div>#}
{#                        <div role="tabpanel" class="tab-pane" id="event3">#}
{#                            C#}
{#                        </div>#}
{#                        <div role="tabpanel" class="tab-pane" id="event4">#}
{#                            D#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}
<div id="info4" class="">
    <div class="container oh-feature oh-users">
        <div class="oh-feature-header clearfix">
            <h2>本季达人</h2>
            <a href="#info4" class="more">更多达人&gt;</a>
        </div>
        <div class="ob-feature-body">
            <div class="row" id="talent_list">

            </div>
        </div>
    </div>
</div>
<div id="info5" class="">
    <div class="container oh-feature">
        <div class="oh-feature-header clearfix">
            <h2>合作主办</h2>
            <!--<a href="#info5" class="more">更多主办方&gt;</a>-->
        </div>
        <div class="ob-feature-body ">
            <div class="oh-organizers">
                <div class="col-md-3 col-xs-6">
                    <div class="oh-item">
                        <a href="javascirp:;"><img src="/static/pic/microsoft.jpg" alt="microsoft"></a>

                        <div class="oh-body">
                            <p><a href="http://www.microsoft.com" target="_blank">微软</a></p>

                            {#
                            <div class="oh-count">#}
                                {#
                                <div><span>1</span> 活动正在进行</div>
                                #}
                                {#
                                <div><span>4</span> 活动已经发布</div>
                                #}
                                {#
                            </div>
                            #}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="oh-item">

                        <a href="javascirp:;"><img src="http://www.kaiyuanshe.cn/templates/hli/css/member-logos/gitcafe-small.png" alt="gitcafe"></a>

                        <div class="oh-body">
                            <p><a href="https://gitcafe.com" target="_blank">Gitcafe</a></p>

                            {#
                            <div class="oh-count">#}
                                {#
                                <div><span>1</span> 活动正在进行</div>
                                #}
                                {#
                                <div><span>4</span> 活动已经发布</div>
                                #}
                                {#
                            </div>
                            #}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="oh-item">
                        <a href="javascirp:;"><img src="http://www.kaiyuanshe.cn/templates/hli/css/member-logos/UbuntuKylinnew.png" alt="ukylin"></a>

                        <div class="oh-body">
                            <p><a href="http://www.ubuntukylin.com/" target="_blank">优麒麟</a></p>

                            {#
                            <div class="oh-count">#}
                                {#
                                <div><span>1</span> 活动正在进行</div>
                                #}
                                {#
                                <div><span>4</span> 活动已经发布</div>
                                #}
                                {#
                            </div>
                            #}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="oh-item">
                        <a href="javascirp:;"><img src="http://www.kaiyuanshe.cn/templates/hli/css/member-logos/alauda-small.png" alt="alauda"></a>

                        <div class="oh-body">
                            <p><a href="http://www.alauda.cn/" target="_blank">灵雀云</a></p>

                            {#
                            <div class="oh-count">#}
                                {#
                                <div><span>1</span> 活动正在进行</div>
                                #}
                                {#
                                <div><span>4</span> 活动已经发布</div>
                                #}
                                {#
                            </div>
                            #}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="oh-item">
                        <a href="javascirp:;"><img src="http://e.jikexueyuan.com/headerandfooter/images/logo.png" alt="jikexueyuan"></a>

                        <div class="oh-body">
                            <p><a href="http://www.jikexueyuan.com/" target="_blank">极客学院</a></p>

                            {#
                            <div class="oh-count">#}
                                {#
                                <div><span>1</span> 活动正在进行</div>
                                #}
                                {#
                                <div><span>4</span> 活动已经发布</div>
                                #}
                                {#
                            </div>
                            #}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="oh-item">
                        <a href="javascirp:;"><img src="http://www.kaiyuanshe.cn/templates/hli/css/member-logos/jstorm-small.png" alt="jstorm"></a>

                        <div class="oh-body">
                            <p><a href="https://github.com/alibaba/jstorm/wiki" target="_blank">JStorm</a></p>

                            {#
                            <div class="oh-count">#}
                                {#
                                <div><span>1</span> 活动正在进行</div>
                                #}
                                {#
                                <div><span>4</span> 活动已经发布</div>
                                #}
                                {#
                            </div>
                            #}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="oh-item">
                        <a href="javascirp:;"><img src="http://www.kaiyuanshe.cn/templates/hli/css/member-logos/wicresoft-small.png" alt="wicresoft"></a>

                        <div class="oh-body">
                            <p><a href="http://www.wicresoft.com/" target="_blank">微创科技</a></p>

                            {#
                            <div class="oh-count">#}
                                {#
                                <div><span>1</span> 活动正在进行</div>
                                #}
                                {#
                                <div><span>4</span> 活动已经发布</div>
                                #}
                                {#
                            </div>
                            #}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="oh-item">
                        <a href="javascirp:;"><img src="https://www.juhe.cn/themes/v4/public/images/logo.png" alt="juhe"></a>

                        <div class="oh-body">
                            <p><a href="https://www.juhe.cn/" target="_blank">聚合数据</a></p>

                            {#
                            <div class="oh-count">#}
                                {#
                                <div><span>1</span> 活动正在进行</div>
                                #}
                                {#
                                <div><span>4</span> 活动已经发布</div>
                                #}
                                {#
                            </div>
                            #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="oh_lift">
    <ul class="nav nav-tabs" role="tablist">
        <li><a href="#info1"><span>推荐活动</span><i></i></a></li>
        {% if current_user.is_authenticated() == False %}
        <li><a href="#info2"><span>活动流程</span><i></i></a></li>
        {% endif %}
{#        <li><a href="#info3"><span>近期成果</span><i></i></a></li>#}
        <li><a href="#info4"><span>本季达人</span><i></i></a></li>
        <li><a href="#info5"><span>合作主办</span><i></i></a></li>
    </ul>
</div>
{% endblock %}
{% block script %}
<script id="talent_list_template" type="text/x-jquery-tmpl">
          <div class="col-lg-2 col-md-4 col-xs-6">
                <div class="oh-item">
                    <div class="oh-header">
                        <a href="javascript:;"><img src="${avatar_url}" onerror="javascript:this.src='/static/pic/anon_user.png'"></a>
                    </div>
                    <div class="oh-body">
                        <p class="text-center"><a href="javascript:;">${nickname}</a></p>
                    </div>
                </div>
          </div>

</script>
<script type="text/javascript" src="/static/js/views/oh.home.js"></script>
{% endblock %}