{% extends "main.html" %} {% block style %}
<link href="/static/css/bootstrap-editable.css" rel="stylesheet"> {% endblock %} {% block body %}
<div class="col-lg-12">
    <div class="box">
        <div class="box-header">
            <h2><i class="fa fa-edit"></i>编辑用户信息</h2>
        </div>
        <div class="box-content">
            <table class="table table-bordered table-striped table-relative">
                <tbody>
                    <tr>
                        <td>注册名</td>
                        <td>
                            <a href="javascript:void(0);" data-type="text" data-name="register_name" data-original-title="注册名" data-placeholder="注册名" class="editable" data-placement="right" required data-required="请填写注册名"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>邮箱</td>
                        <td>
                            <a href="javascript:void(0);" data-type="email" data-pk="1" data-name="email" data-placeholder="邮箱" data-original-title="邮箱" class="editable" data-placement="right" required  data-required="请填邮箱"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>联系方式</td>
                        <td>
                            <a href="javascript:void(0);" data-type="text" data-name="phone" data-original-title="联系方式" data-placeholder="联系方式" class="editable" data-placement="right" required  data-required="请填联系方式"></a>
                        </td>
                    </tr>
                      <tr>
                        <td>联系地址</td>
                        <td>
                            <a href="javascript:void(0);" data-type="textarea" data-name="address" data-original-title="联系地址" data-placeholder="联系地址" class="editable" data-placement="right" required data-required="请填联系地址"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>性别</td>
                        <td>
                            <a href="javascript:void(0);" data-type="select" data-name="sex" data-value="-1" data-original-title="选择性别" class="editable" data-source='{"-1":"秘密","1":"男","0":"女"}' data-placement="right"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>年龄</td>
                        <td>
                            <a href="javascript:void(0);" data-type="number" data-name="age" data-value="20" class="editable" data-placement="right"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>行业类型</td>
                        <td>
                            <a href="javascript:void(0);" data-type="select" data-name="career_type" data-value="计算机/互联网/通信" data-original-title="选择行业类型" class="editable" data-source='{"计算机/互联网/通信":"计算机/互联网/通信","生产/工艺/制造":"生产/工艺/制造","医疗/护理/制药":"医疗/护理/制药","金融/银行/投资/保险":"金融/银行/投资/保险","文化/广告/传媒":"文化/广告/传媒","娱乐/艺术/表演":"娱乐/艺术/表演","法律/法务":"法律/法务","教育/培训":"教育/培训","公务员/行政/事业单位":"公务员/行政/事业单位","模特":"模特","空姐":"空姐","学生":"学生","其他":"其他"}' data-placement="right"></a>
                        </td>
                    </tr>
                     <tr>
                        <td>职务</td>
                        <td>
                            <a href="javascript:void(0);" data-type="text" data-name="career" data-value="" class="editable" data-placement="right"></a>
                        </td>
                    </tr>
                     <tr>
                        <td>描述</td>
                        <td>
                            <a href="javascript:void(0);" data-type="textarea" data-name="description" data-original-title="描述" class="editable" data-placement="right"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Skype</td>
                        <td>
                            <a href="javascript:void(0);" data-type="text" data-name="skype" data-value="" class="editable" data-placement="right"></a>
                        </td>
                    </tr>
                     <tr>
                        <td>微信</td>
                        <td>
                            <a href="javascript:void(0);" data-type="text" data-name="wechat" data-value="" class="editable" data-placement="right"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>微博</td>
                        <td>
                            <a href="javascript:void(0);" data-type="text" data-name="weibo" data-value="" class="editable" data-placement="right"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>QQ</td>
                        <td>
                            <a href="javascript:void(0);" data-type="text" data-name="qq" data-value="" class="editable" data-placement="right"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>状态</td>
                        <td>
                            <a href="javascript:void(0);" data-type="select" data-name="status" data-value="0" class="editable" data-source='{"0":"未审核","1":"通过","2":"拒绝"}' data-placement="right"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button id="save-btn" class="btn btn-primary">保存</button>
        </div>
    </div>
</div>
{% endblock body %} {% block script %} {{ super() }}
<script type="text/javascript" src="/static/js/bootstrap/bootstrap-editable.js"></script>
<script type="text/javascript" src="/static/js/views/oh.edit.register.js"></script>
{% endblock %}
