<!doctype html>
<html lang="zh-de" ng-app="manageView" ng-strict-di ng-controller="MianController">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="Description" content="">
  <meta name="fragment" content="!">
  <title>{{ SITE_NAME | translate }}</title>
  <script type="text/javascript">
  // dynamically add base tag as well as css and javascript files.
  // we can't add css/js the usual way, because some browsers (FF) eagerly prefetch resources
  // before the base attribute is added, causing 404 and terribly slow loading of the docs app.
  (function() {
    var indexFile = (location.pathname.match(/\/(index[^\.]*\.html)/) || ['', ''])[1],
      rUrl = /(#!\/|api|guide|misc|tutorial|error|index[^\.]*\.html).*$/,
      baseUrl = location.href.replace(rUrl, indexFile),
      production = location.hostname === 'docs.angularjs.org',
      headEl = document.getElementsByTagName('head')[0],
      sync = true;

    addTag('base', {
      href: baseUrl
    });


    addTag('link', {
      rel: 'stylesheet',
      href: 'static/components/bootstrap-3.1.1/css/bootstrap.css',
      type: 'text/css'
    });
    addTag('link', {
      rel: 'stylesheet',
      href: 'css/manage.css',
      type: 'text/css'
    });

    addTag('script', {
      src: 'static/components/angular-1.5.0/angular.js'
    }, sync);
    addTag('script', {
      src: 'static/components/angular-1.5.0/angular-resource.js'
    }, sync);
    addTag('script', {
      src: 'static/components/angular-1.5.0/angular-route.js'
    }, sync);
    addTag('script', {
      src: 'static/components/angular-1.5.0/angular-cookies.js'
    }, sync);
    addTag('script', {
      src: 'static/components/angular-1.5.0/angular-sanitize.js'
    }, sync);
    addTag('script', {
      src: 'static/components/angular-translate-2.9.0/angular-translate.js'
    }, sync);

    addTag('script', {
      src: 'static/components/angular-bootstrap/bootstrap.js'
    }, sync);
    addTag('script', {
      src: 'static/components/angular-bootstrap/dropdown-toggle.js'
    }, sync);


    addTag('script', {
      src: 'static/js/manage.app.js'
    }, sync);


    function addTag(name, attributes, sync) {
      var el = document.createElement(name),
        attrName;

      for (attrName in attributes) {
        el.setAttribute(attrName, attributes[attrName]);
      }

      sync ? document.write(outerHTML(el)) : headEl.appendChild(el);
    }

    function outerHTML(node) {
      // if IE, Chrome take the internal method otherwise build one
      return node.outerHTML || (
        function(n) {
          var div = document.createElement('div'),
            h;
          div.appendChild(n);
          h = div.innerHTML;
          div = null;
          return h;
        })(node);
    }
  })();

  // GA asynchronous tracker
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8594346-3']);
  _gaq.push(['_setDomainName', '.angularjs.org']);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>

<body>
  <header class="header header-fixed">
  </header>
  {{ 'SITE_NAME' | translate }}
  <a href="/manage#!/hackathon/edit"> sdfafd</a>
  <section role="main" class="container main-body">
    <div class="main-grid main-body-grid">
      <div class="grid-left">
        <div class="side-navigation" ng-show="toc==true">
          <ul class="nav-list naked-list">
            <li ng-repeat="navGroup in currentArea.navGroups track by navGroup.name" class="nav-index-group">
              <a href="{{ navGroup.href }}" ng-class="navClass(navGroup)" class="nav-index-group-heading">{{ navGroup.name }}</a>
              <ul class="aside-nav">
                <li ng-repeat="navItem in navGroup.navItems" ng-class="navClass(navItem)" class="nav-index-listing">
                  <a ng-class="linkClass(navItem)" href="{{navItem.href}}">{{navItem.name}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="grid-right">
        {{activities}}
        <div ng-view></div>
      </div>
    </div>
  </section>
</body>

</html>
