{% extends "base/base.html" %}
{% block style %}
    <link href="/static/css/oh.user.profile.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="oh-main profile">
        <div class="container ">
            <div class="profile-left">
                <div class="user-warp">
                    <div class="user-name">程序猿</div>
                    <div class="clearfix">
                        <div class="user-picture" data-parent>
                            <img src="/static/pic/monkey-104-104px.jpg"
                                 onerror="javascript:this.src='/static/pic/monkey-104-104px.jpg'">
                        </div>
                        <div class="career">
                            程序猿
                        </div>
                    </div>
                </div>
                <div class="user-warp">
                    <ul class="follow list-unstyled">
                        <li><i class="fa fa-eye"></i> <span class="right">0</span> 关注</li>
                        <li><i class="fa fa-heart"></i> <span class="right">0</span> 正在关注</li>
                    </ul>
                </div>
                <div class="user-warp">
                    <ul class="profile-provider">
                        <li class="windows" data-toggle="tooltip" data-placement="top"
                            title="Microsoft Account 登录"></li>
                        <li class="github" data-toggle="tooltip" data-placement="top" title="Gihub 登录"></li>
                        <li class="qq" data-toggle="tooltip" data-placement="top" title="QQ 登录"></li>
                        <li class="weibo" data-toggle="tooltip" data-placement="top" title="Weibo 登录"></li>
                        <li class="alauda" data-toggle="tooltip" data-placement="top" title="灵雀云 登录"></li>
                    </ul>
                </div>
                <div class="user-warp">
                    <div class="follow-event">
                        <div class="title">
                            <span><i class="fa fa-thumb-tack"></i></span>
                            关注的活动
                        </div>
                        <div id="like_events">

                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-right">
                <ul class="nav nav-tabs profile-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#team_works" id="team_works_tab" role="tab" data-toggle="tab">团队作品</a>
                    </li>
                    <li role="presentation"><a href="#my_register_events" id="my_register_events_tab" role="tab" data-toggle="tab"></a></li>
                    <li role="presentation" class="hide"><a href="#my_events" id="my_events_tab" role="tab" data-toggle="tab">我发布的活动</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content profile-tab-content">
                    <div role="tabpanel" class="tab-pane active" id="team_works">
                        <div class="text-center" data-type="pageloading"><img src="/static/pic/spinner-lg.gif"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="my_register_events">
                        <div class="text-center" data-type="pageloading"><img src="/static/pic/spinner-lg.gif"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="my_events">
                        <div class="text-center" data-type="pageloading"><img src="/static/pic/spinner-lg.gif"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script id="like_event_item" type="text/x-jquery-tmpl">
    {% raw %}
    <div class="event-item" data-parent>
        <a href="/site/${hackathon_info.name}">
            <img src="${$item.get_banner(hackathon_info.banners)}" onload="oh.comm.imgLoad(this)" onerror="javascript:this.src='/static/pic/homepage.jpg'">
        </a>
        <p>${hackathon_info.display_name}</p>
    </div>
    {% endraw %}


    </script>
    <script id="team_work_item" type="text/x-jquery-tmpl">
    {% raw %}
    <div class="cbox">
        <div class="cbox-header" data-parent>
            <img src="${picUri}" onload="oh.comm.imgLoad(this)"
                onerror="javascript:this.src='/static/pic/homepage.jpg'">
            <a name="edit-teamshow" class="edit" href="/site/${hackathon.name}/team/${id}" data-toggle="tooltip"
                data-placement="top" title="编辑"><i class="fa fa-pencil"></i>
            </a>
        </div>
        <div class="cbox-warp">
            <div class="sub-title">
                <p>活动：<a href="/site/${hackathon.name}">${hackathon.display_name}</a></p>
            </div>
            <div class="body">
                <p>团队名：<a href="/site/${hackathon.name}/team/${id}">${name}</a></p>
                <!--<p>作品名：${project_name}</a></p>-->
            </div>
        </div>
        <div class="cbox-content">
            作品描述：${project_description}
        </div>
        <div class="cbox-footer">
            <p class="items"> 作品内容：{{html $item.getlinks(hackathon.name, works, id)}}</p>
        </div>
    </div>
    {% endraw %}


    </script>
    <script id="my_event_item" type="text/x-jquery-tmpl">
    {% raw %}
    <div class="cbox">
        <div class="cbox-header" data-parent>
            <img src="${$item.get_banner(banners)}" onload="oh.comm.imgLoad(this)" onerror="javascript:this.src='/static/pic/homepage.jpg'">
            <a class="edit" href="/manage/${name}/edit" data-toggle="tooltip" data-placement="top" title="编辑"><i class="fa fa-pencil"></i></a>
        </div>
        <div class="cbox-warp">
            <div class="title"><a href="/site/${name}">${display_name}</a></div>
            <div class="clearfix cbox-time">
                <div class="left">
                    <span class="fa fa-calendar"></span>
                    ${moment(event_start_time).format('YY/MM/DD')}
                </div>
                <div class="right"><span class="fa fa-map-marker"></span> ${$item.get_status(status)}
                </div>
            </div>
        </div>
        <div class="cbox-warp">
        ${tag}&nbsp;
        </div>
        <div class="cbox-footer">
          
        </div>
    </div>
    {% endraw %}


    </script>
    <script id="my_register_event_item" type="text/x-jquery-tmpl">
    {% raw %}
    <div class="cbox">
        <div class="cbox-header" data-parent>
            <a href="/site/${hackathon_info.name}">
                <img src="${$item.get_banner(hackathon_info.banners)}" onload="oh.comm.imgLoad(this)" onerror="javascript:this.src='/static/pic/homepage.jpg'">
            </a>
        </div>
        <div class="cbox-warp">
            <div class="title"><a href="/site/${hackathon_info.name}">${hackathon_info.display_name}</a></div>
            <div class="clearfix cbox-time">
                <div class="left">
                    <span class="fa fa-calendar"></span>
                    ${moment(hackathon_info.event_start_time).format('YY/MM/DD')}
                </div>
                <div class="right"><span class="fa fa-map-marker"></span> ${$item.get_location(hackathon_info.location)}
                </div>
            </div>
        </div>
        <div class="cbox-warp">
        ${hackathon_info.tags.join()}
        </div>
        <div class="cbox-footer">
            <i class="fa fa-heart"> N/A</i>
        </div>
    </div>
    {% endraw %}


    </script>
    <script type="text/javascript" src="/static/js/jquery/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery/bootstrapValidator.js"></script>
    <script type="text/javascript" src="/static/js/views/oh.user.profile.js"></script>
{% endblock %}