<div class="row">
  <div class="col-lg-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <button><a><i class="fa fa-trash"></i><span>{{'DELETE' | translate}}</span></a></button>
          <button><a><i class="fa fa-plus"></i><span>{{'CREATE' | translate}}</span></a></button>
        </tr>
        <tr>
          <th><input type="checkbox" id="AdminCheckbox"/></th>
          <th>{{'ADMIN_WEBPAGE_FIELDS.NAME' | translate}}</th>
          <th>{{'ADMIN_WEBPAGE_FIELDS.EMAILS' | translate}}</th>
          <th>{{'ADMIN_WEBPAGE_FIELDS.ROLE' | translate}}</th>
          <th>{{'ADMIN_WEBPAGE_FIELDS.STATUS' | translate}}</th>
          <th>{{'ADMIN_WEBPAGE_FIELDS.PROVIDER' | translate}}</th>
          <th>{{'ADMIN_WEBPAGE_FIELDS.LASTLOGINTIME' | translate}}</th>
          <th>{{'ADMIN_WEBPAGE_FIELDS.CREATETIME' | translate}}</th>
          <th>{{'ADMIN_WEBPAGE_FIELDS.REMARK' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="admin in data.admins | filter:filterAdmin">
          <td><input type="checkbox" name="adminItemCheckbox"/></td>
          <td>{{admin.user_info.name}}</td>
          <td>{{admin.user_info.emails | join}}</td>
          <td>
            <select ng-model="data.adminsType[$index] | hackUserType" ng-change="">
              <option>{{'HACK_USER_TYPE.ADMIN' | translate}}</option>
              <option>{{'HACK_USER_TYPE.JUDGE' | translate}}</option>
            </select>
          </td>
          <td>{{admin.status | hackUserStatus}}</td>
          <td>{{admin.user_info.provider}}</td>
          <td>{{admin.user_info.last_login_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{admin.user_info.create_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <input>{{admin.remark}}
            <input type="text">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-4">
    <table class="table table-striped table-bordered">
      <tbody>
        <tr><td ng-click="filterAdminCondition=0">{{'ALL_USERS' | translate}}({{data.admins.length}})</td></tr>
        <tr><td ng-click="filterAdminCondition=1">{{'HACK_USER_TYPE.ADMIN' | translate}}({{(data.admins | filter:{role:1}).length}})</td></tr>
        <tr><td ng-click="filterAdminCondition=2">{{'HACK_USER_TYPE.JUDGE' | translate}}({{(data.admins | filter:{role:2}).length}})</td></tr>
      </tbody>
    </table>
  </div>
</div>