<script type="text/ng-template" id="addAdminModel.html">
  <div class="modal-header">
    <h3 class="modal-title">
      <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
      {{'ADMIN_WEBPAGE_FIELDS.CREATE_ADMIN' | translate}}
    </h3>
  </div>
  <div class="modal-body">
    <form>
      <input type="text" placeholder="{{'ADMIN_WEBPAGE_FIELDS.ADMIN_SEARCH_HINT' | translate}}" ng-model="data.searchKeyword">
      <input type="submit" value="{{'ADMIN_WEBPAGE_FIELDS.SEARCH' | translate}}" ng-click="searchAdmin()">
    </form>
    <table class="table">
      <thead>
        <tr>
          <th>{{'ADMIN_WEBPAGE_FIELDS.NAME' | translate}}</th>
          <th>{{'ADMIN_WEBPAGE_FIELDS.NICKNAME' | translate}}</th>
          <th>{{'ADMIN_WEBPAGE_FIELDS.EMAILS' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in data.searchResult" ng-style="user.id == data.selectedUserId && data.selectedUserCSS" ng-click="selectSearchedUser(user)">
          <td>{{user.name}}</td>
          <td>{{user.nickname}}</td>
          <td>{{user.emails | joinEmails}}</td>
        </tr>
      </tbody>
    </table>
    <form>
      <input type="radio" ng-model="data.selectedUserRole" value=1 checked/>
      <label>{{'HACK_USER_TYPE.ADMIN' | translate}}</label>
      <br/>
      <input type="radio" ng-model="data.selectedUserRole" value=2 />
      <label>{{'HACK_USER_TYPE.JUDGE' | translate}}</label>
      <br/>
      <label>{{'ADMIN_WEBPAGE_FIELDS.REMARK' | translate}}</label>
      <input type="text" ng-model="data.selectedUserRemark">
      <br/>
    </form>
    <input type="submit" value="{{'OK' | translate}}" ng-click="createAdmin();cancel()">
    <input type="button" value="{{'CANCEL' | translate}}" ng-click="cancel()">
  </div>
</script>
<div class="admin-container clearfix">
  <div class="inbox-wrap">
    <div class="inbox-toolbar">
      <button class="btn btn-sm btn-success" ng-click="showSearchBar()">
        <i class="fa fa-plus"></i> {{'CREATE' | translate}}
      </button>
      <button class="btn btn-sm btn-danger" ng-click="deleteAdmins()">
        <i class="fa fa-trash"></i> {{'DELETE' | translate}}
      </button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th style="width: 30px;">
            <label class="checkbox checkbox-success">
              <input type="checkbox" ng-click="toggleAllAdmins()" ng-checked="isAllAdminsSelected()">
              <span></span>
            </label>
          </th>
          <th>{{'ADMIN_WEBPAGE_FIELDS.NAME' | translate}}</th>
          <th>{{'ADMIN_WEBPAGE_FIELDS.EMAILS' | translate}}</th>
          <th>{{'ADMIN_WEBPAGE_FIELDS.ROLE' | translate}}</th>
          <th>{{'ADMIN_WEBPAGE_FIELDS.STATUS' | translate}}</th>
          <th>{{'ADMIN_WEBPAGE_FIELDS.PROVIDER' | translate}}</th>
          <th>{{'ADMIN_WEBPAGE_FIELDS.LASTLOGINTIME' | translate}}</th>
          <th>{{'ADMIN_WEBPAGE_FIELDS.CREATETIME' | translate}}</th>
          <th>{{'ADMIN_WEBPAGE_FIELDS.REMARK' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="admin in data.admins | filter:filterAdmin">
          <td>
            <label class="checkbox checkbox-success">
              <input type="checkbox" ng-checked="isAdminSelected(admin)" ng-click="selectAdmin(admin)">
              <span></span>
            </label>
          </td>
          <td>{{admin.user_info.name}}</td>
          <td>{{admin.user_info.emails | joinEmails}}</td>
          <td>
            <select ng-model="data.adminsType[admin.id]" ng-change="updateAdmin(admin)">
              <option value="1">{{'HACK_USER_TYPE.ADMIN' | translate}}</option>
              <option value="2">{{'HACK_USER_TYPE.JUDGE' | translate}}</option>
            </select>
          </td>
          <td>{{admin.status | hackUserStatus}}</td>
          <td>{{admin.user_info.provider}}</td>
          <td>{{admin.user_info.last_login_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{admin.user_info.create_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td class="form-group-sm cell-input">
            <input class="form-control" ng-model="data.adminsRemark[admin.id]" ng-blur="updateAdmin(admin)">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="inbox-side-bar">
    <div class="list-group">
      <a href="#" class="list-group-item" ng-click="filterAdminCondition=0">{{'ALL_USERS' | translate}}({{data.admins.length}})</a>
      <a href="#" class="list-group-item" ng-click="filterAdminCondition=1"> {{'HACK_USER_TYPE.ADMIN' | translate}}({{(data.admins | filter:{role:1}).length}})</a>
      <a href="#" class="list-group-item" ng-click="filterAdminCondition=2">{{'HACK_USER_TYPE.JUDGE' | translate}}({{(data.admins | filter:{role:2}).length}})</a>
    </div>
  </div>
</div>
