<div class="row">
  <div class="col-lg-8">
    <div class="search-bar-container">
      <div class="search-bar">
        <input type="text" ng-model="data.searchText" placeholder="团队名称">
        <button type="button">搜索</button>
      </div>
    </div>
    <div style="overflow: auto; clear: both; padding: 10px 10px;">
      <div
        ng-repeat="team in ((teams = (data.teams | filter:{name: data.searchText})) | limitTo:data.perPage:(data.curPage - 1) * data.perPage) track by team.id"
        class="team-award-item">
        <a ng-href= "/site/{{data.hackathon_name}}/team/{{team.id}}"><img ng-src="{{team.logo}}"></a>

        <div class="team-data">
          <a ng-href= "/site/{{data.hackathon_name}}/team/{{team.id}}"><h2>{{team.name}}</h2></a>
          <p>
              <a ng-href="/user/p_{{team.leader.id}}">队长: {{team.leader.nickname || team.leader.name}}</a>
            </p>
          <span uib-dropdown>
            <p uib-dropdown-toggle>
              <i class="fa fa-angle-down" style="margin-right: 2px; color: #7f7f7f"></i>
              <span>队 员 ({{team.member_count}})</span>
            </p>
            <ul uib-dropdown-menu>
              <li ng-repeat="member in team.members">
                <a ng-href="/user/p_{{member.user.id}}"><img ng-src="{{member.user.avatar_url}}">{{member.user.nickname || member.user.name}}</a>
              </li>
            </ul>
          </span>
          <span uib-dropdown>
            <p uib-dropdown-toggle>
              <i class="fa fa-angle-down" style="margin-right: 2px; color: #7f7f7f"></i>
              <span ng-click="getTeamScore(team)">成 绩</span>
            </p>
            <ul uib-dropdown-menu>
              <p>平均成绩: {{currentScores.average}}</p>
              <span>各个分数: </span>
              <li ng-repeat="score in currentScores.scores">
                {{score.score}}
              </li>
            </ul>
          </span>
          <div ng-if="team.works.length == 0">
              <p>暂无作品</p>
            </div>
          <span uib-dropdown ng-if="team.works.length != 0">
            <p uib-dropdown-toggle>
              <i class="fa fa-angle-down" style="margin-right: 2px; color: #7f7f7f"></i>
              <span>团队作品</span>
            </p>
            <ul uib-dropdown-menu>
              <li ng-repeat="work in team.works">
                <a ng-href="{{work.uri}}">作品: {{work.uri}}</a>
              </li>
            </ul>
          </span>
        </div>
        <div class="team-awards-container">
          <div class="new-award-button-container">
            <div uib-dropdown>
              <span class="new-award-button btn btn-primary btn-sm" uib-dropdown-toggle>
                <i class="fa fa-leaf"></i>
              </span>
              <div uib-dropdown-menu class="new-award-menu">
                <span
                    ng-repeat="award in data.awards track by award.id"
                    class="award-item"
                    style="cursor: pointer;"
                    ng-click="grantAward(award.id, team.id)">
                  <i>{{award.level}}</i>
                  <p>{{award.name}} {{award.sub_name}}</p>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="dev-plan-container team-awards-dev-plan">
          <div ng-if="team.dev_plan == ''">
            <div class="new-award-button-container" uib-tooltip="计划书未提交！" tooltip-placement="bottom">
                <span class="no_dev-plan-button  btn-sm">
                  <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                </span>
            </div>
          </div>

          <di ng-if="team.dev_plan != ''">
            <div class="new-award-button-container" uib-tooltip="计划书已提交！" tooltip-placement="bottom">
              <span class="dev-plan-button btn-sm">
                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
              </span>
              </div>
          </di>

        </div>
        <div class="team-awards">
          <span class="award-item" ng-repeat="award in team.awards">
            <i>{{data.awardsMap[award].level}}</i>
            <p>{{data.awardsMap[award].name}} {{data.awardsMap[award].sub_name}}</p>
            <span class="cancel-award-cross fa fa-times" ng-click="cancelAward(award, team.id)"></span>
          </span>
        </div>
      </div>
      <div style="clear: both;">
          <uib-pagination
            total-items="teams.length"
            ng-model="data.curPage"
            items-per-page="data.perPage"
            max-size="6"
            class="pagination-sm"
            force-ellipses="true">
          </uib-pagination>
        </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div style="margin-top: 10px; margin-right: 10px;">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <td>全部奖项 ({{ data.grantedAwards.length }})</td>
          </tr>

          <tr ng-repeat="award in data.awards track by award.id" class="award-stat-item">
            <td>
              <span>{{$index + 1}}</span>
              <img ng-src="{{award.award_url}}">
              {{award.name}} {{award.sub_name}} ( {{ (data.grantedAwards | filter:{id: award.id}).length }} )
             </td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
</div>
