<div class="row">
  <div class="col-lg-8">
    <div style="overflow: auto; clear: both; padding: 10px 10px;">
      <div ng-repeat="team in data.teams track by team.id" class="team-award-item">
        <img ng-src="{{team.logo}}">
        <div class="team-data">
          <h2>{{team.name}}</h2>
          <span uib-dropdown>
            <p uib-dropdown-toggle>
              <i class="fa fa-angle-down" style="margin-right: 2px; color: #7f7f7f"></i>
              {{team.leader.nickname || team.leader.name}}
            </p>
            <ul uib-dropdown-menu>
              <li ng-repeat="member in team.members">
                <img ng-src="{{member.user.avatar_url}}"><p>{{member.user.nickname || member.user.name}}</p>
              </li>
            </ul>
          </span>
          <p>人数 ({{team.member_count}})</p>
          <p>{{ team.works.length ? team.works[0].name : '暂无作品' }}</p>
        </div>
        <div class="team-awards-container">
          <div class="new-award-button-container">
            <div uib-dropdown>
              <button type="button" class="btn btn-primary" uib-dropdown-toggle>N</button>
              <div uib-dropdown-menu class="new-award-menu">
                <span
                    ng-repeat="award in data.awards track by award.id"
                    class="award-item"
                    style="cursor: pointer;"
                    ng-click="grantAward(award.id, team.id)">
                  <i>{{award.level}}</i>
                  <p>{{award.name}}</p>
                </span>
              </div>
            </div>
          </div>
          <div class="team-awards">
            <span class="award-item" ng-repeat="award in team.awards">
              <i>{{data.awardsMap[award].level}}</i>
              <p>{{data.awardsMap[award].name}}</p>
              <span class="cancel-award-cross fa fa-times" ng-click="cancelAward(award, team.id)"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>全部奖项 ({{ data.grantedAwards.length }})</td>
        </tr>

        <tr ng-repeat="award in data.awards track by award.id" class="award-stat-item">
          <td>
            <span>{{$index + 1}}</span>
            <img ng-src="{{award.award_url}}">
            {{award.name}} ( {{ (data.grantedAwards | filter:{id: award.id}).length }} )
           </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
