<div class="azure-subscription">
  <uib-tabset class="m-tabs">
    <uib-tab heading="{{'AZURECERT_TABS.AZURECERT_LIST' | translate}}">
      <table class="table">
        <thead>
          <tr>
            <th>订阅号</th>
            <th>服务URL</th>
            <th>证书文件</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="cert in azurecerts">
            <td>{{cert.subscription_id}}</td>
            <td>{{cert.management_host}}</td>
            <td>
              <a href="{{cert.cert_url}}">{{cert.subscription_id}}.cer</a>
            </td>
            <td>
              <span class="label label-success" ng-if="cert.verified">通过</span>
              <span class="label label-warning" ng-if="!cert.verified">未通过</span>
            </td>
            <td class="option">
              <button class="btn btn-info btn-sm" ng-if="!cert.verified" ng-click="checksubid(cert)"><i class="fa fa-stethoscope"></i> 检验</button>
              <a class="btn btn-danger btn-sm" ng-click="deleteCert(cert.id)" title="{{'DELETE' | translate}}">
                <i class="fa fa-trash-o "></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </uib-tab>
    <uib-tab heading="{{'AZURECERT_TABS.CREATE_AZURECERT' | translate }}">
      <div class="row">
        <div class="col-lg-6 col-md-7 col-xs-10 center">
          <form name="azureForm" class="form-horizontal" ng-submit="azureFormSubmit()" novalidate>
            <fieldset class="detail-wrapper">
              <div class="form-group" ng-class="{'has-error': azureForm.subscription_id.$touched && azureForm.subscription_id.$invalid,'has-success':azureForm.subscription_id.$valid}">
                <label class="col-xs-2 control-label" translate="AZURE_FIELDS.SUBSCRIPTION_ID">SUBSCRIPTION_ID</label>
                <div class="col-xs-10 required">
                  <input type="text" class="form-control" name="subscription_id" placeholder="{{'PLACEHOLDERS.SUBSCRIPTION_ID' | translate}}" ng-model="azure.subscription_id" ng-trim="true" ng-minleng="5" pattern="[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}" required>
                  <div class="messages" ng-messages="azureForm.subscription_id.$error" ng-if="azureForm.subscription_id.$touched && azureForm.subscription_id.$invalid">
                    <span ng-message="pattern"><i class="fa fa-close" uib-tooltip="pattern" tooltip-placement="right auto" ></i></span>
                    <span ng-message="required"><i class="fa fa-close" uib-tooltip="required" tooltip-placement="right auto"></i></span>
                  </div>
                  <div class="messages" ng-if="aazureForm.subscription_id.$touched && azureForm.subscription_id.$valid">
                    <i class="fa fa-check"></i>
                  </div>
                </div>
              </div>
              <div class="form-group" ng-class="{'has-error': azureForm.management_host.$touched && azureForm.management_host.$invalid,'has-success':azureForm.management_host.$valid}">
                <label class="col-xs-2 control-label" translate="AZURE_FIELDS.MANAGEMENT_HOST">MANAGEMENT_HOST</label>
                <div class="col-xs-10 required">
                  <select class="form-control" name="management_host" ng-model="azure.management_host">
                    <option value="management.core.chinacloudapi.cn">
                      management.core.chinacloudapi.cn
                    </option>
                    <option value="management.core.windows.net">management.core.windows.net</option>
                  </select>
                </div>
              </div>
              <div class="form-group" ng-show="azure_download_cer">
                <label class="col-xs-2 control-label">下载证书</label>
                <div class="col-xs-10">
                  <a href="{{azurecer}}" download="{{azurecer}}">{{azurecer}}</a>
                </div>
              </div>
            </fieldset>
            <footer>
              <div class="form-group">
                <div class="col-xs-offset-2 col-xs-12">
                  <button type="submit" class="btn btn-success btn-long" ng-disabled="azureForm.$invalid || azureFormDisabled"><i class="fa fa-arrow-circle-o-right"></i> 提交 </button>
                  <button type="button" class="btn btn-primary btn-long" ng-show="azure_download_cer" ng-click="azureNext()"><i class="fa fa-arrow-circle-o-right"></i> 下一步</button>
                </div>
              </div>
            </footer>
          </form>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
