<div class="box">
  <h4 class="text-center">{{'CLOUD_WEBPAGE_FIELDS.SELECT_CLOUD_PROVIDER' | translate}} </h4>
</div>
<div class="col-lg-6 col-md-9 center">
  <form class="form-horizontal" ng-submit="setCloudProvider()" novalidate>
    <fieldset class="detail-wrapper">
      <div class="form-group form-horizontal">

        <div class="col-md-6 text-center" ng-show="">
          <label for="azure">
            <input id="azure" class="hide" type="radio" value="1" ng-model="cloudProvider"
                   ng-disabled="isProviderSelected" required>
            <div class="info-box">
              <div class="content text-centet">
                <img src="/static/pic/azure-logo.jpg">
              </div>
              <footer class="text-center">
                {{'CLOUD_WEBPAGE_FIELDS.USE' | translate}}
              </footer>
            </div>
          </label>
        </div>

        <div class="col-md-6 text-center" ng-show="">
          <label for="alauda">
            <input id="alauda" class="hide" type="radio" value="2" ng-model="cloudProvider"
                   ng-disabled="isProviderSelected" required>
            <div class="info-box">
              <div class="content text-centet">
                <img src="/static/pic/alauda-logo-white.jpg">
              </div>
              <footer class="text-center">
                {{'CLOUD_WEBPAGE_FIELDS.USE' | translate}}
              </footer>
            </div>
          </label>
        </div>

      </div>
    </fieldset>

    <footer>
      <div class="text-center">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-long" ng-disabled="cloudProvider!='1' && cloudProvider!='2'"
                  ng-show="!isProviderSelected">
            <i class="fa fa-arrow-circle-o-right"></i> {{'OK' | translate}}
          </button>
          <a> {{'CLOUD_WEBPAGE_FIELDS.CONFIRM_HINT' | translate}}</a>
        </div>
      </div>
    </footer>
  </form>

</div>