<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9 col-md-10 col-xs-11 center">
      <div class="row">
        <div class="box">
          <ul class="wizard">
            <li ng-class="{active: wizard == 1, complete: wizard >1}"><span class="step">1</span>
              <ANY translate="CREATE_ACTIVITY_WIZARD.STEP1">STEP1</ANY>
            </li>
            <li ng-class="{active: wizard == 2, complete: wizard >2}"><span class="step">2</span>
              <ANY translate="CREATE_ACTIVITY_WIZARD.STEP2">STEP2</ANY>
            </li>
            <li ng-class="{active: wizard == 3, complete: wizard >3}"><span class="step">3</span>
              <ANY translate="CREATE_ACTIVITY_WIZARD.STEP3">STEP3</ANY>
            </li>
            <li ng-class="{active: wizard == 4}"><span class="step">4</span>
              <ANY translate="CREATE_ACTIVITY_WIZARD.STEP4">STEP4</ANY>
            </li>
          </ul>
          <div class="step-content">
            <div id="step1" ng-show="wizard == 1">
              <div class="col-lg-8 col-md-10 col-xs-11 center">
                <form name="activitForm" class="form-horizontal" ng-submit="activitSubmit()" novalidate>
                  <fieldset class="detail-wrapper">
                    <div class="form-group" ng-class="{'has-error': activitForm.name.$touched && activitForm.name.$invalid,'has-success':activitForm.name.$valid}">
                      <label class="col-xs-2 control-label" translate="ACTIVITY_FIELDS.NAME">NAME</label>
                      <div class="col-xs-10 required">
                        <input type="text" class="form-control" name="name" placeholder="{{'ACTIVITY_FIELDS.NAME' | translate}}" ng-model="modules.name" ng-trim="true" ng-minleng="5" ng-maxlength="20" maxlength="20" pattern="^(?!_)(?!.*?_$)[a-z0-9_-]+$" required>
                        <div class="messages" ng-messages="activitForm.name.$error" ng-if="activitForm.name.$touched && activitForm.name.$invalid">
                          <span ng-message="pattern"><i class="fa fa-close" uib-tooltip="" tooltip-placement="right auto" ></i></span>
                          <span ng-message="minlength"><i class="fa fa-close" uib-tooltip="" tooltip-placement="right auto" ></i></span>
                          <span ng-message="maxlength"><i class="fa fa-close" uib-tooltip="" tooltip-placement="right auto" ></i></span>
                          <span ng-message="required"><i class="fa fa-close" uib-tooltip="" tooltip-placement="right auto"></i></span>
                        </div>
                        <div class="messages" ng-if="activitForm.name.$touched && activitForm.name.$valid">
                          <i class="fa fa-check"></i>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': activitForm.display_name.$touched && activitForm.display_name.$invalid,'has-success':activitForm.display_name.$valid}">
                      <label for="inputPassword" class="col-xs-2 control-label" translate="ACTIVITY_FIELDS.DISPLAY_NAME">DISPLAY_NAME</label>
                      <div class="col-xs-10 required">
                        <input type="text" class="form-control" name="display_name" placeholder="{{'ACTIVITY_FIELDS.DISPLAY_NAME' | translate}}" ng-model="modules.display_name" ng-trim="true" ng-maxlength="10" required>
                        <div class="messages" ng-messages="activitForm.display_name.$error" ng-if="activitForm.display_name.$touched && activitForm.display_name.$invalid">
                          <span ng-message="maxlength"><i class="fa fa-close" uib-tooltip="" tooltip-placement="right auto" ></i></span>
                          <span ng-message="required"><i class="fa fa-close" uib-tooltip="" tooltip-placement="right auto"></i></span>
                        </div>
                        <div class="messages" ng-if="activitForm.display_name.$touched && activitForm.display_name.$valid">
                          <i class="fa fa-check"></i>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': activitForm.tags.$touched && activitForm.tags.$invalid,'has-success':activitForm.tags.$touched && activitForm.tags.$valid}">
                      <label for="inputPassword" class="col-xs-2 control-label" translate="ACTIVITY_FIELDS.TAGS">TAGS</label>
                      <div class="col-xs-10 control-addon">
                        <tags-input ng-model="tag" name="tags" placeholder="{{ 'ACTIVITY_FIELDS.TAGS' | translate}}" min-length="2">
                          <i class="control-icon fa fa-tag"></i>
                        </tags-input>
                        <div class="messages" ng-if="activitForm.tags.$touched && activitForm.tags.$valid">
                          <i class="fa fa-check"></i>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{'has-success':activitForm.location.$touched && activitForm.location.$valid}">
                      <label for="inputPassword" class="col-xs-2 control-label" translate="ACTIVITY_FIELDS.LOCATION">LOCATION</label>
                      <div class="col-xs-10 control-addon">
                        <input type="text" class="form-control" name="location" placeholder="{{'PLACEHOLDERS.LOCATION' | translate}}" ng-model="modules.config.location">
                        <i class="control-icon fa fa-map-marker"></i>
                        <div class="messages" ng-if="activitForm.location.$touched && activitForm.location.$valid">
                          <i class="fa fa-check"></i>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword" class="col-xs-2 control-label" translate="ACTIVITY_FIELDS.EVENT_TIME">EVENT_TIME</label>
                      <div class="col-xs-5 control-addon required" ng-class="{'has-error': activitForm.event_start_time.$touched && activitForm.event_start_time.$invalid,'has-success':activitForm.event_start_time.$touched && activitForm.event_start_time.$valid}">
                        <input type="text" class="form-control" name="event_start_time" placeholder="{{'PLACEHOLDERS.START_TIME' | translate}}" ng-model="modules.event_start_time" ng-max="modules.event_end_time" max-date="modules.event_end_time" ng-focus="open.event_start_time = true" ng-click="open.event_start_time = true" is-open="open.event_start_time" datetime-local="yyyy/MM/dd HH:mm" datetime-picker="yyyy/MM/dd HH:mm" timepicker-options="{'show-meridian':true}" required>
                        <i class="control-icon fa fa-calendar"></i>
                        <div class="messages" ng-messages="activitForm.event_start_time.$error" ng-if="activitForm.event_start_time.$touched && activitForm.event_start_time.$invalid">
                          <span ng-message="datetime"><i class="fa fa-close" uib-tooltip="{{'VALIDATE.EVENT_START_TIME_REQUIRED' | translate}}" tooltip-placement="right auto" ></i></span>
                          <span ng-message="max"><i class="fa fa-close" uib-tooltip="{{ 'VALIDATE.EVENT_START_TIME_MAX' | translate}}" tooltip-placement="right auto" ></i></span>
                          <span ng-message="required"><i class="fa fa-close" uib-tooltip="{{ 'VALIDATE.EVENT_START_TIME_REQUIRED' | translate}}" tooltip-placement="right auto"></i></span>
                        </div>
                        <div class="messages" ng-if="activitForm.event_start_time.$touched && activitForm.event_start_time.$valid">
                          <i class="fa fa-check"></i>
                        </div>
                      </div>
                      <div class="col-xs-5 control-addon" ng-class="{'has-error': activitForm.event_end_time.$touched && activitForm.event_end_time.$invalid,'has-success':activitForm.event_end_time.$touched && activitForm.event_end_time.$valid}">
                        <input type="text" class="form-control" name="event_end_time" placeholder="{{'PLACEHOLDERS.END_TIME' | translate}}" ng-model="modules.event_end_time" ng-min="modules.event_start_time" min-date="modules.event_start_time" ng-focus="open.event_end_time = true" ng-click="open.event_end_time = true" is-open="open.event_end_time" datetime-local="yyyy/MM/dd HH:mm" datetime-picker="yyyy/MM/dd HH:mm" timepicker-options="{'show-meridian':true}" required>
                        <i class="control-icon fa fa-calendar"></i>
                        <div class="messages" ng-messages="activitForm.event_end_time.$error" ng-if="activitForm.event_end_time.$touched && activitForm.event_end_time.$invalid">
                          <span ng-message="datetime"><i class="fa fa-close" uib-tooltip="{{'VALIDATE.EVENT_START_TIME_REQUIRED' | translate}}" tooltip-placement="right auto" ></i></span>
                          <span ng-message="min"><i class="fa fa-close" uib-tooltip="{{ 'VALIDATE.EVENT_END_TIME_MIN' | translate}}" tooltip-placement="right auto" ></i></span>
                          <span ng-message="required"><i class="fa fa-close" uib-tooltip="{{ 'VALIDATE.EVENT_END_TIME_REQUIRED' | translate}}" tooltip-placement="right auto"></i></span>
                        </div>
                        <div class="messages" ng-if="activitForm.event_end_time.$touched && activitForm.event_end_time.$valid">
                          <i class="fa fa-check"></i>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword" class="col-xs-2 control-label" translate="ACTIVITY_FIELDS.REGISTRATION_TIME">REGISTRATION_TIME</label>
                      <div class="col-xs-5 control-addon required" ng-class="{'has-error': activitForm.registration_start_time.$touched && activitForm.registration_start_time.$invalid,'has-success':activitForm.registration_start_time.$touched && activitForm.registration_start_time.$valid}">
                        <input type="text" class="form-control" name="registration_start_time" placeholder="{{'PLACEHOLDERS.START_TIME' | translate}}" ng-model="modules.registration_start_time" ng-max="modules.registration_end_time" max-date="modules.registration_end_time" ng-focus="open.registration_start_time = true" ng-click="open.registration_start_time = true" is-open="open.registration_start_time" datetime-local="yyyy/MM/dd HH:mm" datetime-picker="yyyy/MM/dd HH:mm" timepicker-options="{'show-meridian':true}" required>
                        <i class="control-icon fa fa-calendar"></i>
                        <div class="messages" ng-messages="activitForm.registration_start_time.$error" ng-if="activitForm.registration_start_time.$touched && activitForm.registration_start_time.$invalid">
                          <span ng-message="datetime"><i class="fa fa-close" uib-tooltip="{{'VALIDATE.EVENT_START_TIME_REQUIRED' | translate}}" tooltip-placement="right auto" ></i></span>
                          <span ng-message="max"><i class="fa fa-close" uib-tooltip="{{ 'VALIDATE.REGISTRATION_START_TIME_MAX' | translate}}" tooltip-placement="right auto" ></i></span>
                          <span ng-message="required"><i class="fa fa-close" uib-tooltip="{{ 'VALIDATE.REGISTRATION_START_TIME_REQUIRED' | translate}}" tooltip-placement="right auto"></i></span>
                        </div>
                        <div class="messages" ng-if="activitForm.registration_start_time.$touched && activitForm.registration_start_time.$valid">
                          <i class="fa fa-check"></i>
                        </div>
                      </div>
                      <div class="col-xs-5 control-addon" ng-class="{'has-error': activitForm.registration_end_time.$touched && activitForm.registration_end_time.$invalid,'has-success':activitForm.registration_end_time.$touched && activitForm.registration_end_time.$valid}">
                        <input type="text" class="form-control" name="registration_end_time" placeholder="{{'PLACEHOLDERS.END_TIME' | translate}}" ng-model="modules.registration_end_time" ng-min="modules.registration_start_time" min-date="modules.registration_start_time" ng-focus="open.registration_end_time = true" ng-click="open.registration_end_time = true" is-open="open.registration_end_time" datetime-local="yyyy/MM/dd HH:mm" datetime-picker="yyyy/MM/dd HH:mm" timepicker-options="{'show-meridian':true}" required>
                        <i class="control-icon fa fa-calendar"></i>
                        <div class="messages" ng-messages="activitForm.registration_end_time.$error" ng-if="activitForm.registration_end_time.$touched && activitForm.registration_end_time.$invalid">
                          <span ng-message="datetime"><i class="fa fa-close" uib-tooltip="{{'VALIDATE.EVENT_START_TIME_REQUIRED' | translate}}" tooltip-placement="right auto" ></i></span>
                          <span ng-message="min"><i class="fa fa-close" uib-tooltip="{{ 'VALIDATE.REGISTRATION_END_TIME_MIN' | translate}}" tooltip-placement="right auto" ></i></span>
                          <span ng-message="required"><i class="fa fa-close" uib-tooltip="{{ 'VALIDATE.REGISTRATION_END_TIME_REQUIRED' | translate}}" tooltip-placement="right auto"></i></span>
                        </div>
                        <div class="messages" ng-if="activitForm.registration_end_time.$touched && activitForm.registration_end_time.$valid">
                          <i class="fa fa-check"></i>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword" class="col-xs-2 control-label" translate="ACTIVITY_FIELDS.JUDGE_TIME">JUDGE_TIME</label>
                      <div class="col-xs-5 control-addon required" ng-class="{'has-error': activitForm.judge_start_time.$touched && activitForm.judge_start_time.$invalid,'has-success':activitForm.judge_start_time.$touched && activitForm.judge_start_time.$valid}">
                        <input type="text" class="form-control" name="judge_start_time" placeholder="{{'PLACEHOLDERS.START_TIME' | translate}}" ng-model="modules.judge_start_time" ng-max="modules.judge_end_time" max-date="modules.judge_end_time" ng-focus="open.judge_start_time = true" ng-click="open.judge_start_time = true" is-open="open.judge_start_time" datetime-local="yyyy/MM/dd HH:mm" datetime-picker="yyyy/MM/dd HH:mm" timepicker-options="{'show-meridian':true}" required>
                        <i class="control-icon fa fa-calendar"></i>
                        <div class="messages" ng-messages="activitForm.judge_start_time.$error" ng-if="activitForm.judge_start_time.$touched && activitForm.judge_start_time.$invalid">
                          <span ng-message="datetime"><i class="fa fa-close" uib-tooltip="{{'VALIDATE.EVENT_START_TIME_REQUIRED' | translate}}" tooltip-placement="right auto" ></i></span>
                          <span ng-message="max"><i class="fa fa-close" uib-tooltip="{{ 'VALIDATE.JUDGE_START_TIME_MAX' | translate}}" tooltip-placement="right auto" ></i></span>
                          <span ng-message="required"><i class="fa fa-close" uib-tooltip="{{ 'VALIDATE.JUDGE_START_TIME_REQUIRED' | translate}}" tooltip-placement="right auto"></i></span>
                        </div>
                        <div class="messages" ng-if="activitForm.judge_start_time.$touched && activitForm.judge_start_time.$valid">
                          <i class="fa fa-check"></i>
                        </div>
                      </div>
                      <div class="col-xs-5 control-addon" ng-class="{'has-error': activitForm.judge_end_time.$touched && activitForm.judge_end_time.$invalid,'has-success':activitForm.judge_end_time.$touched && activitForm.judge_end_time.$valid}">
                        <input type="text" class="form-control" name="judge_end_time" placeholder="{{'PLACEHOLDERS.END_TIME' | translate}}" ng-model="modules.judge_end_time" ng-min="modules.judge_start_time" min-date="modules.judge_start_time" ng-focus="open.judge_end_time = true" ng-click="open.judge_end_time = true" is-open="open.judge_end_time" datetime-local="yyyy/MM/dd HH:mm" datetime-picker="yyyy/MM/dd HH:mm" timepicker-options="{'show-meridian':true}" required>
                        <i class="control-icon fa fa-calendar"></i>
                        <div class="messages" ng-messages="activitForm.judge_end_time.$error" ng-if="activitForm.judge_end_time.$touched && activitForm.judge_end_time.$invalid">
                          <span ng-message="datetime"><i class="fa fa-close" uib-tooltip="{{'VALIDATE.EVENT_START_TIME_REQUIRED' | translate}}" tooltip-placement="right auto" ></i></span>
                          <span ng-message="min"><i class="fa fa-close" uib-tooltip="{{ 'VALIDATE.JUDGE_END_TIME_MIN' | translate}}" tooltip-placement="right auto" ></i></span>
                          <span ng-message="required"><i class="fa fa-close" uib-tooltip="{{ 'VALIDATE.JUDGE_END_TIME_REQUIRED' | translate}}" tooltip-placement="right auto"></i></span>
                        </div>
                        <div class="messages" ng-if="activitForm.judge_end_time.$touched && activitForm.judge_end_time.$valid">
                          <i class="fa fa-check"></i>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': activitForm.ribbon.$touched && activitForm.ribbon.$invalid,'has-success':activitForm.ribbon.$touched && activitForm.ribbon.$valid}">
                      <label for="inputPassword" class="col-xs-2 control-label" translate="ACTIVITY_FIELDS.RIBBON">RIBBON</label>
                      <div class="col-xs-10">
                        <input type="text" name="ribbon" class="form-control" placeholder="" ng-model="modules.ribbon">
                      </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': activitForm.max_enrollment.$touched && activitForm.max_enrollment.$invalid,'has-success': activitForm.max_enrollment.$touched && activitForm.max_enrollment.$valid}">
                      <label for="inputPassword" class="col-xs-2 control-label" translate="ACTIVITY_FIELDS.MAX_ENROLLMENT">MAX_ENROLLMENT</label>
                      <div class="col-xs-10 control-addon">
                        <input type="number" class="form-control" name="max_enrollment" placeholder="{{'PLACEHOLDERS.MAX_ENROLLMENT' | translate}}" min="0" ng-model="modules.config.max_enrollment" string-to-number ng-min="0" pattern="[0-9]+">
                        <i class="control-icon fa fa-user-plus"></i>
                        <div class="messages" ng-messages="activitForm.max_enrollment.$error" ng-if="activitForm.max_enrollment.$touched">
                          <span ng-message="min"><i class="fa fa-close" uib-tooltip="{{ 'VALIDATE.MAX_ENROLLMENT_MIN' | translate}}"  tooltip-placement="right auto"></i></span>
                          <span ng-message="pattern"><i class="fa fa-close" uib-tooltip="{{ 'VALIDATE.MAX_ENROLLMENT_PATTERN' | translate}}" tooltip-placement="right auto"></i></span>
                        </div>
                        <div class="messages" ng-if="activitForm.max_enrollment.$touched && activitForm.max_enrollment.$valid">
                          <i class="fa fa-check"></i>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword" class="col-xs-2 control-label" translate="ACTIVITY_FIELDS.SHORT_DESCRIPTION">SHORT_DESCRIPTION</label>
                      <div class="col-xs-10">
                        <textarea class="form-control" ng-model="modules.short_description" rows="4"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword" class="col-xs-2 control-label" translate="ACTIVITY_FIELDS.DESCRIPTION">DESCRIPTION</label>
                      <div class="col-xs-10">
                        <textarea name="description" ckeditor ng-model="modules.description" height="300"></textarea>
                      </div>
                    </div>
                  </fieldset>
                  <footer>
                    <div class="form-group">
                      <div class="col-xs-offset-2 col-xs-10">
                        <button type="submit" class="btn btn-primary" ng-disabled="activitForm.$invalid"><i class="fa fa-arrow-circle-o-right"></i> 下一步</button>
                      </div>
                    </div>
                  </footer>
                </form>
              </div>
            </div>
            <div id="step2" ng-show="wizard == 2">
              <div class="col-lg-8 col-md-10 col-xs-11 center">
                <form name="clondForm" class="form-horizontal" ng-submit="clondFormSubmit()" novalidate>
                  <fieldset class="detail-wrapper">
                    <div class="form-group">
                      <div class="col-xs-6">
                        <label>
                          <div class="info-box">
                            <input class="hide" type="ribbon" name="clond" ng-model="clond" required></input>
                            <div class="content text-centet">
                              <img src="/static/pic/azure-logo.png">
                            </div>
                            <footer class="text-center">
                              使用
                            </footer>
                          </div>
                        </label>
                      </div>
                      <div class="col-xs-6">
                        <div class="info-box">
                          <input class="hide" type="ribbon" name="clond" ng-model="clond" required></input>
                          <div class="content text-centet">
                            <img src="/static/pic/alauda-logo-white.png">
                          </div>
                          <footer class="text-center">
                            使用
                          </footer>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                  <footer>
                    <div class="form-group">
                      <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary" ng-disabled="activitForm.$invalid"><i class="fa fa-arrow-circle-o-right"></i> 下一步</button>
                        <a href="#" ng-click="notUseCloud()"> skip 不使用云资源</a>
                      </div>
                    </div>
                  </footer>
                </form>
                <form name="azureForm" class="form-horizontal" ng-show="is" novalidate>
                  <header>
                    <i class="fa fa-plus"></i> 创建新Azure证书
                  </header>
                  <fieldset class="detail-wrapper">
                    <div class="form-group" ng-class="{'has-error': azureForm.subscription_id.$touched && activitForm.name.$invalid,'has-success':activitForm.name.$valid}">
                      <label class="col-xs-2 control-label" translate="AZURE_FIELDS.SUBSCRIPTION_ID">SUBSCRIPTION_ID</label>
                      <div class="col-xs-10 required">
                        <input type="text" class="form-control" name="subscription_id" placeholder="{{'PLACEHOLDERS.SUBSCRIPTION_ID' | translate}}" ng-model="modules.name" ng-trim="true" ng-minleng="5" pattern="[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}" required>
                        <div class="messages" ng-messages="activitForm.name.$error" ng-if="activitForm.name.$touched && activitForm.name.$invalid">
                          <span ng-message="pattern"><i class="fa fa-close" uib-tooltip="" tooltip-placement="right auto" ></i></span>
                          <span ng-message="required"><i class="fa fa-close" uib-tooltip="" tooltip-placement="right auto"></i></span>
                        </div>
                        <div class="messages" ng-if="activitForm.name.$touched && activitForm.name.$valid">
                          <i class="fa fa-check"></i>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': azureForm.management_host.$touched && azureForm.management_host.$invalid,'has-success':azureForm.management_host.$valid}">
                      <label class="col-xs-2 control-label" translate="AZURE_FIELDS.MANAGEMENT_HOST">MANAGEMENT_HOST</label>
                      <div class="col-xs-10 required">
                        <select class="form-control" name="management_host" id="management_host">
                          <option value="management.core.chinacloudapi.cn">
                            management.core.chinacloudapi.cn
                          </option>
                          <option value="management.core.windows.net">management.core.windows.net</option>
                        </select>
                      </div>
                    </div>
                  </fieldset>
                  <footer>
                    <div class="form-group">
                      <div class="col-xs-offset-2 col-xs-12">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-circle-o-right"></i> 下一步</button>
                      </div>
                    </div>
                  </footer>
                </form>
              </div>
            </div>
            <div id="step3" ng-show="wizard == 3" class="clearfix" style="margin: -32px 0;">
              <ng-form name="templateForm" class="form-horizontal" novalidate>
                <div class="inner-layout">
                  <div class="inner-left inner-cell">
                    <div clss="clearfix">
                      <div class="header">
                        <div class="col-md-12 col-lg-7">
                          <div class="row">
                            <div class="input-group search">
                              <input type="text" class="form-control" placeholder="Search for...">
                              <span class="input-group-btn">
                            <select class="form-control dropdown-list" name="status" ng-model="ssss">
                              <option value="0" selected="selected">全部</option>
                              <option value="1">审核通过</option>
                              <option value="2">未审核</option>
                              <option value="3">审核失败</option>
                            </select>
                            <button class="btn btn-info" type="button">搜索</button>
                          </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 col-lg-5">
                          <div class="row  text-right">
                            <a href="#" class="btn btn-primary">创建模板</a>
                            <a href="#" class="btn btn-primary">从文件创建模板</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix">
                      <div class="col-md-4">
                        <div class="item">
                          <header>
                            openter-ubuntu-sshd
                          </header>
                          <div class="item-body">
                          </div>
                          <footer>
                            <div class="btn-group btn-group-justified">
                              <a class="btn">ONLINE</a>
                              <a class="btn">OFFLINE</a>
                            </div>
                          </footer>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="item">
                          <header>
                            openter-ubuntu-sshd
                          </header>
                          <div class="item-body">
                          </div>
                          <footer>
                            <div class="btn-group btn-group-justified">
                              <a class="btn">ONLINE</a>
                              <a class="btn">OFFLINE</a>
                            </div>
                          </footer>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="item">
                          <header>
                            openter-ubuntu-sshd
                          </header>
                          <div class="item-body">
                          </div>
                          <footer>
                            <div class="btn-group btn-group-justified">
                              <a class="btn">ONLINE</a>
                              <a class="btn">OFFLINE</a>
                            </div>
                          </footer>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="item">
                          <header>
                            openter-ubuntu-sshd
                          </header>
                          <div class="item-body">
                          </div>
                          <footer>
                            <div class="btn-group btn-group-justified">
                              <a class="btn">ONLINE</a>
                              <a class="btn">OFFLINE</a>
                            </div>
                          </footer>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="item">
                          <header>
                            openter-ubuntu-sshd
                          </header>
                          <div class="item-body">
                          </div>
                          <footer>
                            <div class="btn-group btn-group-justified">
                              <a class="btn">ONLINE</a>
                              <a class="btn">OFFLINE</a>
                            </div>
                          </footer>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix">
                      <uib-pagination total-items="175" ng-model="bigCurrentPage" max-size="5" class="pagination pagination-success" boundary-link-numbers="true" rotate="false"></uib-pagination>
                    </div>
                    <footer class="clearfix">
                      <div class="form-group">
                        <div class="col-xs-12">
                          <button type="submit" class="btn btn-primary" ng-click="next()"><i class="fa fa-arrow-circle-o-right"></i> 下一步</button>
                        </div>
                      </div>
                    </footer>
                  </div>
                  <div class="inner-right inner-cell">
                    <div class="inner-list">
                      <header>
                        已绑定模板
                      </header>
                      <div class="content">
                        <uib-accordion close-others="oneAtATime">
                          <uib-accordion-group>
                            <uib-accordion-heading>
                              I can have markup, too!
                              <label class="checkbox checkbox-success right" ng-click="expression($event)">
                                <input type="checkbox"  checked="checked">
                                <span>绑定</span>
                              </label>
                            </uib-accordion-heading>
                            <p>创建者:ifendoe</p>
                            <p>使用次数(600)</p>
                            <p>
                              <time>2015/11/05 16:27 </time> <span class="right">审核失败</span></p>
                            <p>This is just some content to illustrate fancy headings.</p>
                          </uib-accordion-group>
                          <uib-accordion-group>
                            <uib-accordion-heading>
                              I can have markup, too!
                              <label class="checkbox checkbox-success right" ng-click="expression($event)">
                                <input type="checkbox" checked="checked">
                                <span>绑定</span>
                              </label>
                            </uib-accordion-heading>
                            <p>创建者:ifendoe</p>
                            <p>使用次数(600)</p>
                            <p>
                              <time>2015/11/05 16:27 </time> <span class="right">审核失败</span></p>
                            <p>This is just some content to illustrate fancy headings.</p>
                          </uib-accordion-group>
                          <uib-accordion-group>
                            <uib-accordion-heading>
                              I can have markup, too!
                              <label class="checkbox checkbox-success right" ng-click="expression($event)">
                                <input type="checkbox" checked="checked">
                                <span>绑定</span>
                              </label>
                            </uib-accordion-heading>
                            <p>创建者:ifendoe</p>
                            <p>使用次数(600)</p>
                            <p>
                              <time>2015/11/05 16:27 </time> <span class="right">审核失败</span></p>
                            <p>This is just some content to illustrate fancy headings.</p>
                          </uib-accordion-group>
                          <uib-accordion-group>
                            <uib-accordion-heading>
                              I can have markup, too!
                              <label class="checkbox checkbox-success right" ng-click="expression($event)">
                                <input type="checkbox" checked="checked">
                                <span>绑定</span>
                              </label>
                            </uib-accordion-heading>
                            <p>创建者:ifendoe</p>
                            <p>使用次数(600)</p>
                            <p>
                              <time>2015/11/05 16:27 </time> <span class="right">审核失败</span></p>
                            <p>This is just some content to illustrate fancy headings.</p>
                          </uib-accordion-group>
                          <uib-accordion-group>
                            <uib-accordion-heading>
                              I can have markup, too!
                              <label class="checkbox checkbox-success right" ng-click="expression($event)">
                                <input type="checkbox" checked="checked">
                                <span>绑定</span>
                              </label>
                            </uib-accordion-heading>
                            <p>创建者:ifendoe</p>
                            <p>使用次数(600)</p>
                            <p>
                              <time>2015/11/05 16:27 </time> <span class="right">审核失败</span></p>
                            <p>This is just some content to illustrate fancy headings.</p>
                          </uib-accordion-group>
                        </uib-accordion>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-form>
            </div>
          </div>
          <div id="step4" ng-show="wizard == 4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
