  <button class="btn btn-default">样式 default</button>
  <button class="btn btn-primary">样式 primary</button>
  <button class="btn btn-success">样式 success</button>
  <button class="btn btn-info">样式 info</button>
  <button class="btn btn-warning">样式 warning</button>
  <button class="btn btn-danger">样式 danger</button>
  <div class="">
    <label class="checkbox">
      <input type="checkbox">
      <span>Checkbox 2</span>
    </label>
  </div>
  <div>
    <label class="checkbox checkbox-primary">
      <input type="checkbox">
      <span>Checkbox primary</span>
    </label>
  </div>
  <div>
    <label class="checkbox checkbox-success">
      <input type="checkbox">
      <span>Checkbox success</span>
    </label>
  </div>
  <div>
    <label class="checkbox checkbox-info">
      <input type="checkbox">
      <span>Checkbox info</span>
    </label>
  </div>
  <div>
    <label class="checkbox checkbox-warning">
      <input type="checkbox">
      <span>Checkbox warning</span>
    </label>
  </div>
  <div>
    <label class="checkbox checkbox-danger">
      <input type="checkbox">
      <span>Checkbox danger</span>
    </label>
  </div>
  <div>
    <label class="checkbox checkbox-primary checkbox-lg">
      <input type="checkbox">
      <span>Checkbox primary</span>
    </label>
  </div>
  <div>
    <label class="checkbox checkbox-success checkbox-lg">
      <input type="checkbox" disabled="disabled" checked="checked">
      <span>Checkbox primary</span>
    </label>
  </div>
  <div>
    <label class="radiobox">
      <input type="radio" checked="checked">
      <span>Radiobox 1</span>
    </label>
  </div>
  <div>
    <label class="radiobox radiobox-primary">
      <input type="radio" checked="checked">
      <span>Radiobox 1</span>
    </label>
  </div>
  <div>
    <label class="radiobox radiobox-success">
      <input type="radio" checked="checked">
      <span>Radiobox 1</span>
    </label>
  </div>
  <div>
    <label class="radiobox radiobox-info">
      <input type="radio" checked="checked">
      <span>Radiobox 1</span>
    </label>
  </div>
  <div>
    <label class="radiobox radiobox-warning">
      <input type="radio" checked="checked">
      <span>Radiobox 1</span>
    </label>
  </div>
  <div>
    <label class="radiobox radiobox-danger">
      <input type="radio">
      <span>Radiobox 1</span>
    </label>
  </div>
  <div>
    <label class="radiobox radiobox-info radiobox-lg">
      <input type="radio" checked="checked">
      <span>Radiobox 1</span>
    </label>
  </div>
  <div>
    <label class="radiobox radiobox-success radiobox-lg">
      <input type="radio" checked="checked" disabled="disabled">
      <span>Radiobox 1</span>
    </label>
  </div>
  <div>
    <label class="switchbox switchbox-inline">
      <input type="checkbox">
      <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
    </label>
    <label class="switchbox switchbox-primary switchbox-inline">
      <input type="checkbox">
      <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
    </label>
    <label class="switchbox switchbox-success">
      <input type="checkbox">
      <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
    </label>
    <label class="switchbox switchbox-info">
      <input type="checkbox">
      <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
    </label>
    <label class="switchbox switchbox-warning">
      <input type="checkbox">
      <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
    </label>
    <label class="switchbox switchbox-danger">
      <input type="checkbox">
      <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
    </label>
    <label class="switchbox switchbox-primary  switchbox-lg ">
      <input type="checkbox">
      <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
    </label>
    <label class="switchbox switchbox-primary  switchbox-lg ">
      <input type="checkbox" disabled="disabled" checked="checked">
      <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
    </label>
  </div>
</section>
