<div>
  <uib-tabset class="m-tabs">
    <uib-tab heading="{{'EDIT_ACTIVITY_TABS.INFORMATION' | translate}}" class="ssss">
      <ng-form name="activitForm">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" required ng-model="model.name" />
        </div>
      </ng-form>
    </uib-tab>
    <uib-tab heading="{{'EDIT_ACTIVITY_TABS.BANNER' | translate | safe}}">
      Some Tab Content
    </uib-tab>
    <uib-tab heading="{{'EDIT_ACTIVITY_TABS.DETAILS' | translate}}">
      More Tab Content
    </uib-tab>
    <uib-tab heading="{{'EDIT_ACTIVITY_TABS.PROVIDERS' | translate}}">
      More Tab Content
    </uib-tab>
  </uib-tabset>
</div>
