<div class="manage-edit">
  <uib-tabset class="m-tabs">
    <uib-tab heading="{{'EDIT_ACTIVITY_TABS.INFORMATION' | translate}}">
      <ng-form name="activitForm" class="form-horizontal">
        <fieldset class="detail-wrapper">
          <div class="form-group">
            <label class="col-sm-2 control-label">名称</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{modules.name}}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">显示名称</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="显示名称" ng-model="modules.display_name" ng-trim="true">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">标签</label>
            <div class="col-sm-10 control-addon">
              <tags-input ng-model="tag" placeholder="tag" min-length="1">
                <i class="control-icon fa fa-tag"></i>
              </tags-input>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">活动地址</label>
            <div class="col-sm-10 control-addon">
              <input type="text" class="form-control" required placeholder="线上/线下地址" ng-model="modules.config.location">
              <i class="control-icon fa fa-map-marker"></i>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">活动时间</label>
            <div class="col-sm-5 control-addon">
              <input type="text" class="form-control" placeholder="开始时间" datetime-picker="yyyy/MM/dd hh:mm" ng-model="modules.event_start_time" min-date="minDate" >
              <i class="control-icon fa fa-calendar"></i>
            </div>
            <div class="col-sm-5 control-addon">
              <input type="text" class="form-control" placeholder="结束时间" datetime-picker="yyyy/MM/dd hh:mm" ng-model="modules.event_end_time" min-date="modules.event_start_time" ng-click="openDatetime()">
              <i class="control-icon fa fa-calendar"></i>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">报名时间</label>
            <div class="col-sm-5 control-addon">
              <input type="text" class="form-control" placeholder="开始时间" ng-model="modules.registration_start_time">
              <i class="control-icon fa fa-calendar"></i>
            </div>
            <div class="col-sm-5 control-addon">
              <input type="text" class="form-control" placeholder="结束时间" ng-model="modules.registration_end_time">
              <i class="control-icon fa fa-calendar"></i>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">评分时间</label>
            <div class="col-sm-5 control-addon">
              <input type="text" class="form-control" placeholder="开始时间" ng-model="modules.judge_start_time">
              <i class="control-icon fa fa-calendar"></i>
            </div>
            <div class="col-sm-5 control-addon">
              <input type="text" class="form-control" placeholder="结束时间" ng-model="modules.judge_end_time">
              <i class="control-icon fa fa-calendar"></i>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">广告语</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="" ng-model="modules.ribbon">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">报名人数</label>
            <div class="col-sm-10 control-addon">
              <input type="text" class="form-control" string-to-number ng-model="modules.config.max_enrollment">
              <i class="control-icon fa fa-user-plus"></i>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">简介</label>
            <div class="col-sm-10">
              <textarea class="form-control" ng-model="modules.short_description"></textarea>
            </div>
          </div>
        </fieldset>
      </ng-form>
    </uib-tab>
    <uib-tab heading="{{'EDIT_ACTIVITY_TABS.BANNER' | translate }}">
      <ng-form name="bannersForm">
        <fieldset class="banners clearfix">
          <div class="item" ng-repeat="banner in modules.banners track by $index">
            <img src="{{banner}}" static-image max-width="298" max-height="168">
            <button class="btn btn-sm btn-danger" ng-click="delBanner($index)"><i class="fa fa-times"></i>
              <ANY translate="DELETE">DELETE</ANY>
            </button>
          </div>
          <div class="item create" ng-click="showAddBannerDialog()">
            <h3><i class="fa fa-cloud-upload"></i> 添加图片</h3>
            <small>推荐尺寸<span class="text-red">752*420</span>px 图片</small>
          </div>
        </fieldset>
      </ng-form>
    </uib-tab>
    <uib-tab heading="{{'EDIT_ACTIVITY_TABS.DETAILS' | translate}}">
      <ng-form name="descriptionForm">
        <fieldset class="description-wrapper">
          <div>
            <textarea name="description" ckeditor ng-model="modules.description" height="500"></textarea>
          </div>
        </fieldset>
      </ng-form>
    </uib-tab>
    <uib-tab heading="{{'EDIT_ACTIVITY_TABS.PROVIDERS' | translate}}">
      <ng-form name="providerForm">
        <fieldset class="provider-wrapper text-center provider-group-default">
          <div class="form-group">
            <label class="provider provider-success windows">
              Microsoft Account
            </label>
            <label class="switchbox switchbox-success switchbox-inline">
              <input type="checkbox" ng-model="provider.windows" ng-change="providerChange(provider.windows,1)">
              <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
            </label>
          </div>
          <div class="form-group">
            <label class="provider provider-success github">
              Github
            </label>
            <label class="switchbox switchbox-success switchbox-inline">
              <input type="checkbox" ng-model="provider.github" ng-change="providerChange(provider.github,2)">
              <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
            </label>
          </div>
          <div class="form-group">
            <label class="provider provider-success qq">
              QQ
            </label>
            <label class="switchbox switchbox-success switchbox-inline">
              <input type="checkbox" ng-model="provider.qq" ng-change="providerChange(provider.qq,4)">
              <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
            </label>
          </div>
          <div class="form-group">
            <label class="provider provider-success weibo">
              Weibo
            </label>
            <label class="switchbox switchbox-success switchbox-inline">
              <input type="checkbox" ng-model="provider.weibo" ng-change="providerChange(provider.weibo,8)">
              <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
            </label>
          </div>
          <div class="form-group">
            <label class="provider provider-success alauda">
              alauda 灵雀云
            </label>
            <label class="switchbox switchbox-success switchbox-inline">
              <input type="checkbox" ng-model="provider.alauda" ng-change="providerChange(provider.alauda,32)">
              <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
            </label>
          </div>
          <div class="form-group">
            <label class="provider provider-success gitcafe">
              Gitcafe
            </label>
            <label class="switchbox switchbox-success switchbox-inline">
              <input type="checkbox" ng-model="provider.gitcafe" ng-change="providerChange(provider.gitcafe,16)">
              <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
            </label>
          </div>
          {{modules.config.login_provider}}
        </fieldset>
      </ng-form>
    </uib-tab>
  </uib-tabset>
</div>
