<div>
  <uib-tabset class="m-tabs">
    <uib-tab heading="{{'EDIT_ACTIVITY_TABS.INFORMATION' | translate}}" class="ssss">
      <ng-form name="activitForm">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" required ng-model="model.name" />
        </div>
      </ng-form>
    </uib-tab>
    <uib-tab heading="{{'EDIT_ACTIVITY_TABS.BANNER' | translate }}">
      Some Tab Content
    </uib-tab>
    <uib-tab heading="{{'EDIT_ACTIVITY_TABS.DETAILS' | translate}}">
      <form class="">
        <div class="form-group">
          <textarea name="description" ckeditor ng-model="models.description"></textarea>
          {{models.description}}
        </div>
      </form>
    </uib-tab>
    <uib-tab heading="{{'EDIT_ACTIVITY_TABS.PROVIDERS' | translate}}">
      <form class="provider-group-default text-center">
        <div class="form-group">
          <label class="provider provider-success windows">
            Microsoft Account
          </label>
          <label class="switchbox switchbox-success switchbox-inline">
            <input type="checkbox">
            <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
          </label>
        </div>
        <div class="form-group">
          <label class="provider provider-success github">
            Github
          </label>
          <label class="switchbox switchbox-success switchbox-inline">
            <input type="checkbox">
            <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
          </label>
        </div>
        <div class="form-group">
          <label class="provider provider-success qq">
            QQ
          </label>
          <label class="switchbox switchbox-success switchbox-inline">
            <input type="checkbox">
            <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
          </label>
        </div>
        <div class="form-group">
          <label class="provider provider-success weibo">
            Weibo
          </label>
          <label class="switchbox switchbox-success switchbox-inline">
            <input type="checkbox">
            <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
          </label>
        </div>
        <div class="form-group">
          <label class="provider provider-success alauda">
            alauda 灵雀云
          </label>
          <label class="switchbox switchbox-success switchbox-inline">
            <input type="checkbox">
            <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
          </label>
        </div>
        <div class="form-group">
          <label class="provider provider-success gitcafe">
            Gitcafe
          </label>
          <label class="switchbox switchbox-success switchbox-inline">
            <input type="checkbox">
            <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
          </label>
        </div>
      </form>
    </uib-tab>
  </uib-tabset>
</div>
