<div class="main-inner">
  <nav class="top-navigation">
    <a class="btn btn-default" ui-sref="create()"><i class="fa fa-plus-square" ></i> {{'CREATE_ACTIVITY' | translate}}</a>
  </nav>
  <article class="activity-list clearfix">
    <div class="item" ng-repeat="activity in activities">
      <a ui-sref="manage.edit({name:activity.name})" class="btn btn-sm btn-success"><i class="fa fa-cog"></i> 管理</a>
      <header>
        <a href="/site/{{activity.name}}" target="_blank"><img src="/static/pic/homepage.jpg" static-image max-width="298" max-height="168"></a>
        <span>{{activity.display_name}}</span>
      </header>
      <div class="item-body">
        <h3 class="name"><a href="/site/{{activity.name}}" target="_blank">{{activity.name}}</a></h3>
        <time><i class="color-success fa fa-calendar"></i> {{activity.start_time}} - {{activity.end_time}}</time>
        <p class="description">
          {{activity.short_description}}
        </p>
      </div>
      <footer>
        <div class="btn-group btn-group-justified">
          <a class="btn" ng-class="activity.status == 1? 'btn-success': 'btn-default'" ng-disabled="activity.status == 1" translate="ACTIVITY_STATUS.ONLINE">ONLINE</a>
          <a class="btn" ng-class="activity.status == 0? 'btn-success': 'btn-default'" ng-disabled="true" translate="ACTIVITY_STATUS.DEFAULT">DEFAULT</a>
          <a class="btn" ng-class="activity.status == 2? 'btn-success': 'btn-default'" ng-disabled="activity.status == 2" translate="ACTIVITY_STATUS.OFFLINE">OFFLINE</a>
        </div>
      </footer>
    </div>
  </article>
</div>
