<div class="monitor-container">
  <div class="inbox-wrap">
    <div class="inbox-toolbar inbox-search">
      <div class="input-group search col-xs-4">
        <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="{{'EXPERIMENT_WEBPAGE_FIELDS.SEARCH_EXPERIMENT_HINT' | translate}}" ng-model="searchKeyword" placeholder="Search for...">
        <span class="input-group-btn">     
              <button class="btn btn-info" type="button" ng-click="searchExperiment()"> {{'EXPERIMENT_WEBPAGE_FIELDS.SEARCH' | translate}}</button>
            </span>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>{{'EXPERIMENT_WEBPAGE_FIELDS.USERNAME' | translate}}</th>
          <th>{{'EXPERIMENT_WEBPAGE_FIELDS.EXPERIMENT_ID' | translate}}</th>
          <th>{{'EXPERIMENT_WEBPAGE_FIELDS.EXPERIMENT_STATUS' | translate}}</th>
          <th>{{'EXPERIMENT_WEBPAGE_FIELDS.LAST_HEARTBEAT_TIME' | translate}}</th>
          <th>{{'EXPERIMENT_WEBPAGE_FIELDS.CREATE_TIME' | translate}}</th>
          <th>{{'EXPERIMENT_WEBPAGE_FIELDS.VM_LOCATED' | translate}}</th>
          <th>{{'EXPERIMENT_WEBPAGE_FIELDS.OPERATION' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="experiment in data.experiments | filter:filterExperiments">
          <td>{{experiment.user.name}}</td>
          <td>{{experiment.id}}</td>
          <td>{{experiment.status | exprStatus}}</td>
          <td>{{experiment.last_heart_beat_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{experiment.create_time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>{{experiment.virtual_environments | joinVMs}}</td>
          <td class="option">
            <a class="btn btn-success btn-sm" ng-click="refreshExperiment(experiment)">
              <i class="fa fa-refresh"></i>
            </a>
            <a class="btn btn-info btn-sm" ng-click="updateExperiment(experiment)">
              <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-danger btn-sm" ng-click="deleteExperiment(experiment)">
              <i class="fa fa-trash-o"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="paginate">
      <uib-pagination total-items="data.totalExprLength" ng-model="data.curPage" items-per-page="data.perPage" ng-click="changePage()" class="pagination pagination-success" max-size="6" force-ellipses="true" previous-text="&lt;" next-text="&gt;" first-text="&laquo;" last-text="&raquo;">
      </uib-pagination>
    </div>
  </div>
  <div class="inbox-side-bar">
    <div class="list-group">
      <a href="#" class="list-group-item" ng-click="filterExperimentCondition=-1">
            {{'EXPERIMENT_WEBPAGE_FIELDS.ALL_STATUS' | translate}}({{data.experiments.length}})
            </a>
      <a href="#" class="list-group-item" ng-click="filterExperimentCondition=2">
            {{'EXPERIMENT_STATUS.RUNNING' | translate}}({{(data.experiments | filter:{status:2}).length}})</a>
      <a href="#" class="list-group-item" ng-click="filterExperimentCondition=3">
            {{'EXPERIMENT_STATUS.STOPPED' | translate}}({{(data.experiments | filter:{status:3}).length}})</a>
      <a href="#" class="list-group-item" ng-click="filterExperimentCondition=5">
            {{'EXPERIMENT_STATUS.FAILED' | translate}}({{(data.experiments | filter:{status:5}).length}})</a>
    </div>
  </div>
</div>
