<script type="text/ng-template" id="awardModel.html">
  <div class="modal-header">
    <h3 class="modal-title">添加/编辑奖项</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" id="awardform">
      <div class="form-group has-feedback">
        <label class="col-md-3 control-label">奖项名称</label>
        <div class="col-md-6">
          <input type="text" class="form-control" name="name" id="name" placeholder="奖项名称，必填" ng-model="data.name" required data-bv-trigger="blur" data-bv-notempty-message="奖项名称，不能为空">
        </div>
      </div>
      <div class="form-group has-feedback">
        <label class="col-md-3 control-label">奖项子名称</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="sub_name" placeholder="奖项子名称，可不填" ng-model="data.sub_name" data-bv-trigger="blur">
        </div>
      </div>
      <div class="form-group has-feedback">
        <label class="col-md-3 control-label">奖项照片</label>
        <div class="col-md-6">
          <input type="url" class="form-control" name="award_url" id="award_url" placeholder="图片路径，可不填" ng-model="data.award_url" data-bv-trigger="blur" data-bv-message="请填写正确的图片访问路径" data-bv-notempty-message="请填图片路径">
          <span class="help-block" style="margin-bottom:0px" ng-show="imgFile!=''">{{uploadInputHint}}</span>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label class="col-md-3 control-label">等级</label>
        <div class="col-md-6">
          <input type="number" class="form-control" name="level" id="level" ng-model="data.level" placeholder="" max="10" min="0">
        </div>
        <div class="col-md-3">
          等级越高，排名越前
        </div>
      </div>
      <div class="form-group has-feedback">
        <label class="col-md-3 control-label">限额</label>
        <div class="col-md-6">
          <input type="number" class="form-control" name="quota" id="quota" ng-model="data.quota" placeholder="" max="100" min="1">
        </div>
      </div>
      <div class="form-group has-feedback">
        <label class="col-md-3 control-label">描述</label>
        <div class="col-md-6">
          <textarea class="form-control" name="description" id="description" placeholder="可不填" ng-model="data.description" rows="10"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-show="imgFile!='' && imgFile!='success'" ng-click="uploadFile()">{{startUploadBtnHint}}</button>
    <span class="btn btn-success fileinput-button" ng-show="imgFile!='success'">
      <span>{{uploadImgBtnHint}}</span>
      <input type="file" mutiple file-model="imgFile" ng-click="selectFile()">
    </span>
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    <button type="button" class="btn btn-primary" ng-click="addAward()">提交</button>
  </div>
</script>
<div class="prizes-container clearfix">
  <div class="inbox-toolbar">
    <button type="button" class="btn btn-sm btn-primary" ng-click="add()">
      <i class="fa fa-plus"></i> 添加
    </button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="deleteSelectedPrizes()">
      <i class="fa fa-trash"></i> 删除
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th style="width: 30px;">
          <label class="checkbox checkbox-success">
            <input type="checkbox" ng-click="toggleAllPrizes()" ng-checked="isAllPrizesSelected()">
            <span></span>
          </label>
        </th>
        <th>奖项图片</th>
        <th>奖项名称</th>
        <th>奖项子名称</th>
        <th>等级</th>
        <th>限额</th>
        <th>描述</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="award in data.awards">
        <td>
          <label class="checkbox checkbox-success">
            <input type="checkbox" ng-click="selectPrize(award)" ng-checked="isPrizeSelected(award)">
            <span></span>
          </label>
        </td>
        <td class="a_img"><img style="max-width:96px;max-height: 96px;" ng-src="{{award.award_url}}"></td>
        <td>{{award.name}}</td>
        <td>{{award.sub_name}}</td>
        <td>{{award.level}}</td>
        <td>{{award.quota}}</td>
        <td>{{award.description}}</td>
        <td class="col-action">
          <a class="btn btn-info btn-sm" ng-click="edit($index)">
            <i class="fa fa-edit"></i>
          </a>
          <a class="btn btn-danger btn-sm" ng-click="delete(award.id)">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
