<div class="register-users-container clearfix">
  <div class="inbox-wrap">
    <div class="inbox-toolbar">
      <button class="btn btn-sm btn-success" ng-click="updateStatusBatch(1)">通过</button>
      <button class="btn btn-sm btn-danger" ng-click="updateStatusBatch(2)">拒绝</button>
      <div class="float-right">
        <span>允许组队：</span>
        <label class="switchbox switchbox-success switchbox-inline">
          <input type="checkbox" ng-model="data.freedomTeam" ng-change="updateConfig()">
          <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
        </label>
        <span>自动审核：</span>
        <label class="switchbox switchbox-success switchbox-inline">
          <input type="checkbox" ng-model="data.autoApprove" ng-change="updateConfig()">
          <span class="switchbox-handle" data-on="On" data-off="Off"><i></i></span>
        </label>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th style="width: 30px;">
            <label class="checkbox checkbox-success">
              <input type="checkbox" ng-model="data.checkAll" ng-change="toggleCheckAll()">
              <span></span>
            </label>
          </th>
          <th>注册名</th>
          <th>邮箱</th>
          <th>登录方式</th>
          <th>联系电话</th>
          <th>联系地址</th>
          <th>报名时间</th>
          <th style="width: 120px;">状态</th>
        </tr>
      </thead>
      <tbody id="registe_list">
        <tr ng-repeat="reg in data.registerUsers | filter:filterUser | limitTo:data.perPage:(data.curPage - 1) * data.perPage as curPageUsers track by reg.id">
          <td>
            <label class="checkbox checkbox-success">
              <input type="checkbox" ng-model="data.checks[reg.id]" ng-change="checkCheckAll()">
              <span></span>
            </label>
          </td>
          <td>{{reg.user.name}}</td>
          <td>
            <span ng-repeat="email in reg.user.emails | orderBy: '-primary_email'">
                      <a ng-href="mailto: {{email.email}}">
                        {{email.email}}
                      </a>
                      {{ $last ? '' : ',' }}
                    </span>
          </td>
          <td>{{reg.user.provider || ''}}</td>
          <td>{{reg.user.profile && (reg.user.profile.phone || '')}}</td>
          <td>{{reg.user.profile && (reg.user.profile.address || '')}}</td>
          <td>{{reg.create_time | date:'yyyy-MM-dd HH:mm'}}</td>
          <td>
            <select ng-model="data.regStatus[reg.id]" class="register-status-select" ng-class="{'waiting': reg.status == 0, 'accepted': reg.status == 1 , 'rejected': reg.status == 2, 'auto-approve': reg.status == 3}" ng-change="updateStatus(reg)">
              <option value="0">未审核</option>
              <option value="1">通过</option>
              <option value="2">拒绝</option>
              <option value="3">自动通过</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="paginate">
      <uib-pagination total-items="data.registerUsers.length" ng-model="data.curPage" items-per-page="data.perPage" max-size="6" class="pagination pagination-success" force-ellipses="true" previous-text="&lt;" next-text="&gt;" first-text="&laquo;" last-text="&raquo;">
      </uib-pagination>
    </div>
  </div>
  <div class="inbox-side-bar">
    <div class="list-group">
      <a href="#" class="list-group-item" ng-click="filterCondition=-1">全部用户（{{ data.registerUsers.length }}）</a>
      <a href="#" class="list-group-item" ng-click="filterCondition=1">通过（{{ (data.registerUsers|filter:{status: 1}).length }}）</a>
      <a href="#" class="list-group-item" ng-click="filterCondition=3">自动通过（{{ (data.registerUsers|filter:{status: 3}).length }}）</a>
      <a href="#" class="list-group-item" ng-click="filterCondition=0">未审核（{{ (data.registerUsers|filter:{status: 0}).length }}）</a>
      <a href="#" class="list-group-item" ng-click="filterCondition=2">拒绝（{{ (data.registerUsers|filter:{status: 2}).length }}）</a>
    </div>
  </div>
</div>
