.oh-main {
  background-color: #f6f6f6;
}

.bg-banner {
  background: url("/static/images/banner.png");
  background-position: center -85px;
  background-color: #f1f1f1;
  background-repeat: no-repeat;
  height: 340px;
  overflow: hidden;
}

.bg-banner .jumbotron {
  background: rgba(0, 0, 0, 0.5) no-repeat 50% 50%;
  background-size: cover;
  height: 340px;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  padding-top: 69px;
}

.bg-banner .jumbotron h1 {
  font-size: 20px;
  margin-bottom: 25px;
}

.bg-banner .jumbotron h1 span {
  color: #7dba43;
}

.bg-banner .jumbotron p {
  font-size: 16px;
}

.left_nav {
  float: left;
  width: 110px;
  z-index: 2;
  position: relative;
}

.def-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.def-nav li {
  border-right: 2px solid transparent;
  padding: 5px 0;
}

.def-nav li.active {
  border-color: #7dba43
}

.def-nav li a:hover,
.def-nav li a:focus,
.def-nav li.active a {
  color: #7dba43;
}

.about-main {
  position: relative;
  min-height: 300px;
  padding: 8px 0px;
  color: #505050;
}

.about-main h2 {
  margin-top: 0;
  color:#7dba43;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-left {
  text-align: left!important;
}

.market {
  position: relative;
  cursor: pointer;
  border: 1px solid #DDD;
  margin-bottom: 15px;
  background: #fff;
  min-height: 200px;
}

.market .warp{
  height:200px;
  display:table-cell;
  vertical-align:middle;
}
.market img {
  width: 100%;
}

.market .title {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}

.market:hover .title {
  display: block;
}

.contact {
  list-style: none;
  padding: 0;
  margin: 0;
}

.jumbotron .contact li{
   width: 80px;
   height: 80px;
   display: inline-block;
   color: #fff;
   line-height:80px;
   background-color: #019D49;
   text-align: center;
   border-radius: 50%;
   margin:0 20px;
   position:relative;
}
.jumbotron .contact li:before{
  position:absolute;
  right: -25px;
  font-size: 20px;
  font-family: FontAwesome;
  content: '\f105';
}
.jumbotron .contact li:last-child:before{
  display:none;
}
.contact li {
  margin-right: 30px;
  width: 100px;
  text-align: center;
  vertical-align: text-top;
  display: inline-block;
}

.contact li .pic {
  width: 50px;
  height: 50px;
  display: inline-block;
  color: #fff;
  font-size: 30px;
  line-height: 50px;
  background-color: #A8A9AD;
  text-align: center;
  border-radius: 50%;
}
.contact li.wechat .pic{

  background-color: #3AB54A;
}
.contact li.weibo .pic{

  background-color: #F05A27;
}
.contact li.email .pic{

  background-color: #27AAE2;
}
.contact li p{
  margin-top:10px;
  margin-bottom:0;
}
.d-ul{
  margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
}
.d-ul li {
    position: relative;
    padding-left: 15px;
}
.d-ul li:before {
    position: absolute;
    color: #7dba43;
    content: '●';
    left: 0px;
    font-size: 12px;
}