.carousel-inner > .item {
    height: 550px;
}

.carousel-indicators li {
    border-width: 2px;
    margin: 2px 25px 2px 2px;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: #fff;
}

.carousel-indicators li.active {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin: 0 24px 0 0;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
}



.oh-feature {
    padding: 50px 15px;
}

.oh-feature-header {
    margin-bottom: 28px;
}

.oh-feature-header h2 {
    font-size: 22px;
    font-weight: inherit;
    float: left;
    margin: 0;
    line-height: normal;
}

.oh-feature-header .oh-feature-tabs {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.oh-feature-header .oh-feature-tabs li {
    float: left;
    padding: 8px 12px;
    border-bottom: 3px solid transparent;
}

.oh-feature-header .oh-feature-tabs li a {
    color: #505050;
}

.oh-feature-header .oh-feature-tabs li.active {
    border-color: #21b1de;
}

.oh-feature-header .oh-feature-tabs li a:hover,
.oh-feature-header .oh-feature-tabs li.active a {
    color: #21b1de;
    text-decoration: none;
}

.oh-feature-header .more {
    float: right;
    color: #969696;
}

.oh-feature-header .more:hover {
    color: #21b1de;
    text-decoration: none;
}

.oh-activity .oh-item {
    position: relative;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    margin-bottom: 20px;
    height: 570px;
}

.oh-activity .tab-pane .row {
    margin: 0 -20px;
}

.oh-activity .col-lg-4,
.oh-activity .col-md-4 {
    padding: 0 20px;
}

.oh-activity .oh-header {
    position: relative;
    height: 350px;
    overflow: hidden;
}

.oh-activity .oh-header .hackathon-thumb {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.oh-activity .oh-header .oh-flag {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    padding: 8px 20px;
    background-color: #ea005e \9;
    background-color: rgba(234, 0, 94, .9);
}

.oh-activity .oh-header .oh-collect {
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 4px 7px;
    display: block;
    background-color: #f58b31;
}

.oh-activity .oh-header .oh-collect span {
    display: none;
    color: #fff;
    margin: 0 6px;
}

.oh-activity .oh-header .oh-collect:active,
.oh-activity .oh-header .oh-collect:hover {
    width: auto;
}

.oh-activity .oh-header .oh-collect:active {
    opacity: 0.9;
}

.oh-activity .oh-header .oh-collect:active span,
.oh-activity .oh-header .oh-collect:hover span {
    display: inline-block;
}

.oh-activity .oh-header .oh-collect.active img {
    -moz-transForm: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.oh-activity .oh-header:hover .oh-collect {
    display: block;
}

.oh-activity .oh-body {
    background-color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px 20px 14px 20px;
    border-top: 1px solid #d2d2d2;
}

.oh-activity .oh-body h3 {
    font-size: 16px;
    margin: 0 0 12px;
}

.oh-activity .oh-body .oh-tags {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 0;
}

.oh-activity .oh-body .oh-tags li {
    font-size: 12px;
    display: inline-block;
    margin-right: 5px;
}

.oh-activity .oh-body .oh-tags li a {
    color: #1172c6;
}

.oh-activity .oh-body .oh-desc {
    max-height: 0;
    overflow: hidden;
    font-size: 12px;
    color: #969696;
    -moz-transition: all 1s cubic-bezier(0, 1, 0.5, 1);
    -o-transition: all 1s cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition: all 1s cubic-bezier(0, 1, 0.5, 1);
    transition: all 1s cubic-bezier(0, 1, 0.5, 1);
}

.oh-activity .oh-body .oh-time {
    color: #969696;
    margin-bottom: 12px;
}

.oh-activity .oh-body .oh-time {
    text-align: left;
}

.oh-activity .oh-body .oh-time div {
    display: inline-block;
}

.oh-activity .oh-body .oh-time div:last-child {
    text-align: right;
    float: right;
}

.oh-activity .oh-body .oh-progressbar {
    margin: 0 -20px 14px;
    height: 3px;
    overflow: hidden;
    background-color: #eee;
}

.oh-activity .oh-body .oh-progressbar span {
    background-color: #21b1de;
    display: block;
    width: 0;
    height: 100%;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.oh-activity .oh-body table {
    width: 100%;
    color: #505050;
}

.oh-activity .oh-body table td div {
    display: inline-block;
    text-align: left;
}

.oh-activity .oh-body table td span {
    color: #969696;
    display: block;
    font-size: 12px;
}

.oh-activity .oh-body hr {
    margin: 14px 0 12px 0;
}

.oh-activity .oh-body .oh-org {
    min-height: 31px;
}

.oh-activity .oh-body .oh-org a {
    position: relative;
    width: 52px;
    height: 26px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
}

.oh-activity .oh-body .oh-org a img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.oh-activity .oh-item:hover .oh-header .hackathon-thumb {
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.oh-activity .oh-item:hover .oh-body .oh-desc {
    max-height: inherit;

}

.oh-def-link,
.oh-def-link:hover {
    color: #1172c6 !important;
    text-decoration: underline !important;
}

.oh-process {
    background: url('/static/pic/process-bg.png') no-repeat 50% 50% / cover;
    min-height: 355px;
    padding-bottom: 28px;
}

.oh-process .oh-wrap {
    margin: 20px 0 40px;
}

.oh-process .oh-title {
    color: #fff;
    margin: 40px 0 48px;
    font-size: 20px;
}

.oh-process .oh-item {
    position: relative;
}

.oh-process .oh-item:before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url('/static/pic/chevron-right-icon.png') no-repeat center right;
    -moz-transForm: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);

}