.carousel-inner > .item {
    height: 500px;
}
.banner{
    padding-top:20px;
}
.carousel {
    position:relative;
}
.carousel-control span{
    width: 57px!important;
    height:57px!important;
    background-color:#fff;
    border-radius:50%;
    font-size: 28px!important;
    line-height: 57px;
    color: #7dba41;
    text-shadow: none;
}
.carousel-left{
    width: 884px;
    float: left;
}
.carousel-right{
    margin-left: 900px;
}
.carousel-right .item:hover:before{
    background-color: transparent;
}
.carousel-right .item:before{
    position:absolute;
    content:'';
    left:0;
    right:0;
    bottom:0;
    top:0;
    z-index:2;
    background-color: rgba(0,0,0,0.7);
}
.carousel-right .item.active:before{
    background-color: transparent;
    border: 3px solid #7dba41;
}
.carousel-right .item{
    position:relative;
    height: 156px;
    margin-bottom: 16px;
    cursor: pointer;
}
.carousel-indicators {
    width: auto;
    margin: 0;
    text-align:right;
    left: 0;
    right: 40px;
}
.carousel-indicators li {
    border-width: 2px;
    margin: 2px 0px 2px 0px;
    width: 21px;
    height: 4px;
    border-radius: 0;
    background-color: #fff;
    border: none;
}

.carousel-indicators li.active {
    width: 21px;
    height: 4px;
    border-radius: 0;
    margin: 2px 0 2px 0;
    background-color: #7dba41;
}

.oh-notice {
    position: relative;
}

.oh-notice .btn-group {
    position: absolute;
    right: 15px;
    top: 9px;
}

.oh-notice .btn-default {
    color: #888;
}

.oh-notice .btn-default:hover {
    color: #7dba41;
    background-color: #fff;
    border-color: #7dba41;
}

.oh-notice .btn-group .btn {
    border-radius: 0px;
}

.oh-notice-title {
    display: inline-block;
    padding: 8px 0;
    float: left;
}

.oh-notice-list {
    list-style: none;
    padding: 0 0 0 15px;
    margin: 0;
    display: inline-block;
    overflow: hidden;
    height: 40px;
    vertical-align: middle;
}

.oh-notice-list li {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.oh-notice-list li span {
    margin-left: 20px;
}

.oh-notice-list li a {
    color: #888;
}

.oh-notice-list li a:hover {
    color: #888;
}

#info1 {
    background-image: url(/static/images/background.png);
    background-repeat: no-repeat;
    background-color: #f6f6f6;
    background-position: top center;
}

.oh-grey-bg {
    background-color: #f0f0f0;
}

.oh-feature {
    padding: 50px 15px;
}

.oh-feature-header {
}

.oh-feature-header h2 {
    font-size: 22px;
    font-weight: inherit;
    float: left;
    margin: 0 0 15px;
    line-height: normal;
}

.oh-feature-header .oh-feature-tabs {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 15px;
}

.oh-feature-header .oh-feature-tabs li {
    float: left;
    margin-right: 34px;
    position: relative;
}
.oh-feature-header .oh-feature-tabs li:before{
    position:absolute;
    bottom: -15px;
    content:'';
    left: 0;
    right: 0;
    z-index: 20;
    border-bottom: 2px solid transparent;
}
.oh-feature-header .oh-feature-tabs li a {
    color: #505050;
}

.oh-feature-header .oh-feature-tabs li.active:before {
    border-color: #7dba41;
}

.oh-feature-header .oh-feature-tabs li a:hover,
.oh-feature-header .oh-feature-tabs li.active a {
    color: #7dba41;
    text-decoration: none;
}

.oh-feature-header .more {
    float: right;
    color: #969696;
}

.oh-feature-header .more:hover {
    color: #21b1de;
    text-decoration: none;
}

.oh-activity .tab-pane {
    margin-left :-25px;
}
.oh-activity .oh-item {
    position: relative;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    margin-bottom: 25px;
    width: 280px;
    float: left;
    margin-left: 25px;
}

.oh-activity .tab-pane .row {
    margin: 0 -20px;
}

.oh-activity .col-lg-4,
.oh-activity .col-md-4 {
    padding: 0 12px;
}

.oh-activity .oh-header {
    position: relative;
    height: 178px;
    overflow: hidden;
}

.oh-activity .oh-header .hackathon-thumb {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.oh-activity .oh-header .oh-flag {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    padding: 8px 20px;
    background-color: #ea005e \9;
    background-color: rgba(234, 0, 94, .9);
}

.oh-activity .oh-header .oh-collect {
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 4px 7px;
    display: block;
    background-color: #f58b31;
}

.oh-activity .oh-header .oh-collect span {
    display: none;
    color: #fff;
    margin: 0 6px;
}

.oh-activity .oh-header .oh-collect:active,
.oh-activity .oh-header .oh-collect:hover {
    width: auto;
}

.oh-activity .oh-header .oh-collect:active {
    opacity: 0.9;
}

.oh-activity .oh-header .oh-collect:active span,
.oh-activity .oh-header .oh-collect:hover span {
    display: inline-block;
}

.oh-activity .oh-header .oh-collect.active img {
    -moz-transForm: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.oh-activity .oh-header:hover .oh-collect {
    display: block;
}

.oh-activity .oh-body {
    background-color: #fff;
    width: 100%;
    bottom: 0;
    padding: 10px 20px 10px 20px;
    border: none;
    border-top: 1px solid #d2d2d2;
}

.oh-activity .oh-body h3 {
    font-size: 16px;
    margin: 0 0 12px;
}

.oh-activity .oh-body .oh-tags {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
    font-size: 0;
    overflow: hidden;
    height: 34px;
}

.oh-activity .oh-body .oh-tags li {
    font-size: 12px;
    display: inline-block;
    margin-right: 5px;
}

.oh-activity .oh-body .oh-tags li a {
    color: #7dba41;
}

.oh-activity .oh-body .oh-desc {
    max-height: 0;
    overflow: hidden;
    font-size: 12px;
    color: #969696;
    margin-bottom: 0;
    -moz-transition: all 1s cubic-bezier(0, 1, 0.5, 1);
    -o-transition: all 1s cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition: all 1s cubic-bezier(0, 1, 0.5, 1);
    transition: all 1s cubic-bezier(0, 1, 0.5, 1);
}

.oh-activity .oh-body .oh-time {
    color: #969696;
    margin-bottom: 12px;
}

.oh-activity .oh-body .oh-time {
    text-align: left;
}

.oh-activity .oh-body .oh-time div {
    display: inline-block;
}

.oh-activity .oh-body .oh-time div:last-child {
    text-align: right;
    float: right;
}

.oh-activity .oh-body .oh-progressbar {
    margin: 0 -20px 5px;
    height: 3px;
    overflow: hidden;
    background-color: #eee;
}

.oh-activity .oh-body .oh-progressbar span {
    background-color: #7dba41;
    display: block;
    width: 0;
    height: 100%;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.oh-activity .oh-footer{

background-color: #f1f1f2;

border-top: 1px solid #d0d3d2;

padding: 5px 20px;
}
.oh-activity .oh-footer table {
    width: 100%;
    color: #505050;
}

.oh-activity .oh-footer table td div {
    display: inline-block;
    text-align: left;
}

.oh-activity .oh-footer table td span {
    color: #969696;
    font-size: 12px;
}

.oh-activity .oh-body hr {
    margin: 14px 0 12px 0;
}

.oh-activity .oh-body .oh-org {
    min-height: 31px;
}

.oh-activity .oh-body .oh-org a {
    position: relative;
    width: 52px;
    height: 26px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
}

.oh-activity .oh-body .oh-org a img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.oh-activity .oh-item:hover .oh-header .hackathon-thumb {
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.oh-activity .oh-item:hover .oh-body .oh-desc {
    /* max-height: inherit; */
}

.oh-def-link,
.oh-def-link:hover {
    color: #1172c6 !important;
    text-decoration: underline !important;
}

.oh-process {
    background: url('/static/pic/process-bg.png') no-repeat 50% 50% / cover;
    min-height: 355px;
    padding-bottom: 28px;
}

.oh-process .oh-wrap {
    margin: 20px 0 40px;
}

.oh-process .oh-title {
    color: #fff;
    margin: 40px 0 48px;
    font-size: 20px;
}

.oh-process .oh-item {
    position: relative;
}

.oh-process .oh-item:before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url('/static/pic/chevron-right-icon.png') no-repeat center right;
    -moz-transForm: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);

}

.btn-help {
    position: relative;
    padding: 10px 25px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
}

.btn-help span {
    display: none
}

.btn-help:focus,
.btn-help:hover {
    color: #fff;
    border-color: transparent;
    background-color: rgba(33, 177, 222, .5);
}

.btn-help:focus span,
.btn-help:hover span {
    display: inline;
}

.oh-process .btn-help {
    width: 130px;
}

.oh-events {
}

.oh-events .oh-tabs {
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.oh-events .oh-tabs li {
    position: relative;

    vertical-align: middle;
}

.oh-events .oh-tabs li:before {
    display: none;
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    margin-top: -20px;
    border-width: 20px 20px 20px 0;
    border-color: transparent;
    border-right-color: #fff;
    border-style: solid;
}

.oh-events .oh-tabs li.active {
    background-color: #02bcf2;
    height: 145px;
}

.oh-events .oh-tabs li.active:before {
    display: block;
}

.oh-events .oh-tabs li a {
    display: block;
    padding: 24px 0 24px 20px;
    white-space: nowrap;
}

.oh-events .oh-tabs li.active a {
    color: #fff;
    padding: 35px 20px 0 20px;
}

.oh-events .oh-tabs li .oh-org {
    display: none;
    margin-top: 15px;
}

.oh-events .oh-tabs li.active .oh-org {
    display: block;
    font-size: 12px;
}

.oh-events .oh-tabs li.active .oh-org img {
    width: 50px;
    margin-right: 10px;
}

.oh-events .tab-content > .tab-pane {
    color: #969696;
}

.oh-events .oh-title {
    font-size: 16px;
    color: #505050;
}

.oh-events .oh-desc .oh-count {
    margin-bottom: 10px;
}

.oh-events .oh-desc .oh-count div {
    display: inline-block;
    font-size: 14px;
}

.oh-events .oh-desc .oh-count div span {
    font-size: 16px;
    color: #21b1de;
}

.oh-events .oh-desc .oh-count div:first-child {
    margin-right: 10px;
}

.oh-events .oh-desc .oh-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.oh-events .oh-desc .oh-list li {
    width: 25%;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.oh-events .oh-desc .oh-list li img {
    width: 48px;
    margin-bottom: 5px;
}

.oh-events .oh-show .oh-thumbnail {
    padding: 15px 20px 0 0;
}


@media (max-width: 1200px) {
    .oh-activity .oh-item {
        height: 424px;
    }

    .oh-activity .oh-item .oh-header {
        height: 180px;
    }
}

@media (max-width: 991px) {
    .oh-process .oh-item {
        padding-bottom: 88px;
    }

    .oh-process .oh-item:before {
        width: 20px;
        top: auto;
        height: 40px;
        left: 50%;
        bottom: 20px;
        margin-left: -10px;
        background: url('/static/pic/chevron-right-icon.png') no-repeat bottom center;
        -moz-transForm: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .oh-activity .oh-item {
        height: 644px;
    }

    .oh-activity .oh-item .oh-header {
        height: 400px;
    }

    .oh-events .oh-tabs {
        display: none;
    }

    .oh-events {
        border: none;
    }

    .oh-events .tab-pane {
        display: block;
        padding-bottom: 20px;
        border: 1px solid #f0f0f0;
        margin-top: 20px;
    }

    .oh-events .tab-pane:first-child {
        margin-top: 0;
    }
}

.oh-users {

border-top: 2px solid #d0d3d3;

border-bottom: 2px solid #d0d3d3;

padding: 30px 0;

color: #888;
}

.oh-users .oh-item {
}
.oh-users .oh-item .media-left{
    position:relative;

}
.oh-users .oh-item .media-left a {
    overflow:hidden;
    position: relative;
    display:block;
    width: 71px;
    height:71px;
}

.oh-users .oh-item a:hover {
    color: #7dba41;
    text-decoration: none;
}

.oh-users .oh-item .media-left a:hover img {
    width: 120%;
    top: -10%;
    left: -10%;
}


.oh-users .oh-header {
    position: relative;
    overflow: hidden;
    width: 96px;
    height: 96px;
    display: inline-block;
    margin-bottom: 10px;
}

.oh-users .oh-item .media-left a img {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.oh-users .oh-body {
    position: relative;
    text-align: left;
    color: #969696;
    border: 0;
}

.oh-users .oh-signature {
    display: none;
    overflow: hidden;
    max-height: 39px;
    font-size: 12px;
}

.oh-users .oh-count {
    text-align: left;
}

.oh-users .oh-count div {
    display: inline-block;
    font-size: 12px;
}

.oh-users .oh-count div:last-child {
    text-align: right;
    float: right;
}

.oh-users .oh-count span {
    font-size: 14px;
}

.oh-organizers {margin-left: -20px;}

.oh-organizers .oh-item {
    height: 180px;
    width: 180px;
    float: left;
    margin-left: 20px;
    margin-bottom: 30px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.oh-organizers .oh-body {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    text-align: center;
}
.oh-organizers .oh-body p{
    display: table;
    vertical-align:middle;
    text-align:center;
    width:100%;
    height:100%;
    font-size: 20px;
}
.oh-organizers .oh-item:hover .oh-body {
    display: block;
}


.oh-organizers a {
    color: #fff;
    vertical-align: middle;
    display: table-cell;
}

.oh-organizers a:focus,
.oh-organizers a:hover {
    color: #fff;
    text-decoration: none;
}

.oh-organizers .oh-count {
    font-size: 12px;
    color: #969696;
    text-align: left;
}

.oh-organizers .oh-count div {
    display: inline-block;
}

.oh-organizers .oh-count div:last-child {
    text-align: right;
    float: right;
}

.oh-organizers .oh-count span {
    color: #21b1d3;
    font-size: 15px;
}

/*------------------------------*/

.hackathon-item {
    position: relative;
    padding-top: 56.25%;
    text-align: left;
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 30px;
}

.hackathon-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition-property: width, top, left;
    transition-duration: 0.2s;
    -webkit-animation-name: tile-hover-out;
    animation-name: tile-hover-out;
    z-index: auto;
}

.hackathon-inner:hover {
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    transition-property: width, top, left;
    transition-duration: 0.2s;
    -webkit-animation-name: tile-hover-out;
    animation-name: tile-hover-out;
    -webkit-animation-duration: 200ms;
    animation-duration: 200ms;
    z-index: 100000;
}

.hackathon-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    text-decoration: none;
}

.hackathon-inner:hover .hackathon-content {
    box-shadow: rgba(30, 30, 30, 0.8) 0 0 30px;
}

.hackathon-thumb {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.hackathon-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s ease-out;
    background-image: linear-gradient(to bottom, transparent 20%, #000);
}

.hackathon-inner:hover .hackathon-overlay {
    height: 200%;
    top: -100%;
}

.hackathon-info {
    position: absolute;
    font-size: 15px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
    color: #FFF;
    width: 100%;
    padding: 10px;
    bottom: 0;
    left: 0;
    transition: min-height 200ms ease-out;
    filter: alpha(Opacity=100);
    opacity: 1;
}

.hackathon-inner:hover .hackathon-info {
    top: 0;
    bottom: auto;
    min-height: 100%;
}

.hackathon-details {
    display: none;
    text-shadow: none;
}

.hackathon-inner:hover .hackathon-details {
    -webkit-animation-name: tile-supplementary-deco-in;
    animation-name: tile-supplementary-deco-in;
    filter: alpha(enabled=false);
    opacity: 1;
    -webkit-animation-duration: 400ms;
    animation-duration: 400ms;
    display: block;
}

.hackathon-name {
    margin: 10px 0;
    font-size: 24px;
}

.hackathon-description {
    color: #aaa;
}

.ob-feature-left {
    float: left;
    width: 200px;
}

.ob-feature-right {
    margin-left: 230px;
}

.feature-tab {
    padding-top: 25px;
    border-top: 2px solid #d0d3d3;
}
.oh-events .tab-pane{
   margin-left:-25px;
}
.oh-events .item {
    position: relative;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    margin-bottom: 25px;
    height: 326px;
    width: 280px;
    float: left;
    margin-left: 25px;
}

.oh-events .item .header {
    height:178px;
    width: 278px;
    border-bottom:1px solid #d0d3d2;
    overflow: hidden;
}

.oh-events .item .body {
   padding:5px 20px;
   height: 115px;
   overflow:hidden;
}
.oh-events .item .body p{
    margin-bottom:5px;
}
.oh-events .item .body .desc{
    border-top:1px solid #d0d3d2;
    font-size:12px;
    padding: 5px 0;
    color: #818182;
    height: 42px;
    overflow: hidden;
}
.oh-events .item .body h4{
    margin: 5px 0;
    font-size: 15px;
    min-height: 25px;
}
.oh-events .item .footer{
     padding: 5px 20px 5px 5px;
     background-color:#f1f1f2;
     border-top: 1px solid #d0d3d2;
}
.oh-events .item .footer p{
    margin:0;
}
.oh-events .item .footer a{
    margin-left:15px;
    color:#019e48;
}
.oh-events .item .footer a:hover,
.oh-events .item .footer a:focus{
    color:#7dba41;
}

.organizer_left{
    width: 780px;
    float: left;
}
.organizer_left .ob-feature-body {

border-top: 2px solid #d0d3d3;

border-bottom: 2px solid #d0d3d3;

overflow: hidden;

padding: 30px 0 5px;
}
.users_right {
    margin-left: 815px;
    overflow: hidden;
}