@import "font-awesome.min.css";
@import "oh.button.css";
html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, stheiti, Microsoft Yahei, Simsun, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #151516;
  background-color: #f4f7f7;
  /* overflow: hidden; */
}

#wrapper {
  min-height: 100%;
  position: relative;
}

.header .navbar {
  min-height: 70px;
  background-color: #151516;
  border: none;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
}

.header .brand {
  padding: 0 25px 0 15px;
  height: 70px;
}

.header .brand .logo {
  width: 70px;
  height: 70px;
}

.header .navbar-nav > li > a {
  color: #fff;
}

.header .navbar-inverse .navbar-nav > li > a:hover,
.header .navbar-inverse .navbar-nav > li > a:focus,
.header .navbar-inverse .navbar-nav > .active > a,
.header .navbar-inverse .navbar-nav > .active > a:hover,
.header .navbar-inverse .navbar-nav > .active > a:focus {
  color: #7dba41;
  background-color: transparent;
}

.main-body {
  position: relative;
  margin-top: 70px;
}

.main-body-grid {
  margin: 0 -15px;
}

.main-body-grid > .grid-left {
  position: fixed;
  top: 70px;
  width: 230px;
  left: 0;
  bottom: 0;
  overflow: auto;
  color: #d1d3d4;
  background-color: #505050;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
}

.main-body-grid > .grid-right {
  margin-left: 230px;
  position: relative;
  padding: 40px 45px;
}

.side-navigation .person {
  padding: 24px 10px 24px 38px;
  overflow: hidden;
}

.side-navigation .person .person-pic {
  border: 2px solid #fff;
  width: 62px;
  height: 62px;
  overflow: hidden;
  margin-right: 12px;
  float: left;
}

.side-navigation .person .person-pic img {
  width: 100%
}

.side-navigation>.nav>li {
  margin-bottom: 15px;
}

.side-navigation .nav h3 {
  margin: 0;
  padding: 14px 0 10px 38px;
  font-size: 14px;
  line-height: 20px;
  border-top: 1px solid #a7a9ac;
}

.side-navigation .nav > li > a {
  color: #fff;
  padding-left: 48px;
}

.side-navigation .nav > li > a i {
  margin-right: 10px;
  width: 15px;
}

.side-navigation .nav > li > a:hover,
.side-navigation .nav > li > a:focus,
.side-navigation .nav > li.active > a {
  color: #fff;
  background-color: #019e48;
}

@media (min-width: 768px) {
  .header .navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .main-body-grid > .grid-left {
    position: static!important;
    display: block;
    float: none;
    margin-left: -1em;
    margin-right: -1em;
    padding: 1em;
    width: auto!important;
    overflow: visible;
  }
}

.tips {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 210;
}

.tips .tip {
  text-align: center;
  padding: 15px 0;
  color: #fff;
  background-color: rgba(238, 238, 238, 0.8);
  -webkit-transition: all 5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
  margin-top: -50px;
  opacity: 0
}

.tips .tip.show {
  opacity: 1;
  margin-top: 0px;
}

.tips .tip-primary {
  background-color: rgba(125, 186, 67, 0.8);
}

.tips .tip-success {
  background-color: rgba(2, 157, 73, 0.8);
}

.tips .tip-info {
  background-color: rgba(0, 164, 238, 0.8);
}

.tips .tip-warning {
  background-color: rgba(255, 184, 0, 0.8);
  color: #222;
}

.tips .tip-danger {
  background-color: rgba(241, 80, 33, 0.8);
  ;
}

.top-navigation {
  margin-bottom: 17px;
  color: #929497;
}

.activity-list {
  margin-left: -17px;
}

.activity-list .item {
  width: 300px;
  margin-left: 17px;
  float: left;
  border: 1px solid #d0d2d3;
  margin-bottom: 38px;
}

.activity-list .item header {
  height: 168px;
  position: relative;
  overflow: hidden;
}

.activity-list .item header img {}

.activity-list .item header span {
  position: absolute;
  display: block;
  padding: 10px 15px;
  background: rgba(30, 29, 33, 0.5);
  width: 100%;
  color: #fff;
  bottom: 0px;
}

.activity-list .item header a {
  position: absolute;
  z-index: 2;
  right: 16px;
  top: 16px;
  border-radius: 0;
  padding: 2px 10px;
}

.loading img {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -44px;
  z-index: 2000;
}
