.container {
    width: auto !important;
}
html{
  height: 100%;
}
body {
  min-height: 100%;
}

footer {
    position: fixed;
    display:none;
    bottom: 0;
    left: 0;
    right: 0;
}

.hackathon .hackathon-nav {
    position: fixed;
    width: 200px;
    left: 0px;
    bottom: 0;
    top: 77px;
    color: #fff;
    background: #1F2327;
    word-wrap: break-word;
    word-break: normal;
    overflow-y: auto;
    z-index: 10;
    border-right: solid 2px #aaa;
}

.hackathon .work-fluid {
    position: absolute;
    padding: 0;
    top: 77px;
    bottom: 0px;
    left: 200px;
    right: 0;
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: #fff;
}

.hackathon .hackathon-nav .row {
    margin: 0;
}

.hackathon .vm-box {
    display: inline-block;
    height: 100px;
    width: 100px;
    background: #525252;
    vertical-align: middle;
    padding: 10px;
    margin-top: 20px;
    position: relative;
}

.hackathon .vm-box:hover, .hackathon .vm-box.active {
    background: #00abec;
}

.hackathon .vm-box img {
    height: 100%;
}

.hackathon .center {
    position: relative;
    /* display: table; */
    width: 100%;
    height: 100%;
    overflow: auto;
}

.hackathon .center iframe {
    position: absolute;
    top: 0;
}

.hackathon #stat span {
    color: #00abec;
}

.hackathon .center iframe.work-full {
    position: fixed;
    top: 0;
    z-index: 999999;
    left: 0;
}

.hackathon .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #00abec;
}

.hackathon .tooltip-inner {
    background-color: #00abec;
}

.hackathon .tooltip.bottom {
    margin-top: -5px;
    -webkit-filter: inherit;
    filter: inherit;
    opacity: inherit;
}

.hackathon iframe {
    background-color: #fff;
}

.smallscreen {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999999;
    width: 30px;
    height: 30px;
    background: #00abec;
}

.smallscreen a {
    color: #fff;
    font-size: 30px;
}

.smallscreen a:hover {
    text-decoration: none;
}
.oh-flow-chart{
    display:none;
}

.navbar{
   min-height: 40px;
}
.navbar-brand{
    height:30px;
}
.header-nav a.btn{
    margin:0;
}
.navbar-nav > li > a{
    padding-top: 5px;
    padding-bottom: 5px;
    line-height:25px;
}
