<work-small></work-small>
<nav id="ohp_header" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="index"> 开放黑客松</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a work-full title="全屏" href="javascript:;">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span> 全屏
          </a>
        </li>
      </ul>
      <headdropdown-menu></headdropdown-menu>
      <ul class="nav navbar-nav navbar-right">
        <li end-countdown></li>
        <li class="dropdown" dropdown>
          <a type="button" class="btn" dropdown-toggle role="button">
            团队 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu team" role="menu">
            <li>
              <span class="dropdown-menu-title">团队名称：{{teamname}}</span>
            </li>
            <li ng-repeat="team in team">
              <a href="{{team.user.user_profile.skype | skypelink}}">
                <div class="avatar"><img src="{{team.user.avatar_url}}" alt="Avatar"></div>
                <span class="header">{{team.user.name}}</span>
                <img src="/images/skype.png" ng-if="team.user.user_profile.skype.length>0"></a>
            </li>
            <li>
              <span class="dropdown-menu-title" style="height: 22px;"></span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
