<div class="error-container" style="display:block">
  <div class="error-body">
    <div class="header">
      <div class="error">
        <span class="code"></span>
        <span class="message" style="font-size:36pt;">正在排队请稍后再试！</span>
      </div>
    </div>
    <div class="more-details">
      <div class="error-info">
        <div class="more-info form-group" style="font-size:24pt">
        </div>
        <div class="text-center">
          <a ui-sref="index" ng-click="stopCountdown()" class="btn btn-lg btn-info">返回首页</a>
        </div>
      </div>
    </div>
  </div>
</div>
