<div id="main">
  <div class="container text-center">
    <div class="page-header">
      <h1>开放黑客松登陆</h1>
    </div>
    <div class="row">
      <h3 class="col-md-offset-3 col-md-6">
        预览面向开源社成员和部分公众开放，如果您感兴趣但未能成功注册登录，请联系我们
        <a href="mailto:msopentechdevsh@microsoft.com">msopentechdevsh@microsoft.com</a>
      </h3>
    </div>
    <br/>

    <a class="btn btn-success" role="button" ng-click="githublogin()" title="GitHub login">
      <img src="/images/github_32x32.png">
      <span>GitHub</span>
    </a>

    <a class="btn btn-success" role="button" ng-click="gitcafelogin()" title="GitCafe login">
      <img src="/images/gitcafe.login.jpg">
      <span>GitCafe</span>
    </a>

    <a class="btn" role="button" ng-click="weibologin()" title="Weibo login">
      <img src="/images/weibo_173x32.png">
    </a>

    <a class="btn" role="button" ng-click="qqlogin()" title="QQ login">
      <img src="/images/Connect_logo_4.png">
    </a>

    <a class="btn" role="button" ng-click="livelogin()" title="Micrsoft Account login">
      <img src="/images/microsoft_logo.png">
      <span>Microsoft 账户</span>
    </a>

    <div class="organizers">
      <div class="row ">
        <div class="col-md-offset-4 col-md-4">
          <img src="/images/kaiyuanshe.jpg">
        </div>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-md-12">
        <b>建议使用环境：支持HTML5的浏览器(IE 10+,Chrome,Firefox,Safari)，请尽量使用分辨率较高的宽幅显示。</b>
      </div>
    </div>
  </div>
</div>
