<div class="background_branding_container">
  <img class="background_image" alt="" src="/images/login.png" width="100%" oh-resizebgimage>
</div>
<div class="login_panel">
  <div class="login_panel_center">
    <div class="inner_container ">
      <div class="login_workload_logo_container">
       <span class="fa fa-windows"></span> Microsoft Open Technology Center
      </div>
      <div class="login-box">
        <p>
          <a class="btn btn-github" ng-click="githublogin()"><span>github 登录</span></a>
        </p>
      </div>
    </div>
  </div>
</div>
