<div id="main">
  <div class="container">
    <div class="page-header">
      <h1>Open XML SDK 在线编程黑客松</h1>
    </div>

    <a class="btn btn-lg btn-success" href="" role="button" ng-click="githublogin()" title="login">
      <img src="/images/gitcafe.login.jpg">
      <span>GitHub</span>
    </a>

    <a class="btn btn-lg btn-success" href="" role="button" ng-click="qqlogin()" title="login">
      <img src="/images/gitcafe.login.jpg">
      <span>QQ</span>
    </a>

    <a class="btn btn-lg btn-success" href="" role="button" ng-click="gitcafelogin()" title="login">
      <img src="/images/gitcafe.login.jpg">
      <span>GitCafe</span>
    </a>

    <div class="organizers">
      <div class="row ">
        <div class="col-md-4">
          <img src="/images/jkxy.png">
        </div>
        <div class="col-md-4 gitcafe">
          <img src="/images/gitcafe.png">
        </div>
        <div class="col-md-4">
          <img src="/images/kaiyuanshe.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img src="/images/MSOpenTech_Logo_NoTagline_fit.jpg" style="width: 400px;height: auto;">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <b>建议使用环境：支持HTML5的浏览器(IE 10+,Chrome,Firefox,Safari)，请尽量使用分辨率较高的宽幅显示。</b>
      </div>
    </div>
  </div>
</div>
