<div id="main">
  <div class="container text-center" ng-if="isLoad" style="min-height: 400px;padding-top: 100px;">
    <img src="/images/spinner-lg.gif">
  </div>
  <div class="container" ng-if="!isLoad">
    <div class="row jumbotron">
      <div class="col-md-5">
        <div class="row">
          <carousel interval="myInterval">
            <slide ng-repeat="banner in (hackathon.basic_info.banners | split : ';')" active="slide.active">
              <img ng-src="{{banner}}" style="margin:auto;">
            </slide>
          </carousel>
        </div>
      </div>
      <div class="col-md-7">
        <h2 class="reg-h-name">{{hackathon.display_name}}</h2>

        <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{hackathon.event_start_time | date :
          'yyyy年MM月dd日 HH:mm'}} ～ {{hackathon.event_end_time | date : 'yyyy年MM月dd日 HH:mm'}}</p>

        <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{hackathon.basic_info.location}}</p>

        <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          限额人数{{hackathon.basic_info.max_enrollment}}人</p>

        <p>
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
          <a href="{{organizer.organizer_url}}" ng-repeat="organizer in hackathon.basic_info.organizers">{{organizer.organizer_name}}</a>
        </p>

        <div>
          <button class="btn btn-primary btn-lg" ng-click="showRegister()" ng-if="hackathon.isRegister">我要报名</button>
          <span ng-bind="hackathon.message"></span>

          <div>
            <a ng-click="goWork()" ng-if="hackathon.start" class="btn btn-primary ">立即参加</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <h2 class="line-title">活动内容</h2>

        <div ng-bind-html="hackathon.description | mkHTML"></div>
      </div>
      <div class="col-md-3">
        <h2 class="line-title">活动主办方..</h2>

        <div class="post" ng-repeat="organizer in hackathon.basic_info.organizers">
          <div class="thumb">
            <img src="{{organizer.organizer_image}}" width="100%">
          </div>
          <div class="body">
            <h3><a href="{{organizer.organizer_url}}">{{organizer.organizer_name}}</a></h3>

            <p>{{organizer.organizer_description}}</p>
          </div>
        </div>
        <h2 class="line-title">最近参与者..</h2>
        <ul class="users-list">
          <li>
            <a href="widgets.html#">
              <img class="avatar" alt="Lucas" src="assets/img/avatar.jpg">
            </a>

            <div>
              <strong>Fendoe</strong>
            </div>
            <div class="date">4 minutes ago</div>
          </li>
          <li>
            <a href="widgets.html#">
              <img class="avatar" alt="Lucas" src="assets/img/avatar.jpg">
            </a>

            <div>
              <strong>Fendoe</strong>
            </div>
            <div class="date">4 minutes ago</div>
          </li>
        </ul>
        <h2 class="line-title">分享朋友圈.</h2>

        <div>
          <img src="{{dimensional}}"/>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
  <form name="registerForm" class="form-horizontal" ng-submit="submit()" novalidate>
    <div class="modal-header">
      <h3 class="modal-title">申请</h3>
    </div>
    <div class="modal-body">

      <div class="form-group"
           ng-class="{ 'has-error' : registerForm.team_name.$invalid && registerForm.team_name.$touched }">
        <label class="col-sm-3 control-label required">团队名称</label>

        <div class="col-sm-9">
          <!--typeahead="teamname for teamname in states | filter:$viewValue | limitTo:5"-->
          <input type="text" class="form-control" name="team_name" placeholder="团队名称"
                 typeahead="teamname for teamname in getTeamNames($viewValue)"
                 required=""
                 ng-model="register.team_name" required>

          <p ng-show="registerForm.team_name.$error.required && registerForm.team_name.$touched" class="help-block"  >
            团队名称必须填写</p>
        </div>
      </div>
      <div class="form-group"
           ng-class="{ 'has-error' : registerForm.code_hosting_address.$invalid && registerForm.code_hosting_address.$touched }">
        <label class="col-sm-3 control-label">代码托管地址</label>

        <div class="col-sm-9">
          <input type="url" class="form-control" name="code_hosting_address" placeholder="githubx项目地址"
                 ng-model="register.code_hosting_address">

          <p ng-show="registerForm.code_hosting_address.$touched && registerForm.code_hosting_address.$invalid" class="help-block">请输入正确的托管地址！</p>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="submit" ng-disabled="registerForm.$invalid">确定</button>
      <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
  </form>
</script>
