<div id="main">
  <div class="container">
    <div class="row  form-group">

      <div class="col-md-12 text-left ">
        <div class="page-header">
          <h1>请选择你所需要的环境</h1>
        </div>
        <div class="row form-group">
          <div class="col-md-6  text-center">
            <label class="radio-inline ">
              <img src="/images/terminal.icon.png" alt="Ubuntu Desktop" /> LAMP + UBUNTU
              <div class="iradio_square-blue" ng-class="{checked:type == 'ut'}" style="position: relative;">
                <input type="radio" name="web" value="ud" checked ng-model="type">
                <ins class="iCheck-helper"></ins>
              </div>
            </label>
            <div>
              <ul class="services-list">
                <li>Ubuntu</li>
                <li>Apache</li>
                <li>MySQL</li>
                <li>PHP</li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 text-center">
            <label class="radio-inline ">
              <img src="/images/ubuntu.icon.png" alt="Ubuntu Terminal" /> UBUNTU + GNOME
              <div class="iradio_square-blue" ng-class="{checked:type == 'ud'}" style="position: relative;">
                <input type="radio" name="web" value="ut" checked ng-model="type">
                <ins class="iCheck-helper"></ins>
              </div>
            </label>
            <div>
              <ul class="services-list">
                <li>Ubuntu</li>
                <li>GNome</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-12 text-center">
            <button type="button" class="btn btn-lg btn-primary" style="width:200px" ng-click="submit()">提交</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
