<div class="modal-header cursor-move " dragable>
  <h3 class="modal-title">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
  {{title}} </h3>
</div>
<div class="modal-body" ng-bind-html="body">
</div>
<div class="modal-footer">
  <button class="btn btn-success btn-sm" type="button" ng-click="ok()" translate="OK">OK</button>
  <button class="btn btn-default btn-sm" type="button" ng-click="cancel()" translate="CANCEL">CANCEL</button>
</div>
