{% extends "base.html" %} {% block meta %}
<!-- Metas -->
{% endblock %} {% block style %}
<!-- Styles-->
<link href="/static/css/testtemplate.css" rel="stylesheet">
{% endblock %} {% block head %}
<!-- Head -->
{% endblock %} {% block content %}

<div class="box">
    <div class="box-header">
        <h2><i class="fa fa-edit"></i>编辑黑客松</h2>
        <ul class="nav nav-tabs" id="tabs" data-type="tabs">
        </ul>
    </div>
    <div class="box-content relative" id="images">
        <div class="text-center"><img src="/static/pic/spinner-lg.gif"></div>
    </div>
</div>

{% endblock %} {% block script %}
<!-- Scripts -->
<script type="text/javascript" src="/static/js/views/oh.testtemplate.js"></script>
{% endblock %}