{% extends "commonRight.html" %}
    {% block second %}
    <script type="text/javascript" src="/static/js/course.js"></script>
    <script type="text/javascript" src="/static/js/third.js"></script>
    <link href="/static/css/course.css" rel="stylesheet">
    <link href="/static/css/color.css" rel="stylesheet">
    {% endblock %}
<!--
</head>
<body>
-->
<!--    <iframe src="head.html" width="100%" height="51px" class="navbar-fixed-top" style="border: 1px solid #000;"></iframe>-->
    {% block left %}
        <div class="left">
            <div class="left-title">工具栏</div>
            <ul>
                <li><a>Copy</a></li>
                <li><a>Paste</a></li>
                <li><a id="new-window" href="#" target="_blank">分离</a></li>
                <li><a>字+</a></li>
                <li><a>字-</a></li>
                <li><a>保存</a></li>
                <li><a>部署</a></li>
                <li><a id="third-leave">stop</a></li>
            </ul>    
        </div>
        
        <div class="center">
<!--
            <div class="top">
                <div style="overflow:hidden;">
                    <h3 name="hackathon-div" class="clickOn">黑客马拉松活动指南</h3>
                    <h3 name="jStormApi-div">jStorm官方文档</h3>
                </div>
                <div>
                    <div id="hackathon-div" style="width:100%;border:1px solid #888888;height:300px;display:block">
                       <iframe id = "hackathon" src="http://www.huodongxing.com/go/msopentech_cocos2dx_hackathon" width="100%" height="300" frameborder="yes"  marginwidth="10" marginheight="10" scrolling="yes"></iframe>
                   </div>
                   <div id="jStormApi-div" style="width:100%;border:1px solid #888888;height:300px;display:none">
                       <iframe id = "jStormApi" src="http://www.oschina.net/p/alibaba-jstorm" width="100%" height="300" frameborder="yes"  marginwidth="10" marginheight="10" scrolling="yes" security="restricted" sandbox=""></iframe>
                    </div>
                </div>
            </div>
-->
<!--            <div id="servers"><a class='server-name selected' title="ssh">ssh</a></div>-->         
            <div class="mid" style="overflow:hidden;">
                <ul >
                    <li name="iframe1"><div class="selected">JStorm</div></li>
                    <li name="iframe2"><div>JStorm API</div></li>
                    <li name="iframe3"><div>MyApp</div></li>
                    <li name="iframe4"><div>Dev</div></li>
                </ul>
            </div>    
                
            <div class="bottom">                
                <div id="iframe1" style="display:block">
                    <iframe id="course_vm1" src="/loading" width="100%" height="500px" class="" style="border: 1px solid #000;" frameborder="yes" marginwidth="10" scrolling="yes" onmouseover="setFocusThickboxIframe()" onmousemove = "setFocusThickboxIframe()" onmouseout = "setFocusThickboxIframe()" onfocus = "setFocusThickboxIframe()" onblur = "setFocusThickboxIframe()"></iframe>
                </div>
                <div id="iframe2" style="display:none">
                    <iframe id="course_vm2" src="/loading" width="100%" height="500px" class="" style="border: 1px solid #000;" frameborder="yes" marginwidth="10" scrolling="yes" onmouseover="setFocusThickboxIframe()" onmousemove = "setFocusThickboxIframe()" onmouseout = "setFocusThickboxIframe()" onfocus = "setFocusThickboxIframe()" onblur = "setFocusThickboxIframe()"></iframe>
                </div>
                <div id="iframe3" style="display:none">
                    <iframe id="course_vm3" src="/loading" width="100%" height="500px" class="" style="border: 1px solid #000;" frameborder="yes" marginwidth="10" scrolling="yes" onmouseover="setFocusThickboxIframe()" onmousemove = "setFocusThickboxIframe()" onmouseout = "setFocusThickboxIframe()" onfocus = "setFocusThickboxIframe()" onblur = "setFocusThickboxIframe()"></iframe>
                </div>
                <div id="iframe4" style="display:none">
                    <iframe id="course_vm4" src="/loading" width="100%" height="500px" class="" style="border: 1px solid #000;" frameborder="yes" marginwidth="10" scrolling="yes" onmouseover="setFocusThickboxIframe()" onmousemove = "setFocusThickboxIframe()" onmouseout = "setFocusThickboxIframe()" onfocus = "setFocusThickboxIframe()" onblur = "setFocusThickboxIframe()"></iframe>
                </div>
            </div>

            <div style="text-align:right;margin-right: 10px;padding: 10px">
               <button id="submit" name="submit" class="red" disabled="disabled">提交</button>
           </div>
        </div>
<!--    <iframe src="foot.html" width="100%" height="51px" class="navbar-fixed-buttom" style="border: 1px solid #000;"></iframe>-->
    {% endblock %}
<!--
</body>
</html>-->
