   {% extends "base.html" %}
   {% block content %}
    <link href="/static/css/hackathon.css" rel="stylesheet">
    <script type="text/javascript" src="/config.js"></script>
    {% block second %} {% endblock %}
    <style>
        
    </style>    
       <div class="main">
          {% block left %}{% endblock %}

           <div class="right">
                <div class="    statistics">
                    <div><h4>在线人数:5</h4></div>
                    <div><h4>报名人数:16</h4></div>
                    <div id="timer"></div>                  
                    <div style="margin-top:10px">
                        <img src="/static/pic/map.jpg" style="width:95%"/>
                    </div>
                    <div>
                       <div style="border-bottom:2px solid #E64025"><h3>参赛人员</h3></div>
                        <ul>
                            <li><img /><div class="circle online"></div><div class="userName">aa</div></li>
                            <li><img /><div class="circle online"></div><div class="userName">aa</div></li>
                            <li><img /><div class="circle success"></div><div class="userName">aa</div></li>
                            <li><img /><div class="circle online"></div><div class="userName">aa</div></li>
                            <li><img /><div class="circle"></div><div class="userName">aa</div></li>
                            <li><img /><div class="circle"></div><div class="userName">aa</div></li>
                            <li><img /><div class="circle"></div><div class="userName">aa</div></li>
                            <li><img /><div class="circle online"></div><div class="userName">aa</div></li>
                            <li><img /><div class="circle"></div><div class="userName">aa</div></li>
                            <li><img /><div class="circle success"></div><div class="userName">aa</div></li>
                            <li><img /><div class="circle online"></div><div class="userName">aa</div></li>
                            <li><img /><div class="circle"></div><div class="userName">aa</div></li>
                        </ul>
                    </div>
                </div>    
           </div>
       </div>
   {% endblock %}