   {% extends "base.html" %}
   {% block content %}
    <link href="/static/css/hackathon.css" rel="stylesheet">
    <script type="text/javascript" src="/config.js"></script>
    {% block second %} {% endblock %}
    <style>
        
    </style>    
       <div class="main">
          {% block left %}{% endblock %}

           <div class="right">
                <div class="statistics">
                    <div><h4><a href="http://www.huodongxing.com/go/msopentech_cocos2dx_hackathon">黑客马拉松活动指南</a></h4></div>
                    <div><h4><a href="http://www.oschina.net/p/alibaba-jstorm">jStorm官方文档</a></h4></div>
                    <div><h4>在线人数:5</h4></div>
                    <div><h4>报名人数:16</h4></div>
                    <div id="timer"></div>                  
                    <div style="margin-top:10px">
                        <img src="/static/pic/map.jpg" style="width:95%"/>
                    </div>
                    <div>
                       <div style="border-bottom:2px solid #E64025"><h3>参赛人员</h3></div>
                        <ul style="width: 80%;margin: 0 auto;">
                            <li><img /><div class="circle online"></div><div class="userName">萧峰</div></li>
                            <li><img /><div class="circle online"></div><div class="userName">张三丰</div></li>
                            <li><img /><div class="circle success"></div><div class="userName">楚留香</div></li>
                            <li><img /><div class="circle online"></div><div class="userName">杨过</div></li>
                            <li><img /><div class="circle"></div><div class="userName">段誉</div></li>
                            <li><img /><div class="circle"></div><div class="userName">李寻欢</div></li>
                            <li><img /><div class="circle"></div><div class="userName">韦小宝</div></li>
                            <li><img /><div class="circle online"></div><div class="userName">独孤求败</div></li>
                            <li><img /><div class="circle"></div><div class="userName">黄蓉</div></li>
                            <li><img /><div class="circle success"></div><div class="userName">东方不败</div></li>
                            <li><img /><div class="circle online"></div><div class="userName">张无忌</div></li>
                            <li><img /><div class="circle"></div><div class="userName">令狐冲</div></li>
                            <li><img /><div class="circle"></div><div class="userName">风清扬</div></li>
                            <li><img /><div class="circle"></div><div class="userName">陆小凤</div></li>
                            <li><img /><div class="circle"></div><div class="userName">郭靖</div></li>
                            <li><img /><div class="circle"></div><div class="userName">小龙女</div></li>
                        </ul>
                    </div>
                </div>    
           </div>
       </div>
   {% endblock %}