
{% extends "base.html" %}
     {% block content %} 
    <script type="text/javascript" src="/config.js"></script>
    <script src = "/static/js/google.js"></script>
    <script src = "/static/js/renren.js"></script>
    <script src = "/static/js/github.js"></script>
    <script src = "/static/js/qq.js"></script>
    <script src="/static/js/index.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">

    
    <div class="mainContainer">
       <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="left">
                <div class="pattern-column alignleft">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </div>
            </div>

            <div class="container">
                <span class="p-center"><h1><font >开放Hackathon</font></h1></span>
                <!-- <span class="p-center"><h1><font color="white"><img src="/pic/indexContent1.png" style="width:50%" /></font></h1></span> -->
                <!--                <span class="p-center"><b><h2><font>更方便快捷的在云端学习IT知识</font></h2></b> -->
                <!-- <span class="p-center"><h1><font color="white"><img src="/pic/indexContent2.png" style="width:50%" /></font></h1></span> -->
                </span>

                <div class="upper-home-area group">
                    <div class="home-news-area-wrapper">
                        <ul class="home-news-area group rslides rslides1" id="newsSlider" style="max-width: 1280px;">
                            <li id="rslides1_s0" class="rslides1_on">
                                <h3>ruby</h3>
                                <img width="770" height="300" src="/static/pic/ruby.jpg" class="attachment-slider-thumb wp-post-image" alt="kaiyaunshe-carousel">
                            </li>

                            <li id="rslides1_s1" class="">
                                <h3>microsoft</h3>
                                <img width="768" height="300" src="/static/pic/microsoft.jpg" class="attachment-slider-thumb wp-post-image" alt="MSOpenTechChina">
                            </li>

                            <li id="rslides1_s2" class="">
                                <h3>python</h3>
                                <img width="768" height="300" src="/static/pic/python.jpg" class="attachment-slider-thumb wp-post-image" alt="VMDepot News Image">
                            </li>

                            <li id="rslides1_s3" class="">
                                <h3>Java</h3>
                                <img width="768" height="300" src="/static/pic/JAVA.jpg" class="attachment-slider-thumb wp-post-image" alt="openJDK news">
                            </li>



                        </ul>
                        <!-- home news area rslides -->
                    </div>
                    <!-- home news area wrapper -->
                </div>





                <div class="btn-group-vertical p-center">
                    <span>
                        <h2 style="float:left;margin-top:5px;margin-right:10px">第三方登录</h2>
                        <!--<a class="btn btn-default btn-lg" id="weibologin" role="button">
                            <span class="ds-service-link ds-github">weibo</span>
                        </a>
                        <a class="btn btn-primary btn-lg" role="button" id="renrenlogin">
                            <span class="ds-service-link ds-renren">人人</span>
                        </a>-->
                        <a class="btn btn-danger btn-lg " role="button" id="qqlogin">
                            <span class="ds-service-link ds-qq">腾讯QQ</span>
                        </a>
                        <a class="btn btn-warning btn-lg" role="button" id="githublogin">
                            <span class="ds-service-link ds-google">github</span>
                        </a>
<!--
                        <a class="btn btn-success btn-lg" role="button" id="googlelogin">
                            <span class="ds-service-link ds-google">google</span>
                        </a>
                        
                        <a class="btn btn-info btn-lg" role="button" id="googlelogin">
                            <span class="ds-service-link ds-google">microsoft</span>
                        </a>
-->
                    </span>
                </div>
                <span class="p-center">
                    <b>
                        <h5>
                            建议使用环境：支持HTML5的浏览器，请尽量使用分辨率较高的宽幅显示。<br><br>
                            <i>微博登录和MAC的全面支持仍在开发测试中，请耐心等待。</i>
                        </h5>
                    </b>
                </span>
            </div>

            <div class="right">
                <div class="pattern-column alignright">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


