{% extends "hackathon.html" %}

{% block second %}

<link href="/static/css/square/blue.css" rel="stylesheet">
<link href="/static/css/second.css" rel="stylesheet">
<script src="/static/js/jquery.icheck.min.js"></script>
<script src = "/static/js/qq.js"></script>
<script src = "/static/js/second.js"></script>
{% endblock %}

{% block left %}

           <div class="left">
               <div class="top">
                   <div style="overflow:hidden;">
                        <h3 name="hackathon-div" class="clickOn">黑客马拉松活动指南</h3>
                        <h3 name="jStormApi-div">jStorm官方文档</h3>
                    </div>
                    <div>
                        <div id="hackathon-div" style="width:100%;border:1px solid #888888;height:400px;display:block">
                           <iframe id = "hackathon" src="http://www.huodongxing.com/go/msopentech_cocos2dx_hackathon" width="100%" height="400px" frameborder="yes"  marginwidth="10" marginheight="10" scrolling="yes"></iframe>
                       </div>
                       <div id="jStormApi-div" style="width:100%;border:1px solid #888888;height:400px;display:none">
                           <iframe id = "jStormApi" src="http://www.oschina.net/p/alibaba-jstorm" width="100%" height="400px" frameborder="yes"  marginwidth="10" marginheight="10" scrolling="yes" security="restricted" sandbox=""></iframe>
                        </div>
                    </div>
               </div>
               <div class="bottom">
                   <ul>
                       <li style="margin-left: 150px;"><input type="checkbox" name="JStorm" checked  disabled/><label>JStorm</label></li>
                       <li><input type="checkbox" name="RestAPI" checked  disabled/><label>RestAPI</label></li>
                   </ul>
                   <ul style="margin-top:15px">
                       <li>WEB APP</li>
                       <li><input type="radio" name="web"/><label>python</label></li>
                       <li><input type="radio" name="web"/><label>ruby</label></li>
                       <li><input type="radio" name="web"/><label>JavaScript</label></li>
                   </ul>
                   <ul style="margin-top:15px">
                       <li>Mobile APP</li>
                       <li><input type="radio" name="web"/><label>Android</label></li>
                   </ul>
                   <div style="text-align:right;margin-right: 10px;">
                       <button id="submit" name="submit" class="red" onclick="window.location.href='/third'">提交</button>
                   </div>
               </div>
           </div>

{% endblock %}