        .navbar-inverse{
            background-color: #E64025;
            border-color: #E64025;
        }
        .navbar-brand{
            margin-right: 20px;
        }
        .foot-div{
            background-color: #E64025;
            border-color: #E64025;
            color:#ffffff;
            padding:10px 0px;
        }
        .foot-div a{
            color:#ffffff;
        }
