        .left{
            width:72%;
            float:left;
        }
        .left .top{
            margin-top: 20px;
            box-shadow: 10px 10px 5px #888888;
        }
        .left .top h3{
            background-color: rgb(198, 242, 240);
            width:50%;
            float:left;
            cursor: pointer;
            -webkit-border-top-left-radius: 15px;
            -webkit-border-top-right-radius: 15px;
            -moz-border-radius-topleft: 15px;    
            -moz-border-radius-topright: 15px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            margin-top:0px;
            margin-bottom: 0px;
            text-align: center;
            padding: 10px;
        }
        .left .top .clickOn{
            background-color:#ED3E2C;
            color:#ffffff;
        }
        .left .top h3:hover{
/*            background-color: #eeeeee;*/
        }
        #hackathon{
            border: 1px solid #000;
            box-shadow: 10px 10px 5px #888888;
        }
        .left .bottom{
            margin-top:20px;
            margin-bottom:40px;
            overflow: hidden;
        }
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
            text-align: center;
        }
        ul li{
            float:left;
            line-height: 18px;
            padding-left: 20px;
            width:150px;
        }
        .left .bottom ul li div{
            float:left;
        }
        .left .bottom ul li label{
            margin-left:20px;
        }

        @-webkit-keyframes redPulse {
            from { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
            50% { background-color: #e33100; -webkit-box-shadow: 0 0 18px #e33100; }
            to { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
        }
        @keyframes  redPulse {
            from { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
            50% { background-color: #e33100; -webkit-box-shadow: 0 0 18px #e33100; }
            to { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
        }
        @-moz-keyframes redPulse {
            from { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
            50% { background-color: #e33100; -webkit-box-shadow: 0 0 18px #e33100; }
            to { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
        }
        @-o-keyframes redPulse {
            from { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
            50% { background-color: #e33100; -webkit-box-shadow: 0 0 18px #e33100; }
            to { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
        }
        
        .red {
            -webkit-animation: redPulse 2s infinite;  
            animation: redPulse 2s infinite;
            -moz-animation: redPulse 2s infinite;
            -o-animation: redPulse 2s infinite;
            
            transition: background-color 300ms ease-out;
            -moz-transition: background-color 300ms ease-out;
            -webkit-transition: background-color 300ms ease-out;
            -o-transition: background-color 300ms ease-out;
            
            border-radius: 4px;
            box-shadow: none;
            padding: 0.75em 1.5em;
            font-size: 1em;
            color: white;
            position: relative;
            text-decoration: none;
            text-align: center;
            border-style: solid;
            border-width: 0;
            cursor: pointer;
            font-family: inherit;
            font-weight: bold;
            line-height: normal;
            margin-bottom: 10px;
        }