        .left{
            width:72%;
            float:left;
        }
        .left .top{
            margin-top: 20px;
            box-shadow: 10px 10px 5px #888888;
        }
        .left .top h3{
            background-color: rgb(198, 242, 240);
            width:50%;
            float:left;
            cursor: pointer;
            -webkit-border-top-left-radius: 15px;
            -webkit-border-top-right-radius: 15px;
            -moz-border-radius-topleft: 15px;    
            -moz-border-radius-topright: 15px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            margin-top:0px;
            margin-bottom: 0px;
            text-align: center;
            padding: 10px;
        }
        .left .top .clickOn{
            background-color:#ED3E2C;
            color:#ffffff;
        }
        .left .top h3:hover{
/*            background-color: #eeeeee;*/
        }
        #hackathon{
            border: 1px solid #000;
            box-shadow: 10px 10px 5px #888888;
        }
        .left .bottom{
            margin-top:50px;
            margin-bottom:40px;
            overflow: hidden;
        }
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
            text-align: center;
        }
        ul li{
            float:left;
            line-height: 18px;
            padding-left: 20px;
            width:150px;
        }
        .left .bottom ul li div{
            float:left;
        }
        .left .bottom ul li label{
            margin-left:20px;
        }

        .left .bottom .button {
            display: inline-block;
            zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
            *display: inline;
            vertical-align: baseline;
            margin: 0 2px;
            outline: none;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            font: 14px/100% Arial, Helvetica, sans-serif;
            padding: .5em 2em .55em;
            text-shadow: 0 1px 1px rgba(0,0,0,.3);
            -webkit-border-radius: .5em;
            -moz-border-radius: .5em;
            border-radius: .5em;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
            box-shadow: 0 1px 2px rgba(0,0,0,.2);
        }
         .left .bottom .button:hover {
            text-decoration: none;
        }
         .left .bottom .button:active {
            position: relative;
            top: 1px;
        }

        .left .bottom .blue {
            color: #ffffff;
            border: solid 1px #0076a3;
            background: #0095cd;
            background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
            background: -moz-linear-gradient(top,  #00adee,  #0078a5);
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
        }
        .left .bottom .blue:hover {
            background: #007ead;
            background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
            background: -moz-linear-gradient(top,  #0095cc,  #00678e);
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
        }
        .left .bottom .blue:active {
            color: #80bed6;
            background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
            background: -moz-linear-gradient(top,  #0078a5,  #00adee);
            filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
        }
