<!DOCTYPE html>
<html lang="zh">

<head>
    <!-- start: Meta -->
    <meta property="wb:webmaster" content="{{ meta_content.weibo }}"/>
    <meta property="qc:admins" content="{{ meta_content.qq }}"/>
    {% block meta %}{% endblock %}
    <meta name="hackathon_name" content="{{ hackathon_name }}">
    <meta name="author" content="Boli Guan">
    <meta name="copyright" content="Microsoft Open Technologies Center">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- end: Meta -->
    <!-- start: CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/oh.base.css" rel="stylesheet">
    {% block style %}{% endblock %}
    <!-- end: CSS -->
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <!-- start: Favicon and Touch Icons -->
    <link rel="icon" href="/static/pic/icon.jpg">
    <!-- end: Favicon and Touch Icons -->
    {% block head %} {% endblock %}
</head>

<body>
<header class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}"><img
                    src="/static/pic/icon64.png"><span>开放黑客松</span></a>
            <!-- start: Header Menu -->
            <!-- end: Header Menu -->
        </div>
        {% include  "partials/header_menu.html" %}
    </div>
</header>
{% block content %} {% endblock %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <b>Hosted by </b><a href=http://www.msopentech.cn>Microsoft Open Technologies (Shanghai) Co. Ltd.</a>
            </div>
        </div>
    </div>
</footer>
{% include "partials/piwikd.html" %}
<script type="text/javascript" src="/config.js"></script>
<script type="text/javascript" src="/static/js/jquery/jquery-1.11.1.js"></script>
<script type="text/javascript" src="/static/js/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/js/jquery/jquery.ui-1.8.18.min.js"></script>
<script type="text/javascript" src="/static/js/jquery/jquery.validate-1.9.min.js"></script>
<script type="text/javascript" src="/static/js/jquery/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/oh.core.js"></script>
<script type="text/javascript" src="/static/js/oh.api.js"></script>
{% block script %}{% endblock %}
</body>

</html>
