<!DOCTYPE html>
<html lang="zh-de" ng-app="manageView" ng-controller="MainController">

<head>
  <!-- start: Meta -->
  <meta property="wb:webmaster" content="{{ meta_content.weibo }}" />
  <meta property="qc:admins" content="{{ meta_content.qq }}" />
  <meta name="hackathon_name" content="{{ hackathon_name }}">
  <meta name="author" content="Boli Guan">
  <meta name="copyright" content="Microsoft Open Technologies Center">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript">
  var CKEDITOR_BASEPATH = '/static/components/ckeditor/';
  (function() {
    var indexFile = (location.pathname.match(/\/(manage[^\.]*)/) || ['', ''])[1],
      rUrl = /(#!\/[^\.]*).*$/,
      baseUrl = location.href.replace(rUrl, indexFile),
      production = location.hostname === 'open-hackathon-dev.chinacloudapp.cn',
      headEl = document.getElementsByTagName('head')[0],
      sync = true;

    addTag('base', {
      href: location.origin + '/manage/'
    });
    addTag('link', {
      rel: 'stylesheet',
      href: '/static/css/bootstrap.css',
      type: 'text/css'
    });
    addTag('link', {
      rel: 'stylesheet',
      href: '/static/components/angular-ui-bootstrap/ui-bootstrap-csp.css',
      type: 'text/css'
    });
    addTag('link', {
      rel: 'stylesheet',
      href: '/static/components/ckeditor/contents.css',
      type: 'text/css'
    });
    addTag('link', {
      rel: 'stylesheet',
      href: '/static/components/ng-tags-input/ng-tags-input.css',
      type: 'text/css'
    });
    addTag('link', {
      rel: 'stylesheet',
      href: '/static/components/ng-tags-input/ng-tags-input.bootstrap.css',
      type: 'text/css'
    });
    addTag('link', {
      rel: 'stylesheet',
      href: '/static/css/oh.manage.css',
      type: 'text/css'
    });
    addTag('script', {
      src: '/static/components/angular-1.5.0/angular.js'
    }, sync);
    addTag('script', {
      src: '/static/components/angular-1.5.0/angular-resource.js'
    }, sync);
    addTag('script', {
      src: '/static/components/angular-1.5.0/angular-cookies.js'
    }, sync);
    addTag('script', {
      src: '/static/components/angular-1.5.0/angular-sanitize.js'
    }, sync);
    addTag('script', {
      src: '/static/components/angular-1.5.0/angular-messages.js'
    }, sync);
    addTag('script', {
      src: '/static/components/angular-1.5.0/angular-message-format.js'
    }, sync);
    addTag('script', {
      src: '/static/components/angular-1.5.0/angular-animate.js'
    }, sync);
    addTag('script', {
      src: '/static/components/marked-0.3.3/marked.js'
    }, sync);
    addTag('script', {
      src: '/static/components/ckeditor/ckeditor.js'
    }, sync);
    addTag('script', {
      src: '/static/components/angular-translate-2.9.0/angular-translate.js'
    }, sync);
    addTag('script', {
      src: '/static/components/angular-translate-2.9.0/angular-translate-loader-static-files.js'
    }, sync);
    addTag('script', {
      src: '/static/components/angular-translate-2.9.0/angular-translate-storage-cookie.js'
    }, sync);
    addTag('script', {
      src: '/static/components/angular-translate-2.9.0/angular-translate-storage-local.js'
    }, sync);
    addTag('script', {
      src: '/static/components/angular-ui-router/angular-ui-router.js'
    }, sync);
    addTag('script', {
      src: '/static/components/angular-ui-bootstrap/ui-bootstrap.js'
    }, sync);
    addTag('script', {
      src: '/static/components/angular-ui-bootstrap/ui-bootstrap-tpls.js'
    }, sync);
    addTag('script', {
      src: '/static/components/bootstrap-ui-datetime-picker/datetime-picker.js'
    }, sync);
    addTag('script', {
      src: '/static/components/bootstrap-ui-datetime-picker/datetime-picker.tpls.js'
    }, sync);
    addTag('script', {
      src: '/static/components/ng-tags-input/ng-tags-input.js'
    }, sync);
    addTag('script', {
      src: '/static/components/angular-1.5.0/i18n/angular-locale_zh-cn.js'
    }, sync);
    addTag('script', {
      src: '/static/components/angular-file-upload/angular-file-upload.js'
    }, sync);
    addTag('script', {
      src: '/config.js'
    }, sync);
    addTag('script', {
      src: '/static/js/manage.router.js'
    }, sync);
    addTag('script', {
      src: '/static/js/manage.filters.js'
    }, sync);
    addTag('script', {
      src: '/static/js/manage.directives.js'
    }, sync);
    addTag('script', {
      src: '/static/js/manage.providers.js'
    }, sync);
    addTag('script', {
      src: '/static/js/manage.services.js'
    }, sync);
    addTag('script', {
      src: '/static/js/manage.controller.js'
    }, sync);
    addTag('script', {
      src: '/static/js/manage.nav-data.js'
    }, sync);
    addTag('script', {
      src: '/static/js/manage.app.js'
    }, sync);


    function addTag(name, attributes, sync) {
      var el = document.createElement(name),
        attrName;

      for (attrName in attributes) {
        el.setAttribute(attrName, attributes[attrName]);
      }

      sync ? document.write(outerHTML(el)) : headEl.appendChild(el);
    }

    function outerHTML(node) {
      // if IE, Chrome take the internal method otherwise build one
      return node.outerHTML || (function(n) {
        var div = document.createElement('div'),
          h;
        div.appendChild(n);
        h = div.innerHTML;
        div = null;
        return h;
      })(node);
    }
  })();
  </script>
</head>
{% raw %}

<body keydown>
  <div id="wrapper">
    <header class="header">
      <section class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="brand navbar-brand" href="/">
              <img class="logo" ng-attr-alt="{{'NAVBAR.LOGO_ATR' | translate}}" ng-src="/static/images/logo.jpg">
            </a>
          </div>
          <div id="navbar" class="navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/" translate="NAVBAR.HOME">Home</a></li>
              <li><a href="/" translate="NAVBAR.COMMUNITY">Community</a></li>
              <li><a href="/" translate="NAVBAR.HELP">Help</a></li>
              <li class="dropdown" uib-dropdown style="display:none">
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                  <li role="menuitem"><a href="#">Action</a></li>
                  <li role="menuitem"><a href="#">Another action</a></li>
                  <li role="menuitem"><a href="#">Something else here</a></li>
                  <li role="menuitem" class="divider"></li>
                  <li role="menuitem" class="dropdown-header">Nav header</li>
                  <li role="menuitem"><a href="#">Separated link</a></li>
                  <li role="menuitem"><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </header>
    <section role="main" class="main-body">
      <div ui-view></div>
    </section>
  </div>
  <tips tip="tip"></tips>
  <div class="loading" ng-show="loading">
    <img src="/static/images/page-loading.gif">
    <div class="modal-backdrop fade in">
    </div>
  </div>
</body>

</html>
{% endraw %}
