# This is a basic workflow to help you get started with Actions

name: dotnet build and publish

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Docker meta
      id: docker_meta
      uses: crazy-max/ghaction-docker-meta@v1
      with:
        images: openhackathon/oph-server-v2  # list of Docker images to use as base name for tags
        tag-sha: true # add git short SHA as Docker tag
    
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_ACCESSTOKEN }}
      
    - name: Build and Push image
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./src/deploy/hackathon-docker/Dockerfile
        push: true
        tags: ${{ steps.docker_meta.outputs.tags }}
        sep-tags: ','
        labels: ${{ steps.docker_meta.outputs.labels }}
  
    - uses: benjlevesque/short-sha@v1.2
      id: short-sha
      with:
        length: 7
          
    - uses: azure/webapps-deploy@v2
      with:
        app-name: 'hackathon-api'
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        images: 'openhackathon/oph-server-v2:sha-${{ steps.short-sha.outputs.sha }}'
        
